@using PensionInsurance.Commands
@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel

<div id="section-contract" class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet protlet-border">
            <div class="portlet-title title-style">
                <i class="fa fa-folder-o"></i>
                <span class="caption-subject font-green bold uppercase">合同信息</span>
            </div>
            <div class="portlet-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="th-25-percent">合同编号</th>
                            <th class="th-10-percent">起始日期</th>
                            <th class="th-10-percent">结束日期</th>
                            <th class="th-10-percent">退住日期</th>
                            <th class="th-10-percent">签约销售</th>
                            <th class="th-10-percent">签约金额</th>
                            <th class="th-10-percent">状态</th>
                            <th class="th-15-percent">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CustomerContracts)
                        {
                            <tr>
                                <td>@item.ContractNo</td>
                                <td>@item.StartTime.DateString()</td>
                                <td>@item.EndTime.DateString()</td>
                                <td>@if (item.ContractStatus == ContractStatus.失效)
                                    {
                                        @item.ActualEndTime.DateString()
                                    }
                                </td>
                                <td>@item.SaleUserName</td>
                                <td>@(item.LongTermServiceCost+item.LongTermMealsCost+item.LongTermAttachCost+item.LongTermNursingCost+item.LongTermRoomCost+item.LongTermServiceMonthlyCost)</td>
                                <td>@item.ContractStatus</td>
                                <td>
                                    @if (item.ContractStatus != ContractStatus.新建)
                                    {
                                        if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.查看))
                                        {
                                            <a target="_blank" href="@Url.Action("DetailAll", "Contract", new {id = item.ContractId})" class="btn default btn-xs green-stripe">查看</a>
                                        }
                                    }
                                    @if (item.ContractStatus ==ContractStatus.待审批 || item.ContractStatus == ContractStatus.已审批)
                                    {
                                        if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.编辑合同基础信息))
                                        {
                                            <a target="_blank" href="@Url.Action("EditBasic", "Contract", new {id = item.ContractId})" class="btn default btn-xs green-stripe">编辑基础信息</a>
                                        }
                                    }
                                    @if ((item.ContractStatus == ContractStatus.已审批 || item.ContractStatus == ContractStatus.生效) && WebAppContext.Current.User.RoleTypeIs(RoleType.超级管理员))
                                    {
                                        <a href="javascript:;" data-command="@Model.PrintContractCommand(item.ContractId).ToJavascript()" target="_blank" class="btn default btn-xs blue-stripe">打印</a>
                                    }
                                    @if (item.ContractStatus == ContractStatus.生效 && PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.删除) && item.SignedOn.HasValue && item.SignedOn.Value.AddMonths(1) > DateTime.Now)
                                    {
                                        <a href="javascript:;" data-src="@Url.Action("Delete","Contract",new {ContractId = item.ContractId})" class="btn default btn-xs red-stripe contract-delete">删除</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.费用变更补充协议, Permission.查看))
{
    @Html.Partial("_CustomerContract.CostChange")
}

@if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.服务包补充协议, Permission.查看))
{
    @Html.Partial("_CustomerContract.ServicePackChange")
}

@if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.换房补充协议, Permission.查看))
{
    @Html.Partial("_CustomerContract.RoomChange")
}

<script type="text/javascript">
    var contractDeleteButtons =
    {
        confirm: {
            text: '确认删除',
            btnClass: 'btn-warning',
            action: function() {
                var js = this;
                var $form = $("#contract-delete-form");
                var contractId = $form.find("input[name=ContractId]").val();
                var customerAccountId = $form.find("input[name=CustomerAccountId]").val();
                var password = $form.find("input[name=Password]").val();
                var command = {
                    ContractId: contractId,
                    CustomerAccountId: customerAccountId,
                    Password: password
                };

                App.confirm(function() {
                    $form.postCommand('@Url.Action("Delete", "Contract")',
                            command,
                            {
                                onSuccess: function(data) {
                                    js.close();
                                    return true;
                                }
                            });
                    },
                    function() {

                    },
                    "<b style='color:#FF0000'>确认要删除合同信息，此流程不可逆!</b>");

                return false;
            }
        },
        cancel: {
            text: '取消',
            btnClass: 'btn-success'
        }
        }

    $(document).ready(function() {
        $(document).on("click", ".contract-delete", function () {
            var src = $(this).attr("data-src");
            App.dialog('#contract-delete-form', src,
                'col-md-6 col-md-offset-3', contractDeleteButtons);
        });
    });
</script>