@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using Foundation.Core
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel
<div class="row margin-top-15 margin-bottom-10">
    <div class="col-md-2">
        <!-- PORTLET MAIN -->
        <div class="light profile-sidebar-portlet">
            <div class="profile-userpic">
                @if (string.IsNullOrWhiteSpace(Model.CustomerInfo.AvatarThumbnail))
                {
                    <img src="@Url.Content("~/assets/layouts/layout/img/confirm.png")" class="img-responsive" alt="">
                }
                else
                {
                    <img src="@Url.Content(Model.CustomerInfo.AvatarThumbnail)" class="img-responsive" alt="">
                }
            </div>
        </div>
        <!-- END PORTLET MAIN -->
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3 margin-top-10">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-4 name"> 项目: </div>
                        <div class="col-md-8 value">
                            @Model.CustomerInfo.ProjectName
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-4 name"> 状态: </div>
                        <div class="col-md-8 value">
                            @(Model.CustomerType == CustomerType.请假 ? Model.ActivatedCustomerLeave.Reason : Model.CustomerType.ToString())
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin-top-10">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <div class="row static-info">
                        <div class="col-md-6 name"> 客户名称: </div>
                        <div class="col-md-6 value">
                            @Model.CustomerInfo.CustomerName
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-6 name"> 生活能力类型: </div>
                        <div class="col-md-6 value">
                            @Model.CustomerInfo.ConcernType
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin-top-10">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-5 name"> 年龄: </div>
                        <div class="col-md-7 value">
                            @Model.CustomerInfo.Birthday.ToAge()
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> 入住房间: </div>
                        <div class="col-md-7 value">
                            @(Model.CustomerInfo.RoomName + "房间" + Model.CustomerInfo.BedName + "号床")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="btn-toolbar">
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.编辑))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i> 客户
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;" class="edit-customer">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="edit-customer-avatar">
                                        <i class="fa fa-file-photo-o"></i> 照片
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-command="@Model.PrintCustomerInfo(Model.CustomerAccountId).ToJavascript()" target="_blank">
                                        <i class="fa fa-user"></i> 打印
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户亲属, Permission.新增))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm add-customer-family" href="javascript:;">
                                <i class="fa fa-users"></i> 亲属
                            </a>
                        </div>
                    }
                    @if (Model.CustomerType == CustomerType.入住 && PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户请假, Permission.新增))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm add-customer-leave" href="javascript:;">
                                <i class="fa fa-sign-out"></i> 请假
                            </a>
                        </div>
                    }
                    @if (Model.CustomerType == CustomerType.请假 && Model.ActivatedCustomerLeave != null && PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户请假, Permission.客户销假))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm back-customer-leave" data-src="@Url.Action("BackCustomerLeave", "Customer", new {customerLeaveId = Model.ActivatedCustomerLeave.Id})" href="javascript:;">
                                <i class="fa fa-sign-out"></i>销假
                            </a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户转账, Permission.转账))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm transfer-customer-account" data-showloading="true" href="@Url.Action("CreateAndSubmit", "CustomerAccountTransfer", new { customerAccountId = Model.CustomerAccountId })">
                                <i class="fa fa-sheqel"></i> 转账
                            </a>
                        </div>
                    }

                    <div class="btn-group">
                        <a class="btn green btn-sm" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-handshake-o"></i> 增值服务
                        </a>
                        <ul class="dropdown-menu">
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户点单, Permission.新增))
                            {
                                <li>
                                    <a data-showloading="true" href="@Url.Action("Create", "CustomerServiceRecord", new {customerAccountId = Model.CustomerAccountId})">
                                        <i class="fa fa-book"></i> 护理服务
                                    </a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.其他护理服务, Permission.新增))
                            {
                                <li>
                                    <a data-showloading="true" href="@Url.Action("Create", "CustomerOrderOtherService", new {customerAccountId = Model.CustomerAccountId})">
                                        <i class="fa fa fa-rmb"></i> 其他增值服务
                                    </a>
                                </li>
                            }
                        </ul>

                    </div>

                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户点餐, Permission.新增))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-cutlery"></i> 餐饮
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="customer-order-food" data-showloading="true" href="@Url.Action("Create", "CustomerOrderFood", new {customerAccountId = Model.CustomerAccountId,serviceRecordType = ServiceRecordType.记账})">
                                        <i class="fa fa-book"></i> 记账
                                    </a>
                                </li>
                                @*<li>
                                    <a class="customer-order-food" data-showloading="true" href="@Url.Action("Create", "CustomerOrderFood", new {customerAccountId = Model.CustomerAccountId,serviceRecordType = ServiceRecordType.现结})">
                                        <i class="fa fa fa-rmb"></i> 现结
                                    </a>
                                </li>*@
                            </ul>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.付款))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-credit-card"></i> 付款
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;" class="customer-pay" data-payment-type="@((int)PaymentType.现金)">
                                        <i class="fa fa-cny"></i> 现金
                                    </a>
                                </li>
                                @*<li>
                                        <a href="javascript:;" class="customer-pay" data-payment-type="@PaymentType.刷卡">
                                            <i class="fa fa-credit-card"></i> 刷卡
                                        </a>
                                    </li>*@
                                <li>
                                    <a href="javascript:;" class="customer-pay" data-payment-type="@((int)PaymentType.银行转账)">
                                        <i class="fa fa-bank"></i> 银行转账
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="customer-pay" data-payment-type="@((int)PaymentType.支票)">
                                        <i class="fa fa-money"></i> 支票
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="customer-pay" data-payment-type="@((int)PaymentType.刷卡手工)">
                                        <i class="fa fa-credit-card-alt"></i> POS（手工）
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.续签))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm contract-choose-template" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-folder"></i> 续签
                            </a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.费用变更补充协议, Permission.新增) ||
PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.服务包补充协议, Permission.新增) ||
PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.换房补充协议, Permission.新增))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-folder-o"></i> 补充协议
                            </a>
                            <ul class="dropdown-menu">
                                @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.费用变更补充协议, Permission.新增) && Model.ActivatedContract.ContractStatus != ContractStatus.失效)
                                {
                                    <li>
                                        <a class="contract-addtional" data-showloading="true" data-type="@((int)ContractAddtionalType.费用变更补充协议)" data-href="@Url.Action("Create", "ContractCostChange", new {contractId = Model.ActivatedContract.ContractId})" href="javascript:;">
                                            <i class="fa fa-rmb"></i> 费用变更补充协议
                                        </a>
                                    </li>
                                }
                                @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.服务包补充协议, Permission.新增) && Model.ActivatedContract.ContractStatus != ContractStatus.失效)
                                {
                                    <li>
                                        <a class="contract-addtional" data-showloading="true" data-type="@((int)ContractAddtionalType.服务包补充协议)" data-href="@Url.Action("Create", "ContractServicePackChange", new {contractId = Model.ActivatedContract.ContractId})" href="javascript:;">
                                            <i class="fa fa-handshake-o"></i> 服务包补充协议
                                        </a>
                                    </li>
                                }
                                @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.换房补充协议, Permission.新增) && Model.ActivatedContract.ContractStatus != ContractStatus.失效)
                                {
                                    <li>
                                        <a class="contract-addtional" data-showloading="true" data-type="@((int)ContractAddtionalType.换房补充协议)" data-href="@Url.Action("Create", "ContractRoomChange", new {contractId = Model.ActivatedContract.ContractId})" href="javascript:;">
                                            <i class="fa fa fa-bed"></i> 换房补充协议
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.退住))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm customer-move-out" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-blind"></i> 退住
                            </a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.账单减免))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm update-customer-Bill" data-showloading="true" href="@Url.Action("Create", "ReliefBill", new { customerAccountId = Model.CustomerAccountId})">
                                <i class="fa fa-rmb"></i> 账单减免
                            </a>
                        </div>
                    }
                    @*@if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.事故事件上报))
                        {
                            <div class="btn-group">
                                <a class="btn green btn-sm update-customer-Bill" data-showloading="true" href="@Url.Action("Create", "CustomerAccident", new {customerAccountId = Model.CustomerAccountId})">
                                    <i class="fa fa-warning"></i> 事故/事件上报
                                </a>
                            </div>
                        }*@
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户医嘱, Permission.新增))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-medkit"></i> 医嘱
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="Create-Customer-MedicalAdvice" data-showloading="true" data-type="@((int)MedicalAdviceType.临时医嘱)" href="javascript:;">
                                        <i class="fa fa-medkit"></i> 临时医嘱
                                    </a>
                                </li>
                                <li>
                                    <a class="Create-Customer-MedicalAdvice" data-showloading="true" data-type="@((int)MedicalAdviceType.长期医嘱)" href="javascript:;">
                                        <i class="fa fa-medkit"></i> 长期医嘱
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    @*<div class="btn-group">
                        <a href="javascript:;" data-command="@Model.BindBeacon(Model.CustomerId).ToJavascript()" target="_blank">
                            <i class="fa fa-user"></i> 绑定胸牌
                        </a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var customerMoveOutButtons =
        {
            confirm: {
                text: '确认退住',
                btnClass: 'btn-warning',
                action: function () {
                    var js = this;
                    var $form = $("#customer-move-out-form");
                    var checkOutDate = $form.find("input[name=CheckOutDate]").val();
                    var description = $form.find("textarea[name=Description]").val();
                    var contractId = $form.find("input[name=ContractId]").val();
                    var customerId = $form.find("input[name=CustomerId]").val();
                    var customerAccountId = $form.find("input[name=CustomerAccountId]").val();
                    var moveOutReason = $form.find("select[name=MoveOutReason]").val();
                    var contact = $form.find("input[name=Contact]").val();
                    var contactPhone = $form.find("input[name=ContactPhone]").val();
                    var command = {
                        ContractId: contractId,
                        CheckOutDate: checkOutDate,
                        Description: description,
                        CustomerId: customerId,
                        CustomerAccountId: customerAccountId,
                        MoveOutReason: moveOutReason,
                        Contact: contact,
                        ContactPhone: contactPhone
                    };

                    App.confirm(function () {
                        $form.postCommand('@Url.Action("MoveOut", "Contract")', command, {
                            onSuccess: function (data) {
                                js.close();
                                return true;
                            }
                        });
                    }, function () {

                    }, "@(Model.CustomerInfo.CustomerName)退住日期为：<br/>" + checkOutDate + "<br/><b style='color:#FF0000'>确认点单信息已全部录入完成，此流程不可逆!</b>");

                    return false;
                }
            },
            cancel: {
                text: '取消',
                btnClass: 'btn-success'
            }
        }

    $(document).ready(function () {

        $(document)
            .on("click", ".Create-Customer-MedicalAdvice", function () {
                var $this = $(this);
                var medicalAdviceType = $this.attr("data-type");
                App.dialog('#MedicalAdvice-create-form', '@Url.Action("Create", "CustomerMedicalAdvice", new { customerAccountId = Model.CustomerAccountId})' + '&medicalAdviceType=' + medicalAdviceType);
            });



        $(document)
            .on("click",
                ".customer-move-out",
                function () {
                    App.dialog('#customer-move-out-form',
                        '@Url.Action("MoveOut", "Contract", new {id = Model.ActivatedContract.ContractId})',
                        'col-md-6 col-md-offset-3',
                        customerMoveOutButtons);
                })
            @*.on("click",
                ".update-customer-Bill",
                function() {

                    $.get("@Url.Action("GetCustomerBill", "Bill", new { customerAccountId = Model.CustomerAccountId })",
                        function(result) {
                            if (!result.success) {
                                App.alert({ title: "操作失败", content: "<h5>" + result.message + "</h5>" });
                                return;
                            } else {
                                window.location.href = result.redirect;
                                return;
                            }
                        });
                })*@
            .on("click",
                ".contract-addtional",
                function () {
                    var $this = $(this);
                    var addtionalType = $this.attr("data-type");
                    var url = $this.attr("data-href");
                    $.get(
                        "@Url.Action("ValidateContractAddtional", "Contract", new { customerAccountId = Model.CustomerAccountId })" +
                        "&AddtionalType=" +
                        addtionalType,
                        function (result) {
                            if (!result.success) {
                                App.alert({ title: "操作失败", content: "<h5>" + result.message + "</h5>" });
                                return;
                            }
                            window.location.href = url;
                        });
                }).on("click",
                ".contract-choose-template",
                function () {
                    App.dialog('#contarct-template-form',
                        '@Html.Raw(Url.Action("ChooseContractTemplate", "Contract", new { customerId = Model.CustomerId,isReNew = true, customerAccountId = Model.CustomerAccountId }))');
                });
    });
</script>