@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel

@if (Model.CustomerAccountTransferList.Any() && PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.转账))
{
    <div id="section-customer-refund" class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="portlet protlet-border">
                <div class="portlet-title title-style">
                    <i class="fa fa-sheqel"></i>
                    <span class="caption-subject font-green bold uppercase">转账信息</span>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="th-15-percent">收款人姓名</th>
                        <th class="th-10-percent">转账金额</th>
                        <th class="th-10-percent">转账时间</th>
                        <th class="th-10-percent">转账原因</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.CustomerAccountTransferList)
                    {
                        <tr>
                            <td style="white-space: nowrap;">@item.TransferTo.Customer.Name</td>
                            <td>@item.TransferAmount</td>
                            <td>@(item.TransferDate?.DateString())</td>
                            <td>@item.Reason</td>
                            <td><a href="@Url.Action("Detail", "CustomerAccountTransfer", new {id = item.Id})" class="btn default btn-xs green-stripe">查看</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}