@model PensionInsurance.Web.Views.CustomerFamily.EditViewModel
@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
<form id="customer-family-edit-form" data-ajax="true" action="@Url.Action("Edit", "CustomerFamily")" method="POST" class="form-horizontal" data-refresh="#customer-family-items">      
   <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">编辑亲属信息</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="form-body">
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">姓名</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.Name)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">性别</label>
                                            <div class="col-md-8">
                                                @Html.EnumTextDropDownListFor(m => m.Sex, typeof (Sex), true)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->

                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">关系</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Ship, SettingType.与被送养人关系, true)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">证件号</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.IDCardNo)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">手机号码</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.MobilePhone)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">固定电话</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.Tel)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">工作单位</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.WorkUnit)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">电子邮箱</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.Mailbox)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">地址</label>
                                            <div class="col-md-10">
                                                @Html.InputText(m => m.Address)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.CustomerId)
                            @Html.Hidden("Id")
                            <div class="errors alert alert-danger fade in" style="display: none;"></div>
                        </div>
                    </div> 
</form>


