@using Foundation.Core
@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel

<div id="section-contract-room-change" class="row">
    <div class="col-md-12">
        <div id="room-changes" class="portlet protlet-border">
            <div class="portlet-title title-style">
                <i class="fa fa-bed"></i>
                <span class="caption-subject font-green bold uppercase">换房补充协议</span>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="th-25-percent">合同编号</th>
                            <th class="th-10-percent">换房日期</th>
                            <th class="th-10-percent">结束日期</th>
                            <th class="th-10-percent">房间号</th>
                            <th class="th-10-percent">是否包房</th>
                            <th class="th-10-percent">独立月费</th>
                            <th class="th-10-percent">状态</th>
                            <th class="th-15-percent">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ContractRoomChanges)
                        {
                            <tr>
                                <td>@item.ContractRoomChangeNo</td>
                                <td>@item.ChangeDate.DateString()</td>
                                <td>@item.ChangeEndDate.DateString()</td>
                                <td>@item.NewRoomName</td>
                                @if (item.NewIsCompartment)
                                {
                                    <td>包房</td>
                                }
                                else
                                {
                                    <td>单床</td>
                                }

                                <td>@((item.LongMeals + item.LongRoomRate).FormatString())</td>
                                <td>@item.Status</td>
                                <td>
                                    @if (item.Status != ContractAddtionalStatus.新建)
                                    {
                                        if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.查看))
                                        {
                                            <a href="@Url.Action("Detail", "ContractRoomChange", new {id = item.Id})" class="btn default btn-xs yellow-stripe">查看</a>
                                        }
                                    }
                                    @if (item.Status == ContractAddtionalStatus.生效 && item.IsLockedAttachment != true)
                                    {
                                        if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.补录附件))
                                        {
                                            <a href="@Url.Action("UploadAdditional", "ContractCostChange", new {ralatedId = item.Id, type = AdditionalType.换房变更协议, customerAccountId = Model.CustomerAccountId})" class="btn default btn-xs green-stripe">补录附件</a>
                                        }
                                    }
                                    @if ((item.Status == ContractAddtionalStatus.已审批 || item.Status == ContractAddtionalStatus.生效) && PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.合同补充协议补打印))
                                    {
                                        <a href="javascript:;" data-command="@Model.PrintRoomChange(item.Id).ToJavascript()" target="_blank" class="btn default btn-xs blue-stripe">打印</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
