@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel

<div id="section-customer-living" class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> 序号 </th>
                                <th> 日期 </th>
                                <th> 时间 </th>
                                <th> 项目 </th>
                                <th> 状态 </th>
                                <th> 说明 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CustomerLivingHistories)
                            {
                                <tr>
                                    <td> @Model.CustomerLivingHistories.RowNumberOf(item) </td>
                                    <td> @item.RecordingDate.DateString() </td>
                                    <td> @item.RecordingDate.ToShortTimeString()</td>
                                    <td> @item.Project.Name</td>
                                    <td> @item.CustomerLivingStatus.ToString()</td>
                                    <td> @item.CustomerLivingExplaination.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
