@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.EditViewModel

<form id="customer-info-edit-form" data-ajax="true" action="@Url.Action("EditCustomer", "Customer")" method="POST" class="form-horizontal">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-green-sharp"></i>
                <span class="caption-subject font-green-sharp sbold">编辑客户信息</span>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <!--/span-->
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">姓名</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.Name, new { @class = "form-control", @readonly = true })
                                @Html.HiddenFor(m => m.Id)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">性别</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.Sex, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/span-->
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">证件号</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.IDCard, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">生日</label>
                            <div class="col-md-8">
                                @Html.InputDate(m => m.Birthday)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">民族</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.Nationality, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">信仰</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.Faith, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">地址</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.Address)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">医学诊断</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.Diagnosis)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">定点医院</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.DesignatedHospital)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">主要用药</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.MainlyPharmacy)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">潜在风险</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.PotentialRisk)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">教育经历</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.Education)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">语言方言</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.Language)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">工作经历</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.Work)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">性格特点</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.Character)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">禁忌</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.TabooSubject)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">过敏史</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.AllergyHistory)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">最喜欢的人</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.FavouritePerson)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">最喜欢的食物</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.FavouriteFood)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">最喜欢的事</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.FavouriteThing)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">最喜欢的地方</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.FavouritePlace)
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">听力</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Hearing)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">视力</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Vision)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">味觉</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Taste)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">记忆力</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Memory)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">定向力</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Direction)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">决策能力</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Decision)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">卫生</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Hygiene)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">活动</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Movement)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">药品管理</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.MedicineControl)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">洗澡</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Bath)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">转移</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Transfermation)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">进食</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Eating)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">洗衣</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Laundry)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">着装</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Dress)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">如厕</label>
                        <div class="col-md-10">
                            @Html.InputText(m => m.UseToilet)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">起床时间</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.WakeUpTime)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">午睡时间</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.SiestaTime)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">入睡时间</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.SleepTime)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">饮酒</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.DrinkAlcohol)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">吸烟</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Smoke)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">嗜好</label>
                        <div class="col-md-8">
                            @Html.InputText(m => m.Hobby)
                        </div>
                    </div>
                </div>
            </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">照护需求</label>
                            <div class="col-md-10">
                                <textarea class="form-control" style="min-height: 120px;" name="CareDemand">@Model.CareDemand</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">饮食禁忌</label>
                            <div class="col-md-10">
                                <textarea class="form-control" style="min-height: 120px;" name="DietaryRestrictions">@Model.DietaryRestrictions</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="errors alert alert-danger fade in" style="display: none;"></div>
</form>

<script type="text/javascript">
    $('input[name="Birthday"]').datepicker({
        autoclose: true,
        language: "zh-CN"
    });
</script>