@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel

<div id="section-contract-service-pack-change" class="row">
    <div class="col-md-12">
        <div id="service-change-items" class="portlet protlet-border">
            <div class="portlet-title title-style">
                <i class="fa fa-handshake-o"></i>
                <span class="caption-subject font-green bold uppercase">服务包补充协议</span>
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="th-25-percent">合同编号</th>
                            <th class="th-10-percent">变更日期</th>
                            <th class="th-10-percent">结束日期</th>
                            <th class="th-10-percent">评估级别</th>
                            <th class="th-10-percent">服务包等级</th>
                            <th class="th-10-percent">总费</th>
                            <th class="th-10-percent">状态</th>
                            <th class="th-15-percent">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ContractServicePackChanges)
                            {
                                <tr>
                                    <td>@item.ContractServicePackChangeNo</td>
                                    <td>@item.ChangeDate.DateString()</td>
                                    <td>@item.ChangeEndDate.DateString()</td>
                                    <td>@item.ConcernType</td>
                                    <td>@item.ServiceLevel</td>
                                    <td>@(item.LongServiceMonthlyAmount + item.LongConcernAmount + item.LongAttachAmount)</td>
                                    <td>@item.Status</td>
                                    <td>
                                        @if (item.Status != ContractAddtionalStatus.新建)
                                        {
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.查看))
                                            {
                                                <a href="@Url.Action("Detail", "ContractServicePackChange", new {id = item.Id})" class="btn default btn-xs yellow-stripe">查看</a>
                                            }
                                        }
                                        @if (item.Status == ContractAddtionalStatus.生效 && item.IsLockedAttachment !=true)
                                        {
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.补录附件))
                                            {
                                                <a href="@Url.Action("UploadAdditional", "ContractCostChange", new {ralatedId = item.Id, type = AdditionalType.服务包变更协议, customerAccountId = Model.CustomerAccountId})" class="btn default btn-xs green-stripe">补录附件</a>
                                            }
                                        }
                                        @if ((item.Status == ContractAddtionalStatus.已审批 || item.Status == ContractAddtionalStatus.生效) && PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.合同补充协议补打印))
                                        {
                                            <a href="javascript:;" data-command="@Model.PrintServicePackChange(item.Id).ToJavascript()" target="_blank" class="btn default btn-xs blue-stripe">打印</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>