@using Foundation.Core
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">房间号</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.RoomName
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">姓名</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.CustomerName
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">客户生日</label>
                            <div class="col-md-8">
                                @(Model.CustomerInfo.Birthday?.DateString())
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">性别</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Sex
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">客户编号</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.IDCard
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">信仰</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Faith
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">入住日期</label>
                            <div class="col-md-8">
                                @{
                                var checkedInDate = Model.CustomerInfo.CheckedInDate.HasValue ? Model.CustomerInfo.CheckedInDate.Value.ToString("yyyy-MM-dd") : string.Empty;
                                }
                                @checkedInDate
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">民族</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Nationality
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2">地址</label>
                            <div class="col-md-10">
                                @Model.CustomerInfo.Address
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2">医学诊断</label>
                            <div class="col-md-10">
                                @Model.CustomerInfo.Diagnosis
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2">定点医院</label>
                            <div class="col-md-10">
                                @Model.CustomerInfo.DesignatedHospital
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2">主要用药</label>
                            <div class="col-md-10">
                                @Model.CustomerInfo.MainlyPharmacy
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2">潜在风险</label>
                            <div class="col-md-10">
                                @Model.CustomerInfo.PotentialRisk
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2">过敏史</label>
                            <div class="col-md-10">
                                @Model.CustomerInfo.AllergyHistory
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2">照护需求</label>
                            <div class="col-md-10">
                                @Model.CustomerInfo.CareDemand
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2">饮食禁忌</label>
                            <div class="col-md-10">
                                @Model.CustomerInfo.DietaryRestrictions
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b class="col-md-6 font-md"><span class="caption-subject font-green bold uppercase">教育与工作</span></b>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">教育经历</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Education
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">语言方言</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Language
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">工作经历</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Work
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b class="col-md-6 font-md"><span class="caption-subject font-green bold uppercase">性格与爱好</span></b>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">性格特点</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Character
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">禁忌</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.TabooSubject
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">最喜欢的人</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.FavouritePerson
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">最喜欢的食物</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.FavouriteFood
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">最喜欢的事</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.FavouriteThing
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">最喜欢的地方</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.FavouritePlace
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b class="col-md-6 font-md"><span class="caption-subject font-green bold uppercase">感官认知</span></b>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-10">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">视力</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Vision
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">听力</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Hearing
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">味觉</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Taste
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">记忆力</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Memory
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">定向力</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Direction
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">决策能力</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Decision
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b class="col-md-6 font-md"><span class="caption-subject font-green bold uppercase">生活能力</span></b>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-10">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">卫生</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Hygiene
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">活动</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Movement
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">药品管理</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.MedicineControl
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">洗澡</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Bath
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">转移</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Transfermation
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">进食</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Eating
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">洗衣</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Laundry
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">着装</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Dress
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">如厕</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.UseToilet
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b class="col-md-6 font-md"><span class="caption-subject font-green bold uppercase">生活习惯</span></b>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">起床时间</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.WakeUpTime
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">午休时间</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.SiestaTime
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">入睡时间</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.SleepTime
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">饮酒</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.DrinkAlcohol
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">吸烟</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Smoke
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">嗜好</label>
                            <div class="col-md-8">
                                @Model.CustomerInfo.Hobby
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>