@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel
<div id="section-contract-cost-change" class="row">
    <div class="col-md-12">
        <div id="cost-change-items" class="portlet protlet-border">
           
            <div class="portlet-body">
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="th-25-percent">医嘱类型</th>
                                <th class="th-10-percent">开始日期</th>
                                <th class="th-10-percent">停止日期</th>
                                <th class="th-10-percent">医嘱内容</th>
                                <th class="th-10-percent">是否药品</th>
                                <th class="th-10-percent">填开医生</th>
                                <th class="th-10-percent">备注</th>
                                <th class="th-10-percent">状态</th>
                                <th class="th-15-percent">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CustomerMedicalAdvices)
                            {
                                <tr>
                                    <td>@item.MedicalAdviceType</td>
                                    <td>@item.StartTime</td>
                                    <td>@item.EndTime</td>
                                    <td>@item.MedicalAdviceContent</td>
                                    <td>@(item.IsDrugs ?"是":"否")</td>
                                    <td>@item.StartDoctor.RealName</td>
                                    <td class="tooltips" data-container="body" data-placement="top" data-original-title=""></td>
                                    <td>@item.Status</td>
                                    <td>
                                        @if (item.Status == MedicalAdviceStatus.新建)
                                        {
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户医嘱, Permission.医嘱生效确认))
                                            {
                                                <a href="javascript:;" data-command="@Model.NurseConfirmedMedicalAdviceCommand(item.Id).ToJavascript()" class="btn default btn-xs blue-stripe">护士确认</a>
                                            }
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户医嘱, Permission.编辑))
                                            {
                                                <a href="javascript:;" onclick="EditCustomerMedicalAdvice(@item.Id)" class="btn default btn-xs yellow-stripe">编辑</a>
                                            }
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户医嘱, Permission.删除))
                                            {
                                                <a href="javascript:;" data-command="@Model.DeleteMedicalAdviceCommand(item.Id).ToJavascript()" class="btn default btn-xs red-stripe">删除</a>
                                            }
                                        }
                                        else if (item.Status == MedicalAdviceStatus.生效)
                                        {
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户医嘱, Permission.医嘱作废))
                                            {
                                                <a href="javascript:;" onclick="DiscardMedicalAdvice(@item.Id)" class="btn default btn-xs red-stripe">作废</a>
                                            }
                                            if (item.StartTime.HasValue && item.StartTime.Value.Date == DateTime.Now.Date && item.IsDrugs && WebAppContext.Current.User.HasPermission(ModuleType.客户用药单, Permission.新增))
                                            {
                                                <a href="javascript:;" data-command="@Model.GenerateDrugsOrderMedicalAdviceCommand(item.Id).ToJavascript()" class="btn default btn-xs blue-stripe">生成用药单</a>
                                            }
                                        }
                                        else if (item.Status == MedicalAdviceStatus.作废待确认)
                                        {
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户医嘱, Permission.医嘱作废确认))
                                            {
                                                <a href="javascript:;" data-command="@Model.NurseConfirmedDiscardMedicalAdviceCommand(item.Id).ToJavascript()" class="btn default btn-xs red-stripe">确认作废</a>
                                            }
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal small fade" id="discard-medical-advice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:400px;">
        <form data-ajax="true" action="#" method="POST" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>作废医嘱信息
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="text-right col-md-3">医嘱类型</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="MedicalAdviceType" disabled="disabled"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-right col-md-3">遗嘱内容</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="MedicalAdviceContent" disabled="disabled"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-right col-md-3">填开医生</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="StartDoctor" disabled="disabled"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-right col-md-3">作废日期</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control form-control-inline" id="EndTime" name="EndTime"  data-date-format="yyyy-mm-dd hh:ii">
                                                <input type="hidden" id="CustomerMedicalAdviceId" name="CustomerMedicalAdviceId" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="errors alert alert-danger fade in" style="display: none;"></div>
                                <div class="row">
                                    <p>
                                        <div class="text-center">
                                            <button class="btn green btn-sm padding-lf-15">确认</button>
                                            <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">取消</button>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<script>
    function EditCustomerMedicalAdvice(id) {
        App.dialog('#MedicalAdvice-edit-form', '../CustomerMedicalAdvice/Edit?id='+id);
    }

    //作废医嘱弹窗
    function DiscardMedicalAdvice(id) {
        var confirmPaymentInfo = $('#discard-medical-advice');
        $.get("@Url.Action("Discard", "CustomerMedicalAdvice")" + "/" + id, function (result) {
            confirmPaymentInfo.modal('show');
            confirmPaymentInfo.find("form").attr("action", "@Url.Action("Discard", "CustomerMedicalAdvice", new {returnUrl = Request.Url})");
            setFormValues(result);
        });
    }

    $(document).ready(function () {
        $('#EndTime').datetimepicker({
            autoclose: true,
            todayBtn: true,
            language: "zh-CN"
        });
        //st
        $('#st').timepicker({
            autoclose: true,
            todayBtn: true,
            language: "zh-CN",
            minuteStep: 5,
            showSeconds: false,
            showMeridian: false
        });
    });
</script>