@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel
<div id="section-contract-cost-change" class="row">
    <div class="col-md-12">
        <div id="cost-change-items" class="portlet protlet-border">

            <div class="portlet-body">
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="th-25-percent">药品名称</th>
                                <th class="th-10-percent">单次剂量</th>
                                <th class="th-10-percent">给药途径</th>
                                <th class="th-10-percent">服药日期</th>
                                <th class="th-10-percent">服药时间</th>
                                <th class="th-10-percent">填开医生</th>
                                <th class="th-10-percent">状态</th>
                                <th class="th-15-percent">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CustomerPrescriptions)
                            {
                                <tr>
                                    <td>@item.CustomerMedicalAdvice.MedicalAdviceContent</td>
                                    <td>@item.CustomerMedicalAdvice.Dose</td>
                                    <td>@item.CustomerMedicalAdvice.RouteOfAdministration</td>
                                    <td>@item.UsingDate.ToShortDateString()</td>
                                    <td>@item.UsingTime</td>
                                    <td>@item.CustomerMedicalAdvice.StartDoctor.RealName</td>
                                    <td>@item.Status</td>
                                    <td>
                                        @if (item.Status == PrescriptionStatus.新建)
                                        {
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户用药单, Permission.摆药确认))
                                            {
                                                <a href="javascript:;" data-command="@Model.ConfirmPrescriptionOfferCommand(item.Id).ToJavascript()" class="btn default btn-xs blue-stripe">摆药确认</a>
                                            }
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户用药单, Permission.删除))
                                            {
                                                <a href="javascript:;" data-command="@Model.DeletePrescriptionCommand(item.Id).ToJavascript()" class="btn default btn-xs red-stripe">删除</a>
                                            }

                                        }
                                        @if (item.Status == PrescriptionStatus.已摆药 && PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户用药单, Permission.发药确认))
                                        {
                                            <a href="javascript:;" data-command="@Model.ConfirmDispensingCommand(item.Id).ToJavascript()" class="btn default btn-xs yellow-stripe">发药确认</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    });
</script>