@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.DetailViewModel

<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>账单类型</th>
                        <th>账单日期</th>
                        <th>合同编号</th>
                        <th>账单状态</th>
                        <th>账单金额</th>
                        <th>已缴金额</th>
                        <th>未缴金额</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.CustomerBillDetails)
                    {
                        <tr>
                            <td>@item.BillType.ToString()</td>
                            <td style="white-space: nowrap;">@item.BillDate</td>
                            <td>@item.ContractNo</td>
                            <td>@item.Status</td>
                            <td>@item.ActualPaymentCost</td>
                            <td>@item.PaidCost</td>
                            <td>@item.Arrears</td>
                            <td>
                                @if (WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.客户信息查看客户账单) && (item.BillType==BillType.正式账单 || item.BillType == BillType.调整账单 || item.BillType == BillType.减免账单))
                                {
                                    <a target="_blank" href="@Url.Action("Detail", "Bill", new {Id = item.Id})" class="btn default btn-xs green-stripe">查看</a>
                                }
                            </td>
                        </tr>
                    }
                    <tr class="highlight">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>合计</td>
                        <td>@Model.CustomerBillDetails.Sum(x => x.ActualPaymentCost)</td>
                        <td>@Model.CustomerBillDetails.Sum(x => x.PaidCost)</td>
                        <td>@Model.CustomerBillDetails.Sum(x => x.Arrears)</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">现结餐饮账单列表</span>
                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>餐饮类型</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>账单状态</th>
                            <th>账单金额</th>
                            <th>已缴金额</th>
                            <th>未缴金额</th>
                            <th>待确认金额</th>
                            <th>备注</th>
                            <th>录入人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.CashPaidOrderFoods)
                        {
                            <tr>
                                <td>@item.CreatedOn.ToString("yyyy-MM-dd")</td>
                                <td>@item.ProjectServicePackCatalog.ServicePackCatalog.Name</td>
                                <td>@item.UnitPrice.FormatString()</td>
                                <td>@Decimal.ToInt32(item.ServiceAmount)</td>
                                <td>
                                    @{
                                    var status = item.Status ? "已完成" : "未完成";
                                }@status
                            </td>

                                <td>@item.Total.FormatString()</td>
                                <td>@item.PaidMoney.FormatString()</td>
                                <td>
                                    @{
                                        var unPaidMoney = (item.Total - item.PaidMoney).FormatString();
                                    }
                                    @unPaidMoney
                                </td>
                                <td>
                                    0.00
                                </td>
                                <td>@item.Remark</td>
                                

                                <td>@item.CreatedBy</td>
                                <td>
                                    @if (item.Total != item.PaidMoney)
                                    {
                                        if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.现结餐费账单管理, Permission.删除) && PensionInsurance.Shared.WebAppContext.Current.User.Username.Equals(item.CreatedBy, StringComparison.CurrentCultureIgnoreCase))
                                        {
                                            <a href="javascript:;" data-command="@Model.DeleteCashPaidOrderFoodCommand(item.Id).ToJavascript()" class="btn default btn-xs red-stripe">删除</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@