@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.CustomerLivingHistoryViewModel
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index","Customer")">客户管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>客户入住统计</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"></h3>
<!-- END PAGE TITLE-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>客户入住查询
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("CustomerLivingHistory","Customer")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">

                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户名称</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Query.CustomerName" value="@Model.Query.CustomerName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button type="submit" class="btn green">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div id="section-customer-living" class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">客户入住记录</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> 序号 </th>
                                <th> 客户 </th>
                                <th> 日期 </th>
                                <th> 时间 </th>
                                <th> 项目 </th>
                                <th> 状态 </th>
                                <th> 说明 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CustomerLivingHistories)
                            {
                                <tr>
                                    <td> @Model.CustomerLivingHistories.RowNumberOf(item) </td>
                                    <td> @item.Customer.Name </td>
                                    <td> @item.RecordingDate.Date.ToShortDateString() </td>
                                    <td> @item.RecordingDate.ToShortTimeString()</td>
                                    <td> @item.Project.Name</td>
                                    <td> @item.CustomerLivingStatus.ToString()</td>
                                    <td> @item.CustomerLivingExplaination.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Partial("_Pagination", Model.CustomerLivingHistories)
                </div>
            </div>
        </div>
    </div>
</div>