@using Foundation.Core
@using Foundation.Web.Mvc
@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Customer.IndexViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/jstree/dist/themes/default/style.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
}
<!-- END PAGE BAR -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>客户信息查询
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("IndexCheckIn","Customer")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目</label>
                                    <div class="col-md-9">
                                        <select name="Query.ProjectId" class="form-control input-xs">
                                            @if (WebAppContext.Current.User.GetAllowedProjects().Count > 1)
                                            {
                                                <option value="">全部</option>
                                            }
                                            @foreach (var project in WebAppContext.Current.User.GetAllowedProjects())
                                            {
                                                <option value="@project.Id" @(project.Id == Model.Query.ProjectId ? "selected" : "")>@project.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户姓名</label>
                                    <div class="col-md-9">
                                        @Html.InputText(x => x.Query.CustomerName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">房间号</label>
                                    <div class="col-md-9">
                                        @Html.InputText(x => x.Query.RoomName)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-center"><button type="submit" class="btn green btn-sm padding-lf-15 " data-showloading="true">查询</button></div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="tabbable-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                        <a data-showloading="true" href="@Url.Action("IndexCheckIn", "Customer", Model.Query)"> 入住客户 </a>
                    </li>
                    <li class="">
                        <a data-showloading="true" href="@Url.Action("IndexCheckOut", "Customer", Model.Query)"> 退住客户 </a>
                    </li>
                    <li class="">
                        <a data-showloading="true" href="@Url.Action("IndexAll", "Customer", Model.Query)"> 全部 </a>
                    </li>
            </ul>
                <div class="tab-content">
                    <div class="table table-scrollable">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>入住项目</th>
                                <th>客户编号</th>
                                <th>客户姓名</th>
                                <th>客户性别</th>
                                <th>客户年龄</th>
                                <th>入住房间</th>
                                <th>是否包房</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.CustomerCheckInDetails)
                            {
                                <tr>
                                    <td style="white-space: nowrap;">@item.ProjectName</td>
                                    <td>@item.CustomerNo</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.Sex</td>
                                    <td>@item.Birthday.ToAge()</td>
                                    <td>@item.RoomName</td>
                                    @if (item.ActualIsCompartment)
                                    {
                                        <td>包房</td>
                                    }
                                    else
                                    {
                                        <td>单床</td>
                                    }
                                    <td>
                                        @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.客户信息查看入住客户))
                                        {
                                            <a href="@Url.Action("Detail", "Customer", new {customerAccountId = item.CustomerAccountId})" class="btn default btn-xs blue-stripe">查看</a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    @Html.Partial("_Pagination", Model.CustomerCheckInDetails)
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
        <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
        <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
        <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
        <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
        <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js") type="text/javascript"></script>
        <script src=@Url.Content("~/assets/global/plugins/clockface/js/clockface.js") type="text/javascript"></script>
        <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
        <script src=@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js") type="text/javascript"></script>
    }