@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@using PensionInsurance.Shared
@model PensionInsurance.Web.Views.SystemSetting.Setting.IndexViewModel
@section Styles{

}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">系统设置</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>数据字典管理</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"></h3>
<!-- END PAGE TITLE-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>数据字典查询
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Index", "Setting", new { page = Model.Settings.Page, pageSize = Model.Settings.PageSize })" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">类型</label>
                                    <div class="col-md-9">
                                        <select name="Query.SettingType" class="form-control input-small">
                                            @foreach (var item in Enum.GetValues(typeof(SettingType)))
                                            {
                                                if ((SettingType)item == Model.Query.SettingType)
                                                {
                                                    <option selected="selected">@item.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option>@item.ToString()</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">名称</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Query.SettingName" value="@Model.Query.SettingName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button type="submit" class="btn green">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">数据字典列表</span>
                </div>
                <div class="actions">
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.数据字典管理, Permission.新增))
                    {
                        <a href="@Url.Action("Create", "Setting")" class="btn green">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            新增
                        </a>
                    }
                </div>
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> 序号 </th>
                                <th> 类型 </th>
                                <th> 名称 </th>
                                <th> 描述 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Settings)
                            {
                                <tr>
                                    <td> @Model.Settings.RowNumberOf(item)</td>
                                    <td> @item.Type </td>
                                    <td> @item.Name </td>
                                    <td> @item.Description </td>
                                    <td>
                                        @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.数据字典管理, Permission.删除))
                                        {
                                            <a href="javascript:;" data-command="@Model.DeleteCommand(item.Id).ToJavascript()" class="btn default btn-xs red-stripe">
                                                删除
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Partial("_Pagination", Model.Settings)
                </div>
            </div>
        </div>
    </div>
</div>