@using PensionInsurance.Query
@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.Collecting.CollectingProductStockViewModel
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("CollectingProductStock", "Collecting", new { ProjectId = Model.Query.ProjectId })">出库单</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>出库商品</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>商品列表
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("SelectProductToCollect", "Collecting")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            @Html.HiddenFor(m => m.Query.ProjectId)
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">名称</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Query.ProductName" value="@Model.Query.ProductName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">商品分类</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" disabled id="productCategoryText" value="@Model.CategoryText" placeholder="选择分类">
                                            <input id="productCategoryId" type="hidden" name="Query.ProductCategoryId" value="@Model.Query.ProductCategoryId" />
                                            <span id="getCategories" class="input-group-addon" style="padding: 3px 12px;">
                                                <i class="fa fa-bars font-red"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">供应商</label>
                                    <div class="col-md-9">
                                        <select name="Query.PurchaseProductSupplierId" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            @foreach (var item in Model.Suppliers)
                                            {
                                                if (Model.Query.ProductSupplierId != null)
                                                {
                                                    if (item.Value == Model.Query.PurchaseProductSupplierId.Value.ToString())
                                                    {
                                                        <option value="@item.Value" selected="selected">@item.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button type="submit" class="btn green">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered" style="height: auto;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">商品列表</span>
                </div>
                
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table id="productlist" class="table table-hover table-scrollable">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="group-checkable" />
                                </th>
                                <th> 序号 </th>
                                <th> 商品名 </th>
                                <th> 品牌 </th>
                                <th> 规格 </th>
                                <th> 单位 </th>
                                <th> 单价(元) </th>
                                <th> 描述 </th>
                                <th> 库存数量 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Items.Any())
                            {
                                foreach (var item in Model.Items)
                                {
                                    var product = item.PurchaseProductSupplier.PurchaseProduct;
                                    var supplier = item.PurchaseProductSupplier.PurchaseSupplier;
                                    var price = item.PurchaseProductSupplier.Price;
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="checkboxes" value="@item.Id" />
                                        </td>
                                        <td>@Model.Items.RowNumberOf(item)</td>
                                        <td>@product.Name</td>
                                        @*<td>@supplier.Name</td>*@
                                        <td>@product.Brand</td>
                                        <td>@product.Specification</td>
                                        <td>@product.Unit</td>
                                        <td>@price.FormatString()</td>
                                        <td>@product.Description</td>
                                        <td>@item.Stock</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="10" style="text-align: center;">暂无商品</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-actions">
                    <div class="text-center">
                        <a id="ConfirmAdd" href="javascript:;" class="btn green disabled batch-button">
                            提交
                        </a>
                        <a id="" href="@Url.Action("CollectingProductStock", "Collecting", new { ProjectId = Model.Query.ProjectId })" class="btn btn-warning batch-button">
                            取消
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal small fade" id="productCategories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>商品分类
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <div id="tree_1" class="tree-demo">
                            @Html.Raw(Model.ProductCategoryTreeView.GetSubTreeNodes(Model.ProductCategoryTreeView.Trees))
                        </div>
                        <div id="category-noselect-error" class="alert alert-danger hidden">
                            <strong>未选择商品分类!</strong>
                        </div>
                        <div class="row">
                            <br />
                            <p>
                                <div class="text-center">
                                    <button id="select-product-category" class="btn green btn-sm padding-lf-15">确定</button>
                                    <button id="cancel-select-product-category" type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">取消</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var funcs = {
            getStockIds: function () {
                var ids = [];
                var checkboxes = $(".checkboxes");
                $.each(checkboxes, function (i, item) {
                    var chk = $(item);
                    if (chk.is(":checked")) {
                        var id = chk.val();
                        ids.push(id);
                    }
                });

                return ids;
            },
            updateButtons: function () {
                var checked = $(".checkboxes:checked").length > 0;
                var buttons = $(".batch-button");
                buttons.prop("disabled", !checked);
                if (checked) {
                    buttons.removeClass("disabled");
                } else {
                    buttons.addClass("disabled");
                }
            }
        };

        $(document).ready(function () {
            $(".group-checkable").change(function () {
                var checkAll = $(this);
                var checked = checkAll.is(":checked");
                checkAll.closest(".table").find(".checkboxes").prop("checked", checked).uniform("refresh");
                funcs.updateButtons();
            });

            $(".checkboxes").change(function () {
                funcs.updateButtons();
            });

            $("#ConfirmAdd").click(function () {
                var stockids = funcs.getStockIds();

                var url = '@Url.Action("SelectProductToCollect", "Collecting")';
                var command = {
                    ProjectId: '@Model.Query.ProjectId',
                    StockIds: stockids
                };
                postCommand(url, command);
                return false;
            });

            $('#getCategories').on('click',
                function () {
                    var productCategories = $('#productCategories');
                    productCategories.modal('show');
                });

            $('#select-product-category').on('click',
                function () {
                    var checkedCategory = $('.jstree-clicked');
                    var categoryId = checkedCategory.attr('data-id');
                    var categoryText = checkedCategory.attr('data-text');
                    var error = $('#category-noselect-error');
                    if (categoryId || categoryText) {
                        error.addClass('hidden');
                        $('#productCategoryId').val(categoryId);
                        $('#productCategoryText').val(categoryText);

                        $('#cancel-select-product-category').click();
                    } else {
                        error.removeClass('hidden');
                    }
                });
        });
    </script>
}