@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Sales.SaleChannel.CreateViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index","SaleChannel")">渠道管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>新增</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->

<div class="full-height-content full-height-content-scrollable">
    <div class="full-height-content-body">
        <form data-ajax="true" action="@Url.Action("Create", "SaleChannel")" method="POST" class="form-horizontal">
            <div class="row">
                <div class="text-center">
                    <div id="spanMsg" style="color:red;margin-top:10px;">
                        @Html.ValidationMessageFor(m => m.SaleChannelName)
                    </div>
                </div>
            </div>
                <div class="portlet box green" style="margin-top: 10px;">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>渠道信息
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">渠道名称</label>
                                        <div class="col-md-9">
                                            @Html.InputText(m => m.SaleChannelName)
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">渠道类型</label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(m => m.SaleChannelType, SettingType.渠道类型)
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">渠道状态</label>
                                        <div class="col-md-9">
                                            @Html.EnumTextDropDownListFor(m => m.SaleChannelStatus, typeof(EntityStatus))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">所属项目</label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(x => x.ProjectId, Model.ProjectList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-1">备注</label>
                                        <div class="col-md-11">
                                            <textarea class="form-control" name="Description" style="resize: none;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="form-body">
                            <div class="errors alert alert-danger fade in" style="display: none;"></div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-actions">
                                        <div class="text-center">
                                            <button type="submit" class="btn green btn-sm padding-lf-15 ">保存</button>
                                            <button type="button" class="btn yellow btn-sm padding-lf-15 " onclick="javascript: history.back(-1);">返回上一页</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
</form>
    </div>
</div>
@section scripts{


}
