@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@using PensionInsurance.Shared
@model PensionInsurance.Web.Views.ContractRoomChange.EditViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
}
<div>
    <div class="full-height-content-body">
        <form data-ajax="true" id="contractRoomChangeForm" action="@Url.Action("Edit", "ContractRoomChange", new {returnUrl = Url.Action("Detail", "Contract",new {id = Model.ContractId})})" method="POST" class="form-horizontal">
            <div class="portlet light portlet-fit portlet-form protlet-border">
                <div class="portlet-title title-style">
                    <div class="caption">
                        <i class="icon-bubble font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp sbold">协议信息</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">变更日期</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-inline date-picker" name="ChangeDate" data-date-format="yyyy-mm-dd" value="@Model.ChangeDate.DateString()" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">是否包房</label>
                                    <div class="col-md-8">
                                        <input type="hidden" id="ProjectId" name="ProjectId" value="@Model.ProjectId" />
                                        @Html.HiddenFor(m => m.Status)
                                        @Html.HiddenFor(m => m.ContractRoomChangeId)
                                        @Html.HiddenFor(m => m.ContractRoomChangeNo)
                                        @Html.HiddenFor(m => m.ContractId)
                                        @Html.HiddenFor(m => m.CustomerName)
                                        @Html.HiddenFor(m => m.ChangeEndDate)
                                        @Html.HiddenFor(m => m.FileName)
                                        @Html.HiddenFor(m => m.FilePath)
                                        <select id="NewIsCompartment" name="NewIsCompartment" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            @if (Model.NewIsCompartment)
                                            {
                                                <option value="True" selected="selected">包房</option>
                                                <option value="False">单床</option>
                                            }
                                            else
                                            {
                                                <option value="True">包房</option>
                                                <option value="False" selected="selected">单床</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">楼栋</label>
                                    <div class="col-md-8">
                                        <select id="NewBuildingId" name="NewBuildingId" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            @foreach (var building in Model.BuildingList)
                                            {
                                                if (Model.NewBuildingId == building.Id)
                                                {
                                                    <option value="@building.Id" selected>@building.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@building.Id">@building.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">所属单元</label>
                                    <div class="col-md-8">
                                        <select id="NewUnitId" name="NewUnitId" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            @foreach (var unit in Model.UnitList)
                                            {
                                                if (Model.NewUnitId == unit.Id)
                                                {
                                                    <option value="@unit.Id" selected>@unit.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@unit.Id">@unit.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">所属楼层</label>
                                    <div class="col-md-8">
                                        <select id="NewFloorId" name="NewFloorId" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            @foreach (var floor in Model.FloorList)
                                            {
                                                if (Model.NewFloorId == floor.Id)
                                                {
                                                    <option value="@floor.Id" selected>@floor.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@floor.Id">@floor.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">房间号</label>
                                    <div class="col-md-8">
                                        <select id="NewRoomId" name="NewRoomId" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            @foreach (var room in Model.RoomList)
                                            {
                                                if (Model.NewRoomId == room.Id)
                                                {
                                                    <option value="@room.Id" selected>@room.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@room.Id">@room.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">床位号</label>
                                    <div class="col-md-8">
                                        <select id="NewBedId" name="NewBedId" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            @foreach (var bed in Model.BedList)
                                            {
                                                if (Model.NewBedId == bed.Id)
                                                {
                                                    <option value="@bed.Id" selected>@bed.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@bed.Id">@bed.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">房型</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="NewRoomType" value="@Model.NewRoomType" readonly />
                                    </div>
                                </div>
                            </div>
                            @if (Model.Contract.ContractTemplate == ContractTemplate.养老机构服务合同20170301)
                            {
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">收费类型</label>
                                        <div class="col-md-8">
                                            @*@Html.EnumTextDropDownListFor(m => m.ChargeType, typeof(ChargeType), new { @class = "form-control" })*@
                                            @Html.InputText(m => m.ChargeType, new { @class = "form-control", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    @if (Model.Contract.ContractTemplate == ContractTemplate.养老机构服务合同20160101)
                    {
                        <label class="caption-subject font-green-sharp sbold">短期</label>
                        <div class="form-body">
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">床位费</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="ShortRoomRate" name="ShortRoomRate" value="@Model.ShortRoomRate.FormatString()"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">餐费</label>
                                        <div class="col-md-8">
                                            @Html.InputText(m => m.ShortMeals, new { @class = "form-control", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">基础服务费</label>
                                        <div class="col-md-8">
                                            @Html.InputText(m => m.ShortServiceFee, new { @class = "form-control", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="caption-subject font-green-sharp sbold">长期</label>
                    }
                    <div class="form-body">
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">床位费</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="LongRoomRate" name="LongRoomRate" value="@Model.LongRoomRate"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">餐费</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.LongMeals, new {@class = "form-control", @readonly = true})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">基础服务费</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.LongServiceFee, new {@class = "form-control", @readonly = true})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px;" id="Chargedec">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-2">非标准收费说明</label>
                                <div class="col-md-10">
                                    @Html.InputText(m => m.ChargeDescription)
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @if (!string.IsNullOrWhiteSpace(Model.FilePath))
                {
                    <div class="portlet-title title-style">
                        <div class="caption">
                            <i class="icon-bubble font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp sbold">合同附件</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="form-body">
                            <div class="row" style="margin-top: 2px;">
                                <div class="col-md-12">
                                    <a href="@Url.Content(Model.FilePath)" target="_blank">@Model.FileName</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @Html.Partial("~/Views/TrackingResult/_TrackingResults.cshtml", Model.TrackingResult)
            <div class="errors alert alert-danger fade in" style="display: none;"></div>
            <div class="form-actions">
                <div class="text-center">
                    @if (Model.Status == ContractAddtionalStatus.新建)
                    {
                        if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.换房补充协议, Permission.新增))
                        {
                            <a id="submitContractRoomChange" href="javascript:;" class="btn green btn-sm padding-lf-15">提交</a>
                        }
                        if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.换房补充协议, Permission.作废))
                        {
                            <a href="javascript:;" data-command="@Model.DraftAndDelete(Model.ContractRoomChangeId, Model.ContractId).ToJavascript()" class="btn red btn-sm padding-lf-15">作废</a>
                        }
                    }
                    <a href="@Url.Action("Detail", "Customer", new {customerAccountId = Model.CustomerAccountId})" class="btn yellow btn-sm padding-lf-15">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js") type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/clockface/js/clockface.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/initRoomSelect.js") type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // 附件上传弹出层
            $("#uploadShow").click(function () {
                var uploadInfo = $('#uploadInfo');
                uploadInfo.modal('show');
                clearFormValues("uploadInfo");
            });

            $("#submitContractRoomChange").on("click", function () {
                App.confirm(function () {
                    $("#contractRoomChangeForm").attr("action", '@Url.Action("Submit", "ContractRoomChange")');
                    $("#contractRoomChangeForm").submit();
                }, function () {

                });
            });

            $("#fileupload").submit(function () {
                var $form = $(this);
                var formData = new FormData($form[0]);
                if ($("#fileupload input[type=file]").val() === "") {
                    $.bootstrapGrowl("请选择上传文件!", {
                        type: "warning",
                        offset: {
                            from: "top",
                            amount: 150
                        },
                        align: "center"
                    });
                    return false;
                }
                $.post($form.attr("action"), formData, function (data) {

                });
                return false;
            });

            cascadeDropdown();

            if ($("#ChargeType").val() == '@ChargeType.标准收费.ToString()') {
                $("#Chargedec").hide();
                $("#LongRoomRate").attr("readonly", "readonly");
            }
            @*$("#ChargeType").on("change", function (e) {
                var $this = $(this);
                if ($this.val() == '@ChargeType.标准收费.ToString()') {
                    $("#ChargeDescription").val("");
                    $("#LongRoomRate").attr("readonly", "readonly");
                } else if ($this.val() == '@ChargeType.非标准收费.ToString()') {
                    $("#LongRoomRate").removeAttr("readonly");
                }
            });*@
        });

        function checkCompartment() {
            var compartment = $("#NewIsCompartment");
            if (compartment.val() == "") {
                return true;
            }
            return false;
        }

       
        function cascadeDropdown() {
            var myBoolean = new Boolean("true");
            initRoomSelect('@Model.ContractId', "#NewIsCompartment", "#NewBuildingId", "#NewUnitId", "#NewFloorId", "#NewRoomId", "#NewBedId","",myBoolean);
        }
    </script>
}
