@using PensionInsurance.Shared
@model PensionInsurance.Web.Views.Reports.SalesReport.ProjectSalesPersonReportViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>管理中心</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"></h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">

        <div class="portlet light bordered">

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("ProjectSalesPersonReport", "SalesReport")" class="form-inline">



                    <div class="form-group">
                        <label class="control-label" style="margin-right: 5px;">项目</label>

                        <select name="ProjectId">
                            @if (WebAppContext.Current.User.GetAllowedProjects().Count > 1)
                            {
                                <option value="">全部</option>
                            }



                            @foreach (var project in Model.Projects.Where(x => x.Id != 0))
                            {
                                <option value="@project.Id" @(project.Id == Model.Query.ProjectId ? "selected" : "")>@project.Name</option>
                            }
                        </select>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn green btn-xs padding-lf-15 " data-showloading="true">查询</button>
                    </div>

                </form>
                <!-- END FORM-->
            </div>

        </div>

        <div class="table-scrollable">
            <table class="table table-bordered table-report" style="width: 100%">
                <thead>
                    <tr>
                        <th></th>

                        @foreach (var week in Model.Weeks)
                        {
                            <th class="tooltips" data-container="body" data-placement="top" data-original-title="@week.GetDateRangeString()">@week.Start.ToString("MM-dd")<br/>@week.End.ToString("MM-dd")</th>
                        }
                    </tr>

                    <tr>
                        <th>周</th>

                        @foreach (var week in Model.Weeks)
                        {
                            <th class="tooltips" data-container="body" data-placement="top" data-original-title="@week.GetDateRangeString()">@week.Number</th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.WeeklyData)
                    {
                        <tr>
                            <td style="white-space: nowrap">@(item.Key.Name)总来电</td>

                            @foreach (var weeklyItem in item.Value)
                            {
                                <td style="white-space: nowrap"> </td>
                            }
                        </tr>

                        <tr>
                            <td style="white-space: nowrap">@(item.Key.Name)新增来电</td>



                            @foreach (var weeklyItem in item.Value)
                            {
                                <td style="white-space: nowrap">@weeklyItem.Value.IncomingPhoneCount </td>
                            }
                        </tr>

                        <tr>
                            <td style="white-space: nowrap">@(item.Key.Name)有效来电</td>
                            @foreach (var weeklyItem in item.Value)
                            {
                                <td>@weeklyItem.Value.ValidIncomingPhoneCount</td>
                            }
                        </tr>

                        <tr>
                            <td style="white-space: nowrap">@(item.Key.Name)总来访</td>
                            @foreach (var weeklyItem in item.Value)
                            {
                                <td>@weeklyItem.Value.VisitCount</td>
                            }
                        </tr>

                        <tr>
                            <td style="white-space: nowrap">@(item.Key.Name)有效来访</td>
                            @foreach (var weeklyItem in item.Value)
                            {
                                <td>@weeklyItem.Value.ValidVisitCount</td>
                            }
                        </tr>

                        <tr>
                            <td style="white-space: nowrap">@(item.Key.Name)电转访</td>
                            @foreach (var weeklyItem in item.Value)
                            {
                                <td>@weeklyItem.Value.IncomingPhoneToVisitCount</td>
                            }
                        </tr>

                        <tr>
                            <td style="white-space: nowrap">@(item.Key.Name)成交（房间数）</td>
                            @foreach (var weeklyItem in item.Value)
                            {
                                <td>@weeklyItem.Value.RoomCount</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
