@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@model PensionInsurance.Web.Views.Home.IndexViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap/css/bootstrap.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{

}

<div class="row">
    @*<div class="col-md-12 col-sm-12 margin-bottom-10">
        <ul class="feeds">
            <li>
                <div class="col1">
                    <div class="cont">
                        <div class="cont-col1">
                            <div class="label label-sm label-warning">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                        </div>
                        <div class="cont-col2">
                            <div class="desc" style="color: #ed6b75!important"> 假期值班通知：各位好，2017-10-01至2017-10-08，CXM系统的维护值班人为：高长亮，联系电话：13164287893；备用联系人：喻明，联系电话：18509296277。请大家知晓，祝假期愉快！ :) </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>*@

    <div class="col-md-6 col-sm-6">
        <div class="portlet light tasks-widget bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-green-haze hide"></i>
                    <span class="caption-subject font-green bold uppercase">项目当前入住客户情况</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="task-content">
                    <div class="scroller" style="height: 280px;" data-always-visible="1" data-rail-visible1="1">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>项目</th>
                                <th>总房间数</th>
                                <th>入住房间数</th>
                                <th>入住率</th>
                                <th>总人数</th>
                                <th>请假人数</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var dailyReport in Model.DailyReport)
                            {
                                <tr>
                                    <td>@dailyReport.Project.Name</td>
                                    <td>@dailyReport.RoomCount</td>
                                    <td>@dailyReport.MovedInRoomCount</td>
                                    <td>@((dailyReport.MovedInRoomCountPercent * 100).ToString("f2") + "%")</td>
                                    @if (WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.客户信息查看入住客户))
                                    {
                                        <td><a data-showloading="true" href="@Url.Action("IndexCheckIn", "Customer", new {ProjectId = dailyReport.Project.Id})">@dailyReport.CensusCount</a></td>
                                        <td><a data-showloading="true" href="@Url.Action("IndexCheckIn", "Customer", new {ProjectId = dailyReport.Project.Id, IsBackLeave = false})">@dailyReport.LeaveCount</a></td>
                                    }
                                    else
                                    {
                                        <td>@dailyReport.CensusCount</td>
                                        <td>@dailyReport.LeaveCount</td>
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3">
        <div class="portlet light tasks-widget bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-green-haze hide"></i>
                    <span class="caption-subject font-green bold uppercase">客户变动提醒</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="task-content">
                    <div class="scroller" style="height: 280px;" data-always-visible="1" data-rail-visible1="1">
                        <ul class="task-list">
                            @foreach (var item in Model.CustomerChangeDesc)
                            {
                                <li>
                                    <div class="task-title">
                                        <span class="task-bell">
                                            <i class="fa fa-user-o"></i>
                                        </span>
                                        @*Hack!!!*@
                                        <span class="task-title-sp"> <a href="javascript:;">@item.Replace("入住", "").Replace("退住", "")</a></span>
                                        @if (item.Contains("入住"))
                                        {
                                            <span class="label label-sm label-warning">入住</span>
                                        }
                                        @if (item.Contains("退住"))
                                        {
                                            <span class="label label-sm label-danger">退住</span>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3">
        <div class="portlet light tasks-widget bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-green-haze hide"></i>
                    <span class="caption-subject font-green bold uppercase">合同到期提醒</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="task-content">
                    <div class="scroller" style="height: 280px;" data-always-visible="1" data-rail-visible1="1">
                        <ul class="task-list">
                            @foreach (var item in Model.InvalidContractsBydays)
                            {
                                <li>
                                    <div class="task-title">
                                        <span class="task-bell">
                                            <i class="fa fa-user-o"></i>
                                        </span>
                                        <span class="task-title-sp"> <a href="@Url.Action("Detail", "Customer", new {customerAccountId = item.CustomerAccount.Id})">@($"{item.Project.Name} {item.BName} {item.Room.Name}房{item.Bed.Name}床")</a></span>
                                        @{ var totalDays = (item.EndTime.Value.Date - DateTime.Now.Date).TotalDays;}
                                        <span class="label label-sm @(totalDays <= 3 ? "label-danger" : "label-warning")">@($"{totalDays}天内即将到期")</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.首页, Permission.欠费提醒))
    {
        <div class="col-md-3 col-sm-3">
            <div class="portlet light tasks-widget bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-green-haze hide"></i>
                        <span class="caption-subject font-green bold uppercase">欠费提醒</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 280px;" data-always-visible="1" data-rail-visible1="1">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>项目</th>
                                    <th>客户姓名</th>
                                    <th>房间号</th>
                                    <th>欠费金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var customerAccountArrearages in Model.CustomerAccountArrearages)
                                {
                                    <tr>
                                        <td>@customerAccountArrearages.ProjectName</td>
                                        <td><a data-showloading="true" href="@Url.Action("Detail", "Customer", new {customerAccountId = customerAccountArrearages.Id})">@customerAccountArrearages.Name</a></td>
                                        <td>@customerAccountArrearages.RoomName</td>
                                        <td>@(customerAccountArrearages.Arrearage - customerAccountArrearages.PendingConfirmCost)</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.InvalidContractsByToday.Any() || Model.InvalidContracts.Any() || Model.IneffectiveContractsByToday.Any() || Model.IneffectiveContracts.Any())
    {
        <div class="col-md-3 col-sm-3">
            <div class="portlet light tasks-widget bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-green-haze hide"></i>
                        <span class="caption-subject font-green bold uppercase">合同催办提醒</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 280px;" data-always-visible="1" data-rail-visible1="1">
                            <ul class="task-list">
                                @foreach (var item in Model.InvalidContractsByToday)
                                {
                                    <li>
                                        <div class="task-title">
                                            <span class="task-bell">
                                                <i class="fa fa-user-o"></i>
                                            </span>
                                            <span class="task-title-sp"> <a href="@Url.Action("Detail", "Customer", new {customerAccountId = item.CustomerAccount.Id})">@($"{item.Project.Name} {item.BName} {item.ActualRoom.Name}房{item.ActualBed.Name}床")</a></span>
                                            <span class="label label-sm label-warning">合同今日到期</span>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in Model.InvalidContracts)
                                {
                                    <li>
                                        <div class="task-title">
                                            <span class="task-bell">
                                                <i class="fa fa-user-o"></i>
                                            </span>
                                            <span class="task-title-sp"> <a href="@Url.Action("Detail", "Customer", new {customerAccountId = item.CustomerAccount.Id})">@($"{item.Project.Name} {item.BName} {item.ActualRoom.Name}房{item.ActualBed.Name}床")</a></span>
                                            <span class="label label-sm label-danger">合同已过期</span>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in Model.IneffectiveContractsByToday)
                                {
                                    <li>
                                        <div class="task-title">
                                            <span class="task-bell">
                                                <i class="fa fa-user-o"></i>
                                            </span>
                                            <span class="task-title-sp"> <a href="@Url.Action("Detail", "Contract", new {id = item.Id})">@($"{item.Project.Name} {item.BName} {item.Room.Name}房{item.Bed.Name}床")</a></span>
                                            <span class="label label-sm label-warning">合同今日生效</span>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in Model.IneffectiveContracts)
                                {
                                    <li>
                                        <div class="task-title">
                                            <span class="task-bell">
                                                <i class="fa fa-user-o"></i>
                                            </span>
                                            <span class="task-title-sp"> <a href="@Url.Action("Detail", "Contract", new {id = item.Id})">@($"{item.Project.Name} {item.BName} {item.Room.Name}房{item.Bed.Name}床")</a></span>
                                            <span class="label label-sm label-danger">合同已过生效日期</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if ((DateTime.Now.Date == Model.FirstDayOfNowMonth.AddMonths(1).AddSeconds(-1).Date || DateTime.Now.Date.Day == 1) && Model.IneffectiveAddtionals.Any())
    {
        <div class="col-md-3 col-sm-3">
            <div class="portlet light tasks-widget bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-green-haze hide"></i>
                        <span class="caption-subject font-green bold uppercase">月底催办提醒</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 280px;" data-always-visible="1" data-rail-visible1="1">
                            <ul class="task-list">
                                @foreach (var item in Model.IneffectiveAddtionals)
                                {
                                    <li>
                                        <div class="task-title">
                                            <span class="task-bell">
                                                <i class="fa fa-user-o"></i>
                                            </span>
                                            <span class="task-title-sp">
                                                @if (item.AdditionalType == AdditionalType.换房变更协议)
                                                {
                                                    <a href="@Url.Action("Detail", "ContractRoomChange", new {id = item.Id})">@($"{item.ProjectName} {item.CustomerName} {item.AdditionalType}")</a>
                                                }
                                                else if (item.AdditionalType == AdditionalType.服务包变更协议)
                                                {
                                                    <a href="@Url.Action("Detail", "ContractServicePackChange", new {id = item.Id})">@($"{item.ProjectName} {item.CustomerName} {item.AdditionalType}")</a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Detail", "ContractCostChange", new {id = item.Id})">@($"{item.ProjectName} {item.CustomerName} {item.AdditionalType}")</a>
                                                }
                                            </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if(WebAppContext.Current.User.RoleTypeIs(RoleType.销售经理)||WebAppContext.Current.User.RoleTypeIs(RoleType.销售人员))
    {
        <div class="col-md-9 col-sm-9">
            <div class="portlet light tasks-widget bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-green-haze hide"></i>
                        <span class="caption-subject font-green bold uppercase">wow版</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 280px;" data-always-visible="1" data-rail-visible1="1">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>日期</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>年龄</th>
                                        <th>服务类别</th>
                                        <th>家庭联系人</th>
                                        <th>兴趣爱好</th>
                                        <th>客户概述</th>
                                        <th>客户经营计划</th>
                                        <th>椿萱顾问</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var consultingDetail in Model.ConsultingDetails)
                                {
                                    <tr>
                                        <td>@consultingDetail.WowJoinTime.Value.ToShortDateString()</td>
                                        <td>@consultingDetail.ConsultingName</td>
                                        <td>@consultingDetail.Sex</td>
                                        <td>@consultingDetail.Age</td>
                                        <td>@consultingDetail.NursingTypeAlias</td>
                                        <td>@(consultingDetail.ConsultingFamilyName ?? consultingDetail.ConsultingName)</td>
                                        <td>@consultingDetail.ConsultingHobby</td>
                                        <td>@consultingDetail.ConsultingDescription</td>
                                        <td>@consultingDetail.ConsultingSalePlan</td>
                                        <td>@consultingDetail.RealName</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>



<div class="clearfix"></div>
@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/counterup/jquery.waypoints.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/counterup/jquery.counterup.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/jquery.sparkline.min.js") type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
}
