@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.SystemSetting.Employee.EditViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index","Employee")">人事资料</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>编辑</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="full-height-content-body">
    <form data-ajax="true" action="@Url.Action("Edit", "Employee")" method="POST" class="form-horizontal">
        <div class="portlet light portlet-fit portlet-form protlet-border">
            <div class="portlet-title title-style">
                <div class="caption">
                    <i class="icon-bubble font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold">基本信息</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    <div class="row">
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.EmployeeNo)
                        @Html.HiddenFor(x => x.WorkflowCategory)
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">姓名</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.EmployeeName)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">证件类型</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.IDCardType, typeof(IDCardType), true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">证件号码</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.IDCard)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">户口性质</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.HouseholdType, typeof(HouseholdType), true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">性别</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.Sex, typeof(Sex), true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">年龄</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.Age)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">出生日期</label>
                                <div class="col-md-8">
                                    @Html.InputDate(m => m.Birthday)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">联系电话</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.PhoneNumber)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">婚姻情况</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.MaritalStatus, typeof(MaritalStatus), true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">子女情况</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.ChildrenStatus)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">最高学历</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.HighestQualifications, typeof(QualificationsType), true)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-title title-style">
                <div class="caption">
                    <i class="icon-bubble font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold">薪酬信息</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">入职时间</label>
                                <div class="col-md-8">
                                    @Html.InputDate(m => m.FirstArrivaledDate)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">项目</label>
                                <div class="col-md-8">
                                    @Html.InputDropDown(x => Model.ProjectId, Model.Projects, true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">部门</label>
                                <div class="col-md-8">
                                    <select id="DepartmentId" name="DepartmentId" class="form-control input-small">
                                        <option value="">--未选择--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">岗位</label>
                                <div class="col-md-8">
                                    <select id="JobTypeId" name="JobTypeId" class="form-control input-small">
                                        <option value="">--未选择--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">职级</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.JobLevel)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">是否储备</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.ReserveStatus, typeof(ReserveStatus), true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">劳动合同类型</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.JobContractType, typeof(JobContractType), true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">试用期</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.Probation, typeof(Probation), true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">试用期固定工资</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.ProbationPeriodFixedCost)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">试用期浮动工资</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.ProbationPeriodSlidingCost)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">转正固定工资</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.PromotionFixedCost)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">转正浮动工资</label>
                                <div class="col-md-8">
                                    @Html.InputText(m => m.PromotionSlidingCost)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">保险缴纳类型</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.InsuranceType, typeof(InsuranceType), true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">其他福利</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(m => m.OtherWelfareType, typeof(OtherWelfareType), true)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/TrackingResult/_TrackingResults.cshtml", Model.TrackingResult)
        </div>

        <div class="errors alert alert-danger fade in" style="display: none;"></div>
        <div class="form-actions">
            <div class="text-center">
                <button type="submit" class="btn green btn-sm padding-lf-15 ">保存并提交</button>
                <button type="button" class="btn yellow btn-sm padding-lf-15 " onclick="javascript: history.back(-1);">返回上一页</button>
            </div>
        </div>
    </form>

</div>
@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js") type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/clockface/js/clockface.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            bindData();

            $("#ProjectId").change(function () {
                bindData();
            });

            $("#IDCard").blur(function () {
                var idCard = $("#IDCard").val();
                var cardType = $("select[name='IDCardType']").val();
                if (cardType == '@IDCardType.身份证' && idCard != "") {
                    $.get("@Url.Action("GetSex", "Employee")" + "?idCard=" + idCard, function (result) {
                        if (result.success) {
                            $("select[name='Sex']").val(result.Sex);
                            $("input[name=Birthday]").val(result.Birthday);
                            $("input[name=Age]").val(result.Age);
                        }
                    });
                }
            });
        });

        function bindData() {
            var projectId = $("select[name='ProjectId']").val();
            $("#DepartmentId").empty();
            $("<option></option>").val("").text("--请选择--").appendTo($("#DepartmentId"));
            $("#JobTypeId").empty();
            $("<option></option>").val("").text("--请选择--").appendTo($("#JobTypeId"));
            if (projectId != "") {
                $.get("@Url.Action("GetDepartmentsByProjectId", "Employee")" + "?projectId=" + projectId, function (result) {
                    $.each(result, function (i, item) {
                        if (item["Value"] == "@Model.JobTypeId") {
                            $("<option selected='selected'></option>").val(item["Value"]).text(item["Text"]).appendTo($("#DepartmentId"));
                        } else {
                            $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#DepartmentId"));
                        }

                    });
                });
                $.get("@Url.Action("GetJobOccupationByProjectId", "Employee")" + "?projectId=" + projectId, function (result) {
                    $.each(result, function (i, item) {
                        if (item["Value"] == "@Model.JobTypeId") {
                            $("<option selected='selected'></option>").val(item["Value"]).text(item["Text"]).appendTo($("#JobTypeId"));
                        } else {
                            $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#JobTypeId"));
                        }
                    });
                });
            }
        }
    </script>
}