@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.NewPurchase.ShoppingCart.CreateOtherItemViewModel

<form id="CreateOtherItem-form" data-ajax="true" action="@Url.Action("CreateOtherItem", "PurchaseShoppingCart")" method="POST" class="form-horizontal">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-green-sharp"></i>
                <span class="caption-subject font-green-sharp sbold">新增其他采购物品</span>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="row">
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left">物品名称<span class="required"> * </span></label>
                            <div class="col-md-8 text-left">
                                @Html.InputText(m => m.ProductName)
                                @Html.HiddenFor(m => m.CartId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left">供应商<span class="required"> * </span></label>
                            <div class="col-md-8 text-left">
                                @Html.InputText(m => m.SupplierName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">物品品牌</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.ProductBrand)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">物品规格</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.ProductSpecification)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">物品单位</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.ProductUnit)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">物品数量<span class="required"> * </span></label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.PurchaseQuantity,new { @style="width:100%",@onkeyup = @"this.value = this.value.replace(/[^\d.]/g, '')", @onafterpaste = @"this.value = this.value.replace(/[^\d.]/g, '')" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">物品单价<span class="required"> * </span></label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.PurchasePrice, new { @style = "width:100%", @onkeyup = @"this.value = this.value.replace(/[^\d.]/g, '')", @onafterpaste = @"this.value = this.value.replace(/[^\d.]/g, '')" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">资产类别</label>
                            <div class="col-md-8">
                                @Html.InputText(m => m.ProductAssetClass)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">备注用途</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.Remarks)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">商品链接</label>
                            <div class="col-md-10">
                                @Html.InputText(m => m.ProductUrl)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="errors alert alert-danger fade in" style="display: none;"></div>
            </div>
        </div>
    </div>
</form>