@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.NewPurchase.ShoppingCart.EditViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
<style>
    .productlist td {
        text-align: center;
    }

    .productlist th {
        text-align: center;
    }

    .input-group .form-control.touchspin {
        margin-top: 0px;
    }
</style>
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                采购管理
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>订单详细</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered" style="height: auto;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">采购信息</span>
                </div>
            </div>
            <div class="form-body margin-top-20">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">项目：</label>
                            <div class="control-label col-md-9">
                                @Model.Cart.Project.Name
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">采购类型：</label>
                            <div class="control-label col-md-9">
                                @Model.Cart.OrderType
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请人：</label>
                            <div class="control-label col-md-9">
                                @Model.Cart.PurchaseUser.RealName
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请部门：</label>
                            <div class="control-label col-md-9">
                                @Model.Cart.Department.Name
                            </div>
                        </div>
                    </div>
                    @if (Model.Cart.OrderType == OrderType.固定资产采购)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">申请时间:<span class="required"> * </span></label>
                                <div class="control-label col-md-6">
                                    <input type="text" class="form-control form-control-inline date-picker" id="ApplyDate" name="ApplyDate" data-date-format="yyyy-mm-dd">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">申请时间：</label>
                                <div class="control-label col-md-9">
                                    @DateTime.Now.ToString("yyyy-MM-dd")
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Cart.OrderType != OrderType.食材采购单 && Model.Cart.OrderType != OrderType.固定资产采购)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">到货时间:<span class="required"> * </span></label>
                                <div class="control-label col-md-6">
                                    <input type="text" class="form-control form-control-inline" id="ArrivalTime" name="ArrivalTime" data-date-format="yyyy-mm-dd hh:ii">
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Cart.OrderType == OrderType.食材采购单)
                {
                    <div class="row margin-top-10">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">验收时间:<span class="required"> * </span></label>
                                <div class="control-label col-md-6">
                                    <input type="text" class="form-control form-control-inline" id="CheckTime" name="CheckTime" data-date-format="yyyy-mm-dd hh:ii">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">采购类别:<span class="required"> * </span></label>
                                <div class="control-label col-md-6">
                                    @Html.EnumTextDropDownListFor(m => m.FoodOrderType, typeof(FoodOrderType), new { @class = "form-control" }, true)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Cart.OrderType == OrderType.固定资产采购)
                {
                    <div class="row margin-top-10">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">验收时间:<span class="required"> * </span></label>
                                <div class="control-label col-md-6">
                                    <input type="text" class="form-control form-control-inline" id="CheckTime" name="CheckTime" data-date-format="yyyy-mm-dd hh:ii">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">验收描述:<span class="required"> * </span></label>
                                <div class="control-label col-md-6">
                                    <input type="text" class="form-control" id="CheckRemarks" name="CheckRemarks">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Cart.OrderType == OrderType.计划采购单 || Model.Cart.OrderType == OrderType.餐饮部计划采购 || Model.Cart.OrderType == OrderType.营销类计划性采购)
                {
                    <div class="row margin-top-10">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">采购月份:<span class="required"> * </span></label>
                                <div class="control-label col-md-6">
                                    <input type="text" class="input-xs month-picker col-md-12" id="PurchaseMonth" name="PurchaseMonth" data-date-format="yyyy-MM">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.Cart.OrderType != OrderType.营销类特殊性采购 && Model.Cart.OrderType != OrderType.营销类紧急性采购)
            {
                <div class="portlet-title margin-top-10">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">采购列表</span>
                    </div>
                    @if (Model.Cart.OrderType == OrderType.食材采购单 || Model.Cart.OrderType == OrderType.固定资产采购)
                    {
                        <div class="actions" style="width: 600px;">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" style="height: 32px;" class="form-control" disabled id="productCategoryText" placeholder="选择分类">
                                        <input id="productCategoryId" name="productCategoryId" type="hidden" value="" />
                                        <span id="getCategories" class="input-group-addon" style="padding: 3px 12px;">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="JavaScript:;" class="btn green" id="downLoadFood">下载模版</a>
                                </div>
                                <div class="col-md-2">
                                    <a href="JavaScript:;" class="btn green" id="uploadFood">上传模版</a>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Cart.OrderType != OrderType.食材采购单 && Model.Cart.OrderType != OrderType.固定资产采购)
                    {
                        <div class="actions">
                            <a href="@Url.Action("ProductList", "NewPurchase", new {cartId = Model.Cart.Id})" class="btn green cart-add">新增</a>
                        </div>
                    }

                </div>
                <div class="portlet-body">
                    <div class="table">
                        <table class="table table-bordered productlist">
                            <thead>
                                <tr>
                                    <th> 序号 </th>
                                    <th> 物品编码 </th>
                                    <th> 物品名称 </th>
                                    <th> 供应商名称 </th>
                                    <th> 品牌 </th>
                                    <th> 规格 </th>
                                    <th> 单位 </th>
                                    <th style="width: 120px;"> 数量 </th>
                                    <th> 单价 </th>
                                    <th> 金额 </th>
                                    <th> 库存 </th>
                                    <th> 描述 </th>
                                    <th> 资产类别 </th>
                                    <th> 备注及用途 </th>
                                    <th> 操作 </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Cart.CartItems.Count > 0)
                                {
                                    foreach (var item in Model.Cart.CartItems)
                                    {
                                        <tr id="ItemRow_@item.Id">
                                            <td> @Model.Cart.CartItems.RowNumberOf(item)</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Code</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Name</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseSupplier.Name</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Brand</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Specification</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Unit</td>
                                            <td>
                                                <div class="input-group bootstrap-touchspin input-group-xs">
                                                    <input type="text" data-id="@item.Id" data-IsMateriel="@item.PurchaseProductSupplier.PurchaseProduct.IsMateriel" value="@item.PurchaseQuantity" min="@item.PurchaseProductSupplier.Min" max="@item.PurchaseProductSupplier.Max" name="demo_vertical" class="form-control touchspin col-xs-2">
                                                </div>
                                            </td>
                                            <td> @item.PurchaseProductSupplier.Price</td>
                                            <td id="ItemAmountTotal_@item.Id"> @((item.PurchaseQuantity * item.PurchaseProductSupplier.Price).FormatString()) </td>
                                            <td>@Model.GetStock(item.PurchaseProductSupplier.Id, Model.Cart.Project.Id)</td>
                                            <td class="tooltips" data-container="body" data-placement="top" data-original-title="@item.PurchaseProductSupplier.PurchaseProduct.Description">@item.PurchaseProductSupplier.PurchaseProduct.Description.SubString(20, "...")</td>
                                            <td>@item.PurchaseProductSupplier.PurchaseProduct.AssetClass</td>
                                            <td>
                                                <input value="@item.Remarks" data-id="@item.Id" class="editRemarks" type="text" />
                                            </td>
                                            <td><a data-id="@item.Id" href="javascript:;" class="btn default btn-xs red-stripe deleteItem">删除</a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="15" style="text-align: center;">暂无商品</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if (Model.Cart.OrderType == OrderType.营销类特殊性采购 || Model.Cart.OrderType == OrderType.营销类紧急性采购 || Model.Cart.OrderType == OrderType.运营紧急采购 || Model.Cart.OrderType == OrderType.食材紧急采购)
            {
                <div class="portlet-title margin-top-20">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">其他物品</span>
                    </div>
                    <div class="actions">
                        <a href="javaScript:;" id="AddOtherItem" class="btn green cart-add">新增</a>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="table">
                        <table class="table table-bordered productlist">
                            <thead>
                                <tr>
                                    <th> 序号 </th>
                                    <th> 采购物品名称 </th>
                                    <th> 供应商名称 </th>
                                    <th> 品牌 </th>
                                    <th> 规格 </th>
                                    <th> 单位 </th>
                                    <th style="width: 120px;"> 数量 </th>
                                    <th> 单价 </th>
                                    <th> 金额 </th>
                                    <th> 资产类别 </th>
                                    <th> 备注及用途 </th>
                                    <th> 操作 </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Cart.OtherCartItems.Count > 0)
                                {
                                    foreach (var item in Model.Cart.OtherCartItems)
                                    {
                                        <tr id="OtherItemRow_@item.Id">
                                            <td> @Model.Cart.OtherCartItems.RowNumberOf(item)</td>
                                            @if (!string.IsNullOrEmpty(item.ProductUrl))
                                            {
                                                <td><a href="@item.ProductUrl" target="_blank">@item.ProductName</a></td>
                                            }
                                            else
                                            {
                                                <td>@item.ProductName</td>
                                            }
                                            <td> @item.SupplierName</td>
                                            <td> @item.ProductBrand</td>
                                            <td> @item.ProductSpecification</td>
                                            <td> @item.ProductUnit</td>
                                            <td>@item.PurchaseQuantity</td>
                                            <td> @item.PurchasePrice</td>
                                            <td> @((item.PurchaseQuantity * item.PurchasePrice).FormatString()) </td>
                                            <td>@item.ProductAssetClass</td>
                                            <td>@item.Remarks</td>
                                            <td><a data-id="@item.Id" href="javascript:;" class="btn default btn-xs red-stripe otherdeleteItem">删除</a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="13" style="text-align: center;">暂无商品</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            }

            <div class="clearfix" style="text-align: right; margin-top: 20px;">
                <span style="width: 100%; float: right; margin-bottom: 10px;">
                    采购单商品 <span id="totalQuantity">@Model.TotalQuantity</span> 件, 采购总金额：￥ <span id="totalAmount">@Model.TotalPrice</span> 元.
                </span>
            </div>

            @if (Model.Cart.OrderType == OrderType.运营紧急采购)
            {
                <div class="clearfix" style="text-align: right;">
                    <span style="width: 100%; color: #ff0000; float: right; margin-bottom: 10px;">
                        运营紧急采购:总额三千元以上（不含三千）的紧急采购，需财务总监审批
                    </span>
                </div>
            }
        </div>
        <div class="form-actions">
            <div class="text-center">
                @if (Model.Cart.OrderType == OrderType.食材采购单 || Model.Cart.OrderType == OrderType.固定资产采购)
                {
                    <button id="SubmitFoodShoppingCart" class="btn green btn-sm padding-lf-15 ">提交</button>
                }
                else
                {
                    <button id="SubmitShoppingCart" class="btn green btn-sm padding-lf-15 ">提交</button>
                }
                <button type="button" class="btn yellow btn-sm padding-lf-15 " onclick="javascript: history.back(-1);">返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal small fade" id="productCategories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>商品分类
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <div id="tree_2" class="tree-demo">
                            @Html.Raw(Model.ProductCategoryTreeView.GetSubTreeNodes(Model.ProductCategoryTreeView.Trees))
                        </div>
                        <div id="category-noselect-error" class="alert alert-danger hidden">
                            <strong>未选择商品分类!</strong>
                        </div>
                        <div class="row">
                            <br />
                            <p>
                                <div class="text-center">
                                    <button id="select-product-category" class="btn green btn-sm padding-lf-15">确定</button>
                                    <button id="cancel-select-product-category" type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">取消</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script>
        var selectIds = [];
        var selectText = [];
        $(document).ready(function() {

            $('#getCategories').on('click',
                function () {
                    var productCategories = $('#productCategories');
                    productCategories.modal('show');
                });

            $('#tree_2').on('changed.jstree',
                function (e, data) {
                    var nodeId = data.node.id;
                    Object.keys(data.selected).map(function (item, i) {
                        var valElement = $('#' + data.selected[item]).attr('aria-labelledby');
                        $("#" + nodeId).jstree("open_node", $("#" + valElement));
                    });
                    selectIds = [];
                    selectText = [];
                    Object.keys(data.selected).map(function (item, i) {
                        var valElement = $('#' + data.selected[item]).attr('aria-labelledby');
                        selectIds.push($('#' + valElement).attr('data-id'));
                        selectText.push($('#' + valElement).attr('data-text'));
                    });
                });

            $("#select-product-category").on("click",
                function () {
                    $("#productCategoryId").val(selectIds.join(","));
                    $("#productCategoryText").val(selectText.join(","));
                    var productCategories = $('#productCategories');
                    productCategories.modal('hide');
                });


            $(document)
                .on("click", "#AddOtherItem", function() {
                    App.dialog('#CreateOtherItem-form', '@Url.Action("CreateOtherItem", "PurchaseShoppingCart", new {cartId = Model.Cart.Id})', 'col-md-7 col-md-offset-2');
                })
                .on("click","#uploadFood",function () {
                    App.dialogMultipart('#productSupplier-Import-Form', '@Url.Action("ImportFood", "NewPurchase",new{ cartId = Model.Cart.Id })');
                });

            $("#ArrivalTime").datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN"
            });
            $("#CheckTime").datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN"
            });
            $("#ApplyDate").datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN"
            });

            $(".deleteItem").click(function() {
                var $this = $(this);
                var id = $this.attr("data-id");
                $.get("@Url.Action("Delete", "NewPurchase")" + "?itemId=" + id + "&cartId=" + @Model.Cart.Id,
                    function(e) {
                        if (e.success) {
                            $("#totalQuantity").html(e.TotalQuantity);
                            $("#totalAmount").html(parseFloat(e.TotalAmount).toFixed(2));
                            var itemTotal = $("#ItemRow_" + id);
                            itemTotal.remove();;
                        }
                    });
                return false;
            });

            $(".otherdeleteItem").click(function() {
                var $this = $(this);
                var id = $this.attr("data-id");
                $.get("@Url.Action("DeleteOther", "NewPurchase")" + "?itemId=" + id + "&cartId=" + @Model.Cart.Id,
                    function(e) {
                        if (e.success) {
                            $("#totalQuantity").html(e.TotalQuantity);
                            $("#totalAmount").html(parseFloat(e.TotalAmount).toFixed(2));
                            var itemTotal = $("#OtherItemRow_" + id);
                            itemTotal.remove();;
                        }
                    });
                return false;
            });

            //修改备注
            $(".editRemarks").change(function() {
                var $this = $(this);
                var remarks = $this.val();
                if (remarks == "" || remarks.length == 0) {
                    return false;
                }
                var id = $this.attr("data-id");
                $.post("@Url.Action("UpdateShoppingCartItemRemarks", "NewPurchase")" + "?itemId=" + id + "&remarks=" + remarks);
                return false;
            });

            var touchspins = $(".touchspin");
            for (var i = 0; i < touchspins.length; i++) {
                var touchspin = touchspins[i];
                var max = parseFloat($(touchspin).attr('max'));
                var min = parseFloat($(touchspin).attr('min'));
                if (max == 0) {
                    max = 10000;
                }
                if (min == 0) {
                    min = 1;
                }
                $(touchspin).TouchSpin({
                    min: min,
                    max: max,
                    step: 1,
                    decimals: 0,
                    buttondown_class: "btn btn-xs",
                    buttonup_class: "btn btn-xs"
                });
            }

            //修改数量
            $(".touchspin").change(function() {
                var $this = $(this);
                var max = parseFloat($this.attr("max"));
                var min = parseFloat($this.attr("min"));
                var ismateriel = $this.attr("data-ismateriel");
                var quantity = $this.val();
                if (parseFloat(quantity) <= min && ismateriel==="True") {
                    quantity = min;
                }
                if (parseFloat(quantity) >= max && ismateriel === "True") {
                    quantity = max;
                }

                var id = $this.attr("data-id");
                $.get("@Url.Action("UpdateShoppingCartItemQuantity", "NewPurchase")" + "?itemId=" + id + "&cartId=" + @Model.Cart.Id + "&quantity=" + quantity,
                    function(e) {
                        if (e.success) {
                            $("#totalQuantity").html(e.TotalQuantity);
                            $("#totalAmount").html(parseFloat(e.TotalAmount));
                            var itemTotal = $("#ItemAmountTotal_" + id);
                            itemTotal.html(e.ItemTotalAmount);
                        }
                    });
                return false;
            });

            $("#downLoadFood").on("click", function() {
                var url = '@Url.Action("DownLoad","NewPurchase")';
                var cateIds = $('#productCategoryId').val();
                var command = {
                    CartId: '@Model.Cart.Id',
                    ProductCategoryIds:cateIds
                };
                postCommand(url, command, $(this));
                $('#downLoadFood').attr("disabled", false);
            });

            $("#SubmitShoppingCart").on("click", function() {
                var arrivalTime = $('#ArrivalTime').val();
                var purchaseMonth = $('#PurchaseMonth').val();
                App.confirm(function() {
                    var url = '@Url.Action("Submit","PurchaseShoppingCart")';
                    var command = {
                        CartId: '@Model.Cart.Id',
                        ArrivalTime: arrivalTime,
                        PurchaseMonth: purchaseMonth
                    };
                    postCommand(url, command, $(this));
                }, function() {
                }, "确认提交此采购订单");
                return false;
            });

            $("#SubmitFoodShoppingCart").on("click", function() {
                var arrivalTime = $('#ArrivalTime').val();
                var checkTime = $('#CheckTime').val();
                var applyDate = $('#ApplyDate').val();
                var purchaseMonth = $('#PurchaseMonth').val();
                var checkRemarks = $('#CheckRemarks').val();
                var foodOrderType = $('#FoodOrderType').val();

                App.confirm(function() {
                    var url = '@Url.Action("Submit","PurchaseShoppingCart")';
                    var command = {
                        CartId: '@Model.Cart.Id',
                        ArrivalTime: arrivalTime,
                        CheckTime: checkTime,
                        PurchaseMonth: purchaseMonth,
                        CheckRemarks: checkRemarks,
                        FoodOrderType: foodOrderType,
                        ApplyDate: applyDate
                    };
                    postCommand(url, command, $(this));
                }, function() {
                }, "订单生成后不可以修改，请确认订单内容");
                return false;
            });


        });
    </script>
}