@using PensionInsurance.Entities
@using PensionInsurance.Shared
@section Styles{

}
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>统计报表</span>
            </li>
        </ul>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">统计报表列表</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看未办结业务列表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "UndoWorkflowProgressReport")" class="btn default btn-sm orange-stripe margin-bottom-5">未办结业务列表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看合同台账))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "ContractLedgerReport")" class="btn default btn-sm orange-stripe margin-bottom-5">合同台账</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看客户有效入住天数列表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerValidCheckInDaysReport")" class="btn default btn-sm orange-stripe margin-bottom-5">客户有效入住天数列表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看房间有效入住天数列表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "RoomValidCheckInDaysReport")" class="btn default btn-sm orange-stripe margin-bottom-5">房间有效入住天数列表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看入住客户独立月费报表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerCheckInRoomAndMealsComparisonReport")" class="btn default btn-sm orange-stripe margin-bottom-5">入住客户独立月费报表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看销售日报))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "DailyReport")" class="btn default btn-sm orange-stripe margin-bottom-5">销售日报</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看入住客户变动日报))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerChangeDailyReport")" class="btn default btn-sm orange-stripe margin-bottom-5">入住客户变动日报</a>
                        </div>
                    }
                    
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "RoomCostReport")" class="btn default btn-sm orange-stripe margin-bottom-5">房间价目表</a>
                        </div>
                    
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看客户账户汇总报表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerAcountCheckInReport")" class="btn default btn-sm orange-stripe margin-bottom-5">客户账户汇总报表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看入住客户的家庭分布))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerDistributionReport")" class="btn default btn-sm orange-stripe margin-bottom-5">入住客户的家庭分布</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看入住客户分析统计图表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerReport")" class="btn default btn-sm orange-stripe margin-bottom-5">CB入住客户分析统计图表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看客户点单信息汇总表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerServiceRecordReport")" class="btn default btn-sm orange-stripe margin-bottom-5">客户点单信息统计</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看客户月费日报表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerMonthlyFeeDailyReport")" class="btn default btn-sm orange-stripe margin-bottom-5">客户月费日报表</a>
                        </div>
                    }
                    @*@if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看成交统计))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "ProjectDealReport")" class="btn default btn-sm orange-stripe margin-bottom-5">成交统计</a>
                        </div>
                    }*@
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看RpuRpr报表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "RpuAndRprReport")" class="btn default btn-sm orange-stripe margin-bottom-5">RPU（每房收入）RPR（每人收入）报表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看客户收入报表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerInComeReport")" class="btn default btn-sm orange-stripe margin-bottom-5">客户收入报表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看咨询客户销售日报))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("index", "SalesPersonDailyReport")" class="btn default btn-sm orange-stripe margin-bottom-5">咨询客户销售日报</a>
                        </div>
                    }@if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看咨询客户销售周报))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("WeeklySalesReport", "SalesPersonDailyReport")" class="btn default btn-sm orange-stripe margin-bottom-5">咨询客户销售周报</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看咨询客户销售月报))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("MonthlySalesReport", "SalesPersonDailyReport")" class="btn default btn-sm orange-stripe margin-bottom-5">咨询客户销售月报</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看咨询客户个人销售日报))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("SalesUserDailyReport", "SalesPersonDailyReport",new { IsEnabled = true})" class="btn default btn-sm orange-stripe margin-bottom-5">咨询客户个人销售日报</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看咨询客户个人销售周报))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("WeeklySalesUserReport", "SalesPersonDailyReport",new { IsEnabled = true})" class="btn default btn-sm orange-stripe margin-bottom-5">咨询客户个人销售周报</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看咨询客户个人销售月报))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("MonthlySalesUserReport", "SalesPersonDailyReport",new { IsEnabled = true})" class="btn default btn-sm orange-stripe margin-bottom-5">咨询客户个人销售月报</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看入住客户请假信息))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerLeaveReport")" class="btn default btn-sm orange-stripe margin-bottom-5">入住客户请假信息</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看预期销售日报))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "ExpectMoveInDailyReport")" class="btn default btn-sm orange-stripe margin-bottom-5">预期销售日报</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看CB入住情况统计报表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerCheckInSummaryReport")" class="btn default btn-sm orange-stripe margin-bottom-5">CB入住情况统计报表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看客户获知渠道统计报表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerSalesChannelReport")" class="btn default btn-sm orange-stripe margin-bottom-5">客户获知渠道统计报表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看客户退住通知单统计报表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerMoveOutTicket")" class="btn default btn-sm orange-stripe margin-bottom-5">客户退住通知单统计报表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看座席接电汇总表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("Index", "OperatorConsultingReport")" class="btn default btn-sm orange-stripe margin-bottom-5">座席接电汇总表</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看资产出入库台账))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("CheckingAssetStockOutInDetail", "CheckingProjectReport")" class="btn default btn-sm orange-stripe margin-bottom-5">资产出入库台账</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看在用资产台账))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("AssetInUseStockOutDetail", "CheckingProjectReport")" class="btn default btn-sm orange-stripe margin-bottom-5">在用资产台账</a>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看资产统计报表))
                    {
                        <div class="col-sm-3">
                            <a data-showloading="true" href="@Url.Action("AssetStatisticsReport", "CheckingProjectReport")" class="btn default btn-sm orange-stripe margin-bottom-5">资产统计报表</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>