@using System.Web.Mvc.Html
@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Finance.CustomerAccount.CustomerPointsViewModel
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>客户积分管理</span>
            </li>
        </ul>
    </div>
}
<div class="row">
    <div class="col-md-12" style="margin-top:10px; ">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">客户积分管理</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table id="tablePoint" class="table table-hover">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap;">序号</th>
                                <th style="white-space: nowrap;">项目</th>
                                <th style="white-space: nowrap;">客户姓名</th>
                                <th style="white-space: nowrap;">收支日期</th>
                                <th style="white-space: nowrap;">使用方式</th>
                                <th style="white-space: nowrap;">收入积分</th>
                                <th style="white-space: nowrap;">支出积分</th>
                                <th style="white-space: nowrap;">发起人</th>
                                <th style="white-space: nowrap;">确认人</th>
                                <th style="white-space: nowrap;">备注</th>
                                <th style="white-space: nowrap;">状态</th>
                                <th style="white-space: nowrap;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CustomerPointList)
                            {
                                <tr>
                                    <td>@Model.CustomerPointList.RowNumberOf(item)</td>
                                    <td style="white-space: nowrap;">@item.CustomerAccount.Project.Name</td>
                                    <td><a href="@Url.Action("Index","CustomerAccount",new CustomerAccountQuery {Name=item.CustomerAccount.Customer.Name,CustomerNo =item.CustomerAccount.Customer.CustomerNo})">@item.CustomerAccount.Customer.Name</a></td>
                                    <td style="white-space: nowrap;">@item.UseDate.DateString()</td>
                                    <td>@item.PointType.ToString()</td>
                                    @if (item.UsePoint > 0)
                                    {
                                        <td>@item.UsePoint</td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td>@item.UsePoint</td>
                                    }
                                    <td>@item.AgentName</td>
                                    <td>@item.FinancerName</td>
                                    <td class="tooltips" data-container="body" data-placement="top" data-original-title="@item.Remark">@item.Remark.SubString(20, "...")</td>
                                    <td style="white-space: nowrap;">@item.Status</td>
                                    <td style="white-space: nowrap;">
                                        @if (item.Status != CustomerPointStatus.确认)
                                        {                                 
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户积分管理, Permission.删除))
                                            {
                                                <a href="javascript:;" data-command="@Model.DeletePoint(item.Id).ToJavascript()" class="btn default btn-xs red-stripe" data-refresh="#tablePoint">删除</a>
                                            }
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户积分管理, Permission.确认))
                                            {
                                                <a href="javascript:;" data-command="@Model.ConfirmPoint(item.Id).ToJavascript()" class="btn default btn-xs green-stripe" data-refresh="#tablePoint">确认</a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>



                    @Html.Partial("_Pagination", Model.CustomerPointList)
                </div>
            </div>
        </div>
    </div>
</div>
