@using System.Web.Mvc.Html
@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Finance.CustomerAccount.CustomerCashFlowViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
<link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
<link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
<link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
<link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>客户现金流水管理</span>
            </li>
        </ul>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>客户现金流水信息查询
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="sercherPayment" action="@Url.Action("CustomerCashFlow","CustomerAccount")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目</label>
                                    <div class="col-md-9">
                                        <select name="Query.ProjectId" class="form-control input-xs">
                                            @if (WebAppContext.Current.User.GetAllowedProjects().Count > 1)
                                            {
                                            <option value="">全部</option>
                                            }
                                            @foreach (var project in WebAppContext.Current.User.GetAllowedProjects())
                                            {
                                            <option value="@project.Id" @(project.Id == Model.Query.ProjectId ? "selected" : "")>@project.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户姓名</label>
                                    <div class="col-md-9">
                                        @Html.InputText(x => x.Query.CustomerName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">状态</label>
                                    <div class="col-md-9">
                                        @Html.EnumTextDropDownListFor(x => x.Query.Status, typeof (CustomerPaymentStatus), true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">收支日期</label>
                                    <div class="col-md-9">
                                        <div class="input-group date-picker input-daterange" data-date="2016-05-05" data-date-format="yyyy-mm-dd">
                                            @Html.InputText(m => m.Query.PaymentStartTime)
                                            <span class="input-group-addon"> 到 </span>
                                            @Html.InputText(m => m.Query.PaymentEndTime)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">到账日期</label>
                                    <div class="col-md-9">
                                        <div class="input-group date-picker input-daterange" data-date="2016-05-05" data-date-format="yyyy-mm-dd">
                                            @Html.InputText(m => m.Query.ActualArrivalStartTime)
                                            <span class="input-group-addon"> 到 </span>
                                            @Html.InputText(m => m.Query.ActualArrivalEndTime)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">收支方式</label>
                                    <div class="col-md-9">
                                        @Html.EnumTextDropDownListFor(x => x.Query.PaymentType, typeof (PaymentType), true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">发起人</label>
                                    <div class="col-md-9">
                                        @Html.InputText(x => x.Query.CreateBy)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">确认人</label>
                                    <div class="col-md-9">
                                        @Html.InputText(x => x.Query.ConfimBy)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">备注</label>
                                    <div class="col-md-9">
                                        @Html.EnumTextDropDownListFor(x => x.Query.RemarkDesc, typeof (CustomerPaymentRemarkDesc), new {multiple = "", @class = "bs-select"})
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">收支金额</label>
                                    <div class="col-md-9">
                                        <div class="input-group input-daterange">
                                            @Html.InputText(m => m.Query.MinimumAmount,new { type = "Number", @class= "form-control" })
                                            <span class="input-group-addon"> 到 </span>
                                            @Html.InputText(m => m.Query.MaximumAmount, new { type = "Number", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-center"><button type="submit" class="btn green btn-sm padding-lf-15 " data-showloading="true">查询</button></div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">客户现金流水管理</span>
                </div>
                <div class="actions">
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户现金流水管理, Permission.导出))
                    {
                        <a  href="javascript:;" onclick="Export()" class="btn green" role="button" data-showloading="true"><i class="fa fa-repeat"></i>导出</a>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户现金流水管理, Permission.客户现金流水批量确认))
                    {
                        <a data-toggle="modal" href="#MassConfirm" class="btn green btn-sm batch-button disabled">
                            <i class="fa fa-check"></i> 批量确认
                        </a>
                    }
                </div>
            </div>
            <div class="portlet-body">
                <div class="table">

                    <table id="tablePayment" class="table table-hover" data-src="@Request.Url">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="group-checkable" value="" />
                            </th>
                            <th style="white-space: nowrap;">序号</th>
                            <th style="white-space: nowrap;">项目</th>
                            <th style="white-space: nowrap;">客户姓名</th>
                            <th style="white-space: nowrap;">收支日期</th>
                            <th style="white-space: nowrap;">到账日期</th>
                            <th style="white-space: nowrap;">收支方式</th>
                            <th style="white-space: nowrap;">收入金额</th>
                            <th style="white-space: nowrap;">支出金额</th>
                            <th style="white-space: nowrap;">备注</th>
                            <th style="white-space: nowrap;">收支人</th>
                            <th style="white-space: nowrap;">确认人</th>
                            <th style="white-space: nowrap;">状态</th>
                            <th style="white-space: nowrap;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="@item.Id" />
                                    </td>
                                    <td>@Model.Items.RowNumberOf(item)</td>
                                    <td style="white-space: nowrap;">@item.CustomerAccount.Project.Name</td>
                                    <td><a href="@Url.Action("Detail", "Customer", new {customerAccountId = item.CustomerAccount.Id})">@item.CustomerAccount.Customer.Name</a></td>
                                    <td style="white-space: nowrap;">@item.PaymentDate.DateString()</td>
                                    <td style="white-space: nowrap;">@item.ActualArrivalDate.DateString()</td>
                                    <td>@item.PaymentType</td>
                                    @if (item.Payment > 0)
                                    {
                                        <td class="paymentcaption" data-id="@item.Id"><a href="javascript:;">@item.Payment</a></td>
                                                <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                                <td>@item.Payment</td>
                                    }
                                    <td class="tooltips" data-container="body" data-placement="top" data-original-title="@item.Description">@item.Description.SubString(20, "...")</td>
                                    <td>@item.AgentName</td>
                                    <td>@item.FinancerName</td>
                                    <td style="white-space: nowrap;">@item.Status</td>
                                    <td style="white-space: nowrap;">
                                        @if (item.Status != CustomerPaymentStatus.确认)
                                        {
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户现金管理, Permission.确认) && item.PaymentType != PaymentType.刷卡)
                                            {
                                                <a href="javascript:;" onclick="confirmPayment(@item.Id)" class="btn default btn-xs green-stripe" data-refresh="#tablePayment">确认</a>
                                            }
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户现金管理, Permission.客户账户付款) && item.PaymentType == PaymentType.刷卡)
                                            {
                                                <a href="javascript:;" onclick="window.open('@Url.Action("Detail","POS",new {id = item.Id})')" class="btn default btn-xs blue-stripe">继续支付</a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @Html.Partial("_Pagination", Model.Items)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal small fade" id="confirmPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px;">
        <form data-ajax="true" action="#" method="POST" class="form-horizontal" data-refresh="#tablePayment">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>确认缴费信息
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="text-right col-md-3">客户姓名</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="CustomerName" readonly>
                                                <input type="hidden" name="CustomerPaymentId"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="text-right col-md-3">收支方式</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="PaymentTypeDesc" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="text-right col-md-3">收支金额</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="Payment" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="text-right col-md-3">实际到账日期</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control form-control-inline date-picker" name="ActualArrivalDate" data-date-format="yyyy-mm-dd">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="errors alert alert-danger fade in" style="display: none;"></div>
                                <div class="row">
                                    <p>
                                        <div class="text-center">
                                            <button class="btn green btn-sm padding-lf-15">确认</button>
                                            <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">取消</button>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal small fade" id="MassConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 450px;">
        <form id="confim-payment-form" data-ajax="true" action="#" method="POST" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>客户现金流水批量确认
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row margin-top-20">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">实际到账日期</label>
                                            <div class="col-md-9">
                                                <input type="text" class="input-sm date-picker form-control" name="ConfimDateTime" data-date-format="yyyy-mm-dd">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="errors alert alert-danger fade in" style="display: none;"></div>
                                <div class="row">
                                    <p>
                                        <div class="text-center">
                                            <a href="javascript:;" id="confim-payment" class="btn green btn-sm padding-lf-15">批量确认</a>
                                            <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">返回</button>
                                        </div>
                                    </p>
                                </div>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script type="text/javascript">
        var page = {
            getSelectedIds: function() {
                var ids = [];
                var checkboxes = $(".checkboxes");
                $.each(checkboxes, function(i, item) {
                    var chk = $(item);
                    if (chk.is(":checked")) {
                        var id = chk.val();

                        ids.push(id);
                    }
                });

                return ids;
            },

            updateButtons: function() {
                var checked = $(".checkboxes:checked").length > 0;
                var buttons = $(".batch-button");
                buttons.prop("disabled", !checked);
                if (checked) {
                    buttons.removeClass("disabled");
                } else {
                    buttons.addClass("disabled");
                }
            }
        }
        $(document).ready(function() {
            $(document).on("change", ".group-checkable", function() {
                var checkAll = $(this);
                var checked = checkAll.is(":checked");
                checkAll.closest(".table").find(".checkboxes").prop("checked", checked).uniform("refresh");
                page.updateButtons();
            });

            $(document).on("change", ".checkboxes", function() {
                page.updateButtons();
            });
            $(".paymentcaption").click(function() {
                var $this = $(this);
                var paymentId = $this.attr("data-id");
                $.get("@Url.Action("GetPaymentCaption", "CustomerAccount")" + "?id=" + paymentId,
                    function(result) {
                        App.alert({title:"收支详细信息", content: result });
                    });
            });
            $(document).on("click", "#confim-payment", function() {
                var form = $("#confim-payment-form");

                var confimDateTime = form.find("input[name='ConfimDateTime']");
                var paymentIds = page.getSelectedIds();
                var command = {
                    ConfimDateTime: confimDateTime.val(),
                    PaymentIds: paymentIds
                };
                $("#MassConfirm").modal("hide");
                form.postCommand('@Url.Action("ConfirmPayments", "CustomerAccount")', command, {
                    onSuccess: function() {
                        return true;
                    },
                    onFail: function(result) {
                        $.bootstrapGrowl(result.errors, {
                            type: "warning",
                            offset: {
                                from: "top",
                                amount: 150
                            },
                            align: "center"
                        });
                    }
                });
            });
            $(document).on("click", "#MassConfirm", function() {

                var command = {
                    PaymentIds: page.getSelectedIds()
                };
                // $(this).postCommand('@Url.Action("Confirm", "Bill")', command);
            });

            $('.bs-select').selectpicker({
                style: 'btn-xs',
                iconBase: 'fa',
                tickIcon: 'fa-check',
                noneSelectedText: "--未选择--"
            });
            $("select[name='Query.RemarkDesc']").val(@Html.Raw(Json.Encode(Model.Query.RemarkDesc?.Select(x => x.ToString()))));
            $('.bs-select').selectpicker('refresh');
        });

        //确认缴费信息弹出窗
        function confirmPayment(customerPaymentId) {
            var confirmPaymentInfo = $('#confirmPayment');
            $.get("@Url.Action("EditCustomerPayment", "CustomerAccount")" + "/" + customerPaymentId, function(result) {
                confirmPaymentInfo.modal('show');
                confirmPaymentInfo.find("form").attr("action", "@Url.Action("SubmitCustomerPayment", "CustomerAccount", new {returnUrl = Request.Url})");
                setFormValues(result);
            });
        }

        function Export() {

            var form = $("#sercherPayment");
            var paymentStartTime = form.find("input[name='Query.PaymentStartTime']").val();
            var paymentEndTime = form.find("input[name='Query.PaymentEndTime']").val();
            var customerName = form.find("input[name='Query.CustomerName']").val();
            var paymentType = form.find("select[name='Query.PaymentType']").val();
            var status = form.find("select[name='Query.Status']").val();
            var projectId = form.find("select[name='Query.ProjectId']").val();
            var actualArrivalStartTime = form.find("input[name='Query.ActualArrivalStartTime']").val();
            var actualArrivalEndTime = form.find("input[name='Query.ActualArrivalEndTime']").val();
            var createBy = form.find("input[name='Query.CreateBy']").val();
            var confimBy = form.find("input[name='Query.ConfimBy']").val();
            var remarkDesc = form.find("input[name='Query.RemarkDesc']").val();
            var command = {
                PaymentStartTime: paymentStartTime,
                PaymentEndTime: paymentEndTime,
                ActualArrivalStartTime: actualArrivalStartTime,
                ActualArrivalEndTime: actualArrivalEndTime,
                CustomerName: customerName,
                PaymentType: paymentType,
                Status: status,
                ProjectId: projectId,
                CreateBy: createBy,
                ConfimBy: confimBy,
                RemarkDesc: remarkDesc
            };
            App.confirm(function() {
                form.postCommand('@Url.Action("Export", "CustomerAccount")', command, {
                    onSuccess: function(result) {
                        window.location = "../" + result.redirect;
                    }
                });
            });
        }
    </script>
}
