@using Foundation.Web.Mvc
@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@using PensionInsurance.Shared
@model PensionInsurance.Web.Views.Sales.Consulting.CreateViewModel

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index","Consulting")">咨询接待管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>@Model.HeaderText</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->


<div class="full-height-content full-height-content-scrollable">
    <div class="portlet light bordered " style="margin-top: 10px;">


        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <table style="width: 100%; border: 1px solid red;">
                <tbody>
                <tr>
                    <td class="tgl" colspan="6">
                        <i class="fa fa-gift"></i>
                        <span class="caption-subject  sbold">客户基础信息</span>
                    </td>
                </tr>
                <tr>
                    <td class="tl">
                        <label class="control-label">咨询类型</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.ConsultingCategory, Model.Consulting.ConsultingCategory.HasValue ? Model.Consulting.ConsultingCategory.ToString() : string.Empty)
                    </td>
                    <td class="tl">
                        <label class="control-label">客户类型</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.Type, Model.Consulting.Type ?? string.Empty)
                    </td>
                    <td class="tl">
                        <label class="control-label">客户级别</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.Level, Model.Consulting.Level ?? string.Empty)
                    </td>
                </tr>
                <tr>
                    <td class="tl">
                        <label class="control-label">获知渠道</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.Channel, Model.Consulting.Channel ?? string.Empty)
                    </td>
                    <td class="tl">
                        <label class="control-label">客户来源</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.SourceType, Model.Consulting.SourceType ?? string.Empty)
                    </td>
                    <td class="tl"><label class="control-label ">未成交原因</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.Reason, Model.Consulting.Reason ?? string.Empty)</td>
                </tr>
                <tr>
                    <td class="tl" style="">
                        <label class="control-label">意向项目</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.Projects, string.Join(",", Model.Consulting.Projects))
                    </td>
                    <td class="tl">
                        <label class="control-label ">意向户型</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.HouseTypes, string.Join(",",Model.Consulting.HouseTypes))
                    </td>
                    <td class="tl" style="">
                        <label class="control-label">入住需求</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.MoveInRequirements, string.Join(",", Model.Consulting.MoveInRequirements))
                    </td>
                </tr>
                <tr>
                    <td class="tl"><label class="control-label">关注点</label></td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.FocusOns, string.Join(",", Model.Consulting.FocusOns))
                    </td>
                    <td class="tl"><label class="control-label ">咨询过其他养老机构</label></td>
                    <td class="tt">
                        @if (Model.Consulting.IsContractNursingHome.HasValue)
                        {
                            @Html.LabelFor(m => m.Consulting.IsContractNursingHome, Model.Consulting.IsContractNursingHome.Value ? "是" : "否")
                        }
                    </td>
                    <td class="tl"><label class="control-label">工作行业</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.WorkIndustry, Model.Consulting.WorkIndustry ?? string.Empty)</td>
                </tr>
                <tr>
                    <td class="tl">
                        <label class="control-label ">客户性别</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.Sex, Model.Consulting.Sex ?? string.Empty)
                    </td>
                    <td class="tl">
                        <label class="control-label ">年龄</label>
                    </td>
                    <td class="tt">
                        @if (Model.Consulting.Age.HasValue)
                        {
                            @Html.LabelFor(m => m.Consulting.Age, Model.Consulting.Age.Value.ToString())
                        }
                    </td>
                    <td class="tl">
                        <label class="control-label "> 身体状况 </label>
                    </td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.HealthStatus, Model.Consulting.HealthStatus ?? string.Empty)</td>
                </tr>
                <tr>
                    <td class="tgl" colspan="6">
                        <i class="fa fa-gift"></i>
                        <span class="caption-subject  sbold">客户其他信息</span>
                    </td>
                </tr>
                <tr>
                    <td class="tl" style="">
                        <label class="control-label">客户姓名</label>
                    </td>
                    <td class="tt">
                        @Html.LabelFor(m => m.Consulting.ConsultingName, Model.Consulting.ConsultingName ?? string.Empty)
                    </td>
                    <td class="tl">
                        <label class="control-label ">联系电话</label>
                        <div class="col-md-9">

                        </div>
                    </td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.Phone, Model.Consulting.Phone ?? string.Empty)</td>
                    <td class="tl">
                        <label class="control-label">居住区域</label>
                    </td>
                    <td class="tt" colspan="1">@Model.ConsultingAreaText</td>
                </tr>
                <tr>
                    <td class="tl">
                        <label class="control-label ">其他联系方式</label>
                    </td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.OtherPhone, Model.Consulting.OtherPhone ?? string.Empty)</td>
                    <td class="tl">
                        <label class="control-label">电子邮件</label>
                    </td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.Email, Model.Consulting.Email ?? string.Empty)</td>
                    <td class="tl">
                        <label class="control-label">联系地址</label>
                    </td>
                    <td class="tt" colspan="1">@Html.LabelFor(m => m.Consulting.Address, Model.Consulting.Address ?? string.Empty)</td>
                </tr>

                <tr>
                    <td class="tl">
                        <label class="control-label">@Model.Consulting.CredentialType</label>
                    </td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.IDCard, Model.Consulting.IDCard ?? string.Empty)</td>
                    <td class="tl">
                        <label class="control-label ">生活能力类型</label>
                    </td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.NusingType, Model.Consulting.NusingType ?? string.Empty)</td>
                    <td class="tl"><label class="control-label"> 教育背景 </label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.EducationalBackground, Model.Consulting.EducationalBackground ?? string.Empty)</td>
                </tr>

                <tr>
                    <td class="tl"><label class="control-label">退休金</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.Pension, Model.Consulting.Pension ?? string.Empty)</td>
                    <td class="tl"><label class="control-label ">子女情况</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.ChildrenInfo, Model.Consulting.ChildrenInfo ?? string.Empty)</td>
                    <td class="tl"><label class="control-label "> 子女工作行业 </label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.WorkIndustryOfChildren, Model.Consulting.WorkIndustryOfChildren ?? string.Empty)</td>
                </tr>

                <tr>
                    <td class="tl"><label class="control-label">与子女同住</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.LivingWithChildren, Model.Consulting.LivingWithChildren ?? string.Empty)</td>
                    <td class="tl"><label class="control-label "> 费用支出人 </label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.Payer, Model.Consulting.Payer ?? string.Empty)</td>
                    <td class="tl"><label class="control-label ">配偶情况</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.SpouseInfo, Model.Consulting.SpouseInfo ?? string.Empty)</td>
                </tr>

                <tr>
                    <td class="tl"><label class="control-label ">雇佣保姆</label></td>
                    <td class="tt">
                        @if (Model.Consulting.HasNanny.HasValue)
                        {
                            @Html.LabelFor(m => m.Consulting.HasNanny, Model.Consulting.HasNanny.Value ? "是" : "否")
                        }
                    </td>
                    <td class="tl"><label class="control-label ">自有住房</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.House, Model.Consulting.House ?? string.Empty)</td>
                    <td class="tl"><label class="control-label ">住房出租</label></td>
                    <td class="tt">
                        @if (Model.Consulting.IsRentOutHouse.HasValue)
                        {
                            @Html.LabelFor(m => m.Consulting.IsRentOutHouse, Model.Consulting.IsRentOutHouse.Value ? "是" : "否")
                        }
                    </td>
                </tr>
                <tr>
                    <td class="tl"><label class="control-label ">创建时间</label></td>
                    <td class="tt">
                        @if (Model.Consulting.CreatedOn.HasValue)
                        {
                            @Html.LabelFor(m => m.Consulting.CreatedOn, Model.Consulting.CreatedOn.Value.DateString())
                        }
                    </td>
                    <td class="tl"><label class="control-label ">兴趣爱好</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.ConsultingHobby, Model.Consulting.ConsultingHobby ?? string.Empty)</td>
                    <td class="tl"><label class="control-label ">客户概述</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.ConsultingDescription, Model.Consulting.ConsultingDescription ?? string.Empty)</td>
                </tr>
                <tr>
                    <td class="tl"><label class="control-label ">客户经营计划</label></td>
                    <td class="tt">@Html.LabelFor(m => m.Consulting.ConsultingSalePlan, Model.Consulting.ConsultingSalePlan ?? string.Empty)</td>
                </tr>
                <tr>
                    <td class="tl"><label class="control-label">备注</label></td>
                    <td class="tt" colspan="5">
                        @Html.LabelFor(m => m.Consulting.Description, Model.Consulting.Description ?? string.Empty)
                    </td>
                </tr>
                </tbody>

                    <tbody>
                        <tr>
                            <td class="tgl" colspan="6">
                                <i class="fa fa-gift"></i>
                                <span class="caption-subject  sbold">推荐人信息</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tl"><label class="control-label "> 推荐人类型 </label></td>
                            <td class="tt">@Html.LabelFor(m => m.Consulting.ReferenceType, Model.Consulting.ReferenceType ?? string.Empty)</td>
                            <td class="tl"><label class="control-label "> 推荐人 </label></td>
                            <td class="tt">@Html.LabelFor(m => m.Consulting.ReferenceName, Model.Consulting.ReferenceName ?? string.Empty)</td>
                            <td class="tl"><label class="control-label ">推荐人联系方式</label></td>
                            <td class="tt">@Html.LabelFor(m => m.Consulting.ReferenceContactInfo, Model.Consulting.ReferenceContactInfo ?? string.Empty)</td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td class="tgl" colspan="6">
                                <i class="fa fa-gift"></i>
                                <span class="caption-subject  sbold">咨询人信息</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="tl"><label class="control-label ">咨询人姓名</label></td>
                            <td class="tt">@Html.LabelFor(m => m.ConsultingFamily.Name, Model.ConsultingFamily.Name ?? string.Empty)</td>
                            <td class="tl"><label class="control-label "> 联系电话 </label></td>
                            <td class="tt">@Html.LabelFor(m => m.ConsultingFamily.Phone, Model.ConsultingFamily.Phone ?? string.Empty)</td>
                            <td class="tl">
                                <label class="control-label">居住区域</label>
                            </td>
                            <td class="tt" colspan="1">@Model.ConsultingFamilyAreaText</td>
                        </tr>

                    <tr>
                        <td class="tl">
                            <label class="control-label "> 与客户的关系 </label>
                        </td>
                        <td class="tt">
                            @Html.LabelFor(m => m.ConsultingFamily.RelationWithConsulting, Model.ConsultingFamily.RelationWithConsulting ?? string.Empty)
                        </td>
                        <td class="tl"><label class="control-label ">其他联系方式</label></td>
                        <td class="tt">@Html.LabelFor(m => m.ConsultingFamily.Phone2, Model.ConsultingFamily.Phone2 ?? string.Empty)</td>
                        <td class="tl"><label class="control-label ">电子邮箱</label></td>
                        <td class="tt">@Html.LabelFor(m => m.ConsultingFamily.Email, Model.ConsultingFamily.Email ?? string.Empty)</td>
                    </tr>
                        <tr>
                            <td class="tl">
                                <label class="control-label">联系地址</label>
                            </td>
                            <td class="tt" colspan="3">
                                @Html.LabelFor(m => m.ConsultingFamily.Address, Model.ConsultingFamily.Address ?? string.Empty)
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="tl">
                                <label class="control-label">备注</label>
                            </td>
                            <td class="tt" colspan="5">
                                @Html.LabelFor(m => m.ConsultingFamily.Description, Model.ConsultingFamily.Description ?? string.Empty)
                            </td>

                        </tr>
                    </tbody>
                </table>
                @if (Model.Consulting != null)
            {
                    <input type="hidden" value="@Model.Consulting.Reason" id="selectedReason" />
                }
            </div>
        </div>
        @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户跟踪管理, Permission.查看))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green"></i>
                                <span class="caption-subject font-green bold uppercase">客户跟踪列表</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table">
                                <table id="items" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>所属项目</th>
                                        <th>沟通类型</th>
                                        <th>开始日期</th>
                                        <th>结束日期</th>
                                        <th>销售人员</th>
                                        <th>沟通记录</th>
                                        <th>是否完成</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td>@Model.Items.RowNumberOf(item)</td>
                                            <td>@(item.Project?.Name)</td>
                                            <td>@item.TrackingType</td>
                                            <td>@item.StartTime.DateString()</td>
                                            <td>@(item.EndTime?.DateString())</td>
                                            <td>@item.User.RealName</td>
                                            <td class="tooltips" data-container="body" data-placement="top" data-original-title="@item.Description">@item.Description.SubString(20, "...")</td>
                                            <td>@item.Status</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    @if (Model.NextConsultingId.HasValue)
                    {
                        <a href="@Url.ReplaceCurrentUrl(new { id = Model.NextConsultingId,page = Model.Page+1})" class="btn yellow btn-sm padding-lf-15">下一页</a>
                    }
                    <a href="@Url.Action("Index")" class="btn yellow btn-sm padding-lf-15">返回</a>
                </div>
            </div>
        }
    </div>
</div>