@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.OrderAcceptance.DetailViewModel
<!-- BEGIN PAGE BAR -->
<style>
    #productlist td {
        text-align: center;
    }

    #productlist th {
        text-align: center;
    }
</style>
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Purchase" )">采购管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>@(Model.PurchaseOrder.OrderType.ToString().Substring(0, Model.PurchaseOrder.OrderType.ToString().Length - 1))订单详细</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div id="div_print" class="portlet light bordered" style="height: auto;">
            <div id="printTitle" class="row text-center"><h1>采购确认单</h1></div>
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">采购信息</span>
                </div>
            </div>
            <div class="form-body margin-top-20">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">项目：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.Project.Name
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">采购类型：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.OrderType
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请人：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.User.RealName
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请部门：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.Department.Name
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请时间：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.OrderDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                    </div>
                    @if (Model.PurchaseOrder.OrderType != OrderType.食材采购单 && Model.PurchaseOrder.OrderType != OrderType.固定资产采购)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">到货时间：</label>
                                <div class="control-label col-md-6">
                                    @Model.PurchaseOrder.ArrivalTime
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.PurchaseOrder.OrderType == OrderType.食材采购单)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">采购类别：</label>
                                <div class="control-label col-md-9">
                                    @Model.PurchaseOrder.FoodOrderType
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.PurchaseOrder.OrderType == OrderType.营销类计划性采购 || Model.PurchaseOrder.OrderType == OrderType.计划采购单 || Model.PurchaseOrder.OrderType == OrderType.餐饮部计划采购)
                {
                    <div class="row margin-top-10">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">采购月份:</label>
                                <div class="control-label col-md-6">
                                    @Model.PurchaseOrder.PurchaseMonth.Value.ToString("yyyy-MM")
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.PurchaseOrderAcceptance.Status != AcceptanceStatus.新建)
            {
                <div class="portlet-title margin-top-20">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">验收信息</span>
                    </div>
                </div>
                <div class="form-body margin-top-20">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">验收时间：</label>
                                <div class="control-label col-md-9">
                                    @Model.PurchaseOrderAcceptance.CheckTime
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        @if (Model.PurchaseOrder.OrderType != OrderType.食材采购单)
                        {
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">验收描述：</label>
                                    <div class="control-label col-md-9">
                                        @Model.PurchaseOrderAcceptance.CheckRemarks
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.PurchaseOrder.OrderType != OrderType.食材采购单 && Model.PurchaseOrder.OrderType != OrderType.固定资产采购)
                        {
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">验收附件：</label>
                                    <div class="control-label col-md-9">
                                        @if (!string.IsNullOrWhiteSpace(Model.PurchaseOrderAcceptance.FilePath))
                                        {
                                            <a href="@Url.Content(Model.PurchaseOrderAcceptance.FilePath)" target="_blank">@Model.PurchaseOrderAcceptance.FileName</a>
                                        }
                                        else if (Model.PurchaseOrderAcceptance.AttachmentBytes != null)
                                        {
                                            <a id="displayFile" href="@Url.Action("ViewAttachment", "OrderAcceptance",new {orderAcceptanceId = Model.PurchaseOrderAcceptance.Id})" target="_blank">查看附件</a>
                                        }
                                        else
                                        {
                                            <div>暂无上传验收附件</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            @if (Model.PurchaseOrderItems.Any())
            {
                <div class="portlet-title margin-top-10">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">采购列表</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table">
                        <table id="productlist" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> 序号 </th>
                                    <th> 物品编码 </th>
                                    <th> 物品名称 </th>
                                    <th> 供应商名称 </th>
                                    <th> 品牌 </th>
                                    <th> 规格 </th>
                                    <th> 单位 </th>
                                    <th> 数量 </th>
                                    @if (Model.PurchaseOrder.Status != OrderStatus.待审批)
                                    {
                                        <th> 实际数量 </th>
                                    }
                                    <th> 单价 </th>
                                    <th> 金额 </th>
                                    <th> 库存 </th>
                                    <th> 描述 </th>
                                    <th> 资产类别 </th>
                                    <th> 备注及用途 </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PurchaseOrderItems.Count > 0)
                                {
                                    foreach (var item in Model.PurchaseOrderItems)
                                    {
                                        <tr>
                                            <td> @Model.PurchaseOrderItems.RowNumberOf(item)</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Code</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Name</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseSupplier.Name</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Brand</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Specification</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Unit</td>
                                            <td>
                                                @item.Quantity
                                            </td>
                                            @if (Model.PurchaseOrder.Status != OrderStatus.待审批)
                                            {
                                                <td>
                                                    @item.ActualQuantity
                                                </td>
                                            }
                                            <td> @item.ActualPrice</td>
                                            <td> @((item.ActualQuantity * item.ActualPrice).FormatString()) </td>
                                            <td>@Model.GetStock(item.PurchaseProductSupplier.Id, Model.PurchaseOrder.Project.Id)</td>
                                            <td class="tooltips" data-container="body" data-placement="top" data-original-title="@item.PurchaseProductSupplier.PurchaseProduct.Description">@item.PurchaseProductSupplier.PurchaseProduct.Description.SubString(20, "...")</td>
                                            <td>@item.PurchaseProduct.AssetClass</td>
                                            <td>
                                                @item.Remarks
                                            </td>
                                        </tr>
                                    }

                                    if (Model.PurchaseOrder.Status != OrderStatus.待审批)
                                    {
                                        <tr><td>合计</td><td colspan="9"></td><td>@(Model.TotalProductPrice)元</td><td></td><td></td><td></td><td></td></tr>
                                    }
                                    else
                                    {
                                        <tr><td>合计</td><td colspan="8"></td><td>@(Model.TotalProductPrice)元</td><td></td><td></td><td></td></tr>
                                    }

                                }
                                else
                                {
                                    <tr><td colspan="14" style="text-align: center;">暂无商品</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if (Model.PurchaseOrderOtherItems.Any())
            {
                <div class="portlet-title margin-top-10">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">其他物品</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table">
                        <table id="productlist" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> 序号 </th>
                                    <th> 采购物品名称 </th>
                                    <th> 供应商名称 </th>
                                    <th> 品牌 </th>
                                    <th> 规格 </th>
                                    <th> 单位 </th>
                                    <th> 数量 </th>
                                    @if (Model.PurchaseOrder.Status != OrderStatus.待审批)
                                    {
                                        <th> 实际数量 </th>
                                    }
                                    <th> 单价 </th>
                                    <th> 实际价格 </th>
                                    <th> 金额 </th>
                                    <th> 资产类别 </th>
                                    <th> 备注及用途 </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PurchaseOrderOtherItems.Count > 0)
                                {
                                    foreach (var item in Model.PurchaseOrderOtherItems)
                                    {
                                        <tr>
                                            <td> @Model.PurchaseOrderOtherItems.RowNumberOf(item)</td>
                                            @if (!string.IsNullOrEmpty(item.ProductUrl))
                                            {
                                                <td><a href="@item.ProductUrl" target="_blank">@item.ProductName</a></td>
                                            }
                                            else
                                            {
                                                <td>@item.ProductName</td>
                                            }
                                            <td> @item.SupplierName</td>
                                            <td> @item.ProductBrand</td>
                                            <td> @item.ProductSpecification</td>
                                            <td> @item.ProductUnit</td>
                                            <td>@item.PurchaseQuantity</td>
                                            @if (Model.PurchaseOrder.Status != OrderStatus.待审批)
                                            {
                                                <td>
                                                    @item.ActualPurchaseQuantity
                                                </td>
                                            }
                                            <td> @item.PurchasePrice</td>
                                            <td> @item.ActualPurchasePrice.ToString("F")</td>
                                            <td> @((item.ActualPurchaseQuantity * item.ActualPurchasePrice).FormatString()) </td>
                                            <td>@item.ProductAssetClass</td>
                                            <td>
                                                @item.Remarks
                                            </td>
                                        </tr>
                                    }

                                    <tr><td>合计</td><td colspan="9"></td><td>@(Model.TotalProductPrice.ToString("F"))元</td><td></td><td></td></tr>
                                }
                                else
                                {
                                    <tr><td colspan="13" style="text-align: center;">暂无商品</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if (Model.PurchaseOrder.OrderType == OrderType.运营紧急采购 || Model.PurchaseOrder.OrderType == OrderType.食材紧急采购)
            {
                <div class="clearfix" style="text-align: right; margin-top: 10px;">
                    <span style="width: 100%; float: right; margin-bottom:10px;">
                        采购单商品 <span id="totalQuantity">@Model.TotalProductQuantity</span> 件, 采购总金额：￥ <span id="totalAmount">@Model.TotalProductPrice.FormatString()</span> 元.
                    </span>
                </div>
            }
            @if (Model.PurchaseOrder.OrderType == OrderType.运营紧急采购)
            {
                <div class="clearfix" style="text-align: right;">
                    <span style="width: 100%; color: #ff0000; float: right; margin-bottom: 10px;">
                        运营紧急采购:总额三千元以上的运营紧急采购，需财务总监审批
                    </span>
                </div>
            }
            @if (Model.PurchaseOrder.OrderType == OrderType.营销类紧急性采购)
            {
                <div class="clearfix" style="text-align: right;">
                    <span style="width: 100%; color: #ff0000; float: right; margin-bottom: 10px;">
                        运营紧急采购:总额三千元以上的运营紧急采购，需财务总监审批
                    </span>
                </div>
            }
            @if (Model.PurchaseOrder.OrderType == OrderType.食材紧急采购)
            {
                <div class="clearfix" style="text-align: right;">
                    <span style="width: 100%; color: #ff0000; float: right; margin-bottom: 10px;">
                        食材紧急采购:总金额在500元以内（含）时，不会通过食材采购负责人审批
                    </span>
                </div>
            }
            @if (Model.CurrentWorkFlowStep != null)
            {
                @Html.Partial("~/Views/Purchase/OrderAcceptance/_Approval.cshtml", Model)
            }
            else if (Model.CurrentWorkflowProgress != null && Model.CurrentWorkflowProgress.Status == WorkflowProgressStatus.开启 && Model.CurrentWorkFlowStep == null)
            {
                @Html.Partial("~/Views/Purchase/OrderAcceptance/_CheckApproval.cshtml", Model)
            }
            else
            {
                @Html.Partial("~/Views/TrackingResult/_TrackingResults.cshtml", Model.TrackingResult)
            }
        </div>
        <div class="form-actions">
            <div class="text-center">
                @if (Model.CurrentWorkFlowStep != null && Model.CurrentWorkFlowStep.User == WebAppContext.Current.User)
                {
                    <button id="Approval" class="btn green btn-sm padding-lf-15 ">提交</button>
                }
                @if (Model.CurrentWorkFlowStep == null && Model.PurchaseOrderAcceptance.Status == AcceptanceStatus.待验收 && Model.PurchaseOrder.User == WebAppContext.Current.User)
                {
                    <button id="CreateUserApproval" class="btn green btn-sm padding-lf-15 ">提交</button>
                }
                @if ((WebAppContext.Current.User.RoleTypeIs(RoleType.超级管理员) || Model.PurchaseOrder.User == WebAppContext.Current.User) && Model.PurchaseOrderAcceptance.Status == AcceptanceStatus.已验收)
                {
                    <a target="_blank" href="@Url.Action("Print","OrderAcceptance",new {id = Model.PurchaseOrderAcceptance.Id})" class="btn green btn-sm padding-lf-15">打印</a>
                }
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#printTitle").hide();
        //审批保存
        $("#Approval").on("click", function() {
            $("#Description").text();
            var url = '@Url.Action("Approval", "OrderAcceptance")';
            var orderAcceptanceId = @Model.PurchaseOrderAcceptance.Id ;
            var result = $("input[name='Result']:checked").val();
            var description = $('#Description').val();
            var currentWorkflowStepId = @Model.CurrentWorkflowStepId;
            if (typeof result == "undefined") {
                result = "";
            }
            var command = {
                OrderAcceptanceId: orderAcceptanceId,
                Result: result,
                Description: description,
                CurrentWorkflowStepId: currentWorkflowStepId
            };
            postCommand(url, command, $(this));
            return false;
        });
        //CreateUserApproval
        $("#CreateUserApproval").on("click", function() {
            $("#Description").text();
            var url = '@Url.Action("Inspect", "OrderAcceptance")';
            var orderAcceptanceId = @Model.PurchaseOrderAcceptance.Id ;
            var result = $("input[name='Result']:checked").val();
            var description = $('#Description').val();
            if (typeof result == "undefined") {
                result = "";
            }
            var command = {
                OrderAcceptanceId: orderAcceptanceId,
                Result: result,
                Description: description
            };
            postCommand(url, command, $(this));
            return false;
        });

    });
</script>
