@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.OrderAcceptance.EditViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
<style>
    #productlist td {
        text-align: center;
    }

    #productlist th {
        text-align: center;
    }

    .input-group .form-control.touchspin {
        margin-top: 0px;
    }
</style>
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Order" )">采购管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>订单详细</span>
            </li>
        </ul>
    </div>
}

<!-- END PAGE BAR -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered" style="height: auto;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">采购信息</span>
                </div>
            </div>
            <div class="form-body margin-top-20">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">项目：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.Project.Name
                                @Html.HiddenFor(m => m.CurrentWorkflowStepUser.Id)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">采购类型：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.OrderType
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请人：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.User.RealName
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请部门：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.Department.Name
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请时间：</label>
                            <div class="control-label col-md-9">
                                @Model.PurchaseOrder.OrderDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                    </div>
                    @if (Model.PurchaseOrder.OrderType != OrderType.食材采购单 && Model.PurchaseOrder.OrderType != OrderType.固定资产采购)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">到货时间：</label>
                                <div class="control-label col-md-6">
                                    @Model.PurchaseOrder.ArrivalTime
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.PurchaseOrder.OrderType == OrderType.食材采购单)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">采购类别：</label>
                                <div class="control-label col-md-9">
                                    @Model.PurchaseOrder.FoodOrderType
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.PurchaseOrder.OrderType == OrderType.营销类计划性采购 || Model.PurchaseOrder.OrderType == OrderType.计划采购单 || Model.PurchaseOrder.OrderType == OrderType.餐饮部计划采购)
                {
                    <div class="row margin-top-10">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">采购月份:</label>
                                <div class="control-label col-md-6">
                                    @Model.PurchaseOrder.PurchaseMonth.Value.ToString("yyyy-MM")
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="portlet-title margin-top-20">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">验收信息</span>
                </div>
            </div>
            <div class="form-body margin-top-20">
                <div class="row">
                    @if (Model.PurchaseOrder.OrderType == OrderType.固定资产采购)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">验收时间：</label>
                                <div class="control-label col-md-6">
                                    @Model.PurchaseOrderAcceptance.CheckTime
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">验收描述：</label>
                                <div class="control-label col-md-9">
                                    @Model.PurchaseOrderAcceptance.CheckRemarks
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">验收时间：<span class="required"> * </span></label>
                                <div class="control-label col-md-6">
                                    <input type="text" class="form-control form-control-inline" id="CheckTime" name="CheckTime" data-date-format="yyyy-mm-dd hh:ii">
                                </div>
                            </div>
                        </div>
                        if (Model.PurchaseOrder.OrderType != OrderType.食材采购单)
                        {
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">验收描述：<span class="required"> * </span></label>
                                    <div class="control-label col-md-9">
                                        <input type="text" class="form-control" id="CheckRemarks" name="CheckRemarks">
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    @if (Model.PurchaseOrder.OrderType != OrderType.食材采购单 && Model.PurchaseOrder.OrderType != OrderType.固定资产采购)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">验收附件：</label>
                                <div class="control-label col-md-9">
                                    @if (!string.IsNullOrWhiteSpace(Model.PurchaseOrderAcceptance.FilePath))
                                    {
                                        <a id="displayFile" href="@Url.Content(Model.PurchaseOrderAcceptance.FilePath)" target="_blank">@Model.PurchaseOrderAcceptance.FileName</a>
                                        <a id="uploadShow" href="javascript:;" class="col-md-3 padding-lf-15">重新上传</a>
                                    }
                                    else if (Model.PurchaseOrderAcceptance.AttachmentBytes != null)
                                    {
                                        <a id="displayFile" href="@Url.Action("ViewAttachment", "OrderAcceptance", new {orderAcceptanceId = Model.PurchaseOrderAcceptance.Id})" target="_blank">查看附件</a>
                                        <a id="uploadShow" href="javascript:;" class="col-md-3 padding-lf-15">重新上传</a>
                                    }
                                    else
                                    {
                                        <a id="displayFile" href="javascript:;" target="_blank">@Model.PurchaseOrderAcceptance.FileName</a>
                                        <a id="uploadShow" href="javascript:;" class="col-md-3 padding-lf-15">上传附件</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (Model.PurchaseOrderItems.Any())
            {
                <div class="portlet-title margin-top-20">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">采购列表</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table">
                        <table id="productlist" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> 序号 </th>
                                    <th> 物品编码 </th>
                                    <th> 物品名称 </th>
                                    <th> 供应商名称 </th>
                                    <th> 品牌 </th>
                                    <th> 规格 </th>
                                    <th> 单位 </th>
                                    <th> 预计数量 </th>
                                    @if (Model.PurchaseOrder.Status != OrderStatus.待审批)
                                    {
                                        <th style="width: 120px;"> 实际数量 </th>
                                    }
                                    <th> 单价 </th>
                                    <th> 金额 </th>
                                    <th> 库存 </th>
                                    <th> 描述 </th>
                                    <th> 资产类别 </th>
                                    <th> 备注及用途 </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PurchaseOrderItems.Count > 0)
                                {
                                    foreach (var item in Model.PurchaseOrderItems)
                                    {
                                        <tr>
                                            <td> @Model.PurchaseOrderItems.RowNumberOf(item)</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Code</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Name</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseSupplier.Name</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Brand</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Specification</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Unit</td>
                                            <td>
                                                @item.Quantity
                                            </td>
                                            @if (Model.PurchaseOrder.Status != OrderStatus.待审批)
                                            {
                                                <td>
                                                    <div class="input-group bootstrap-touchspin input-group-xs">
                                                        <input type="text" old-quantity="@item.Quantity" data-id="@item.Id" value="@item.ActualQuantity" name="demo_vertical" class="form-control touchspin newtouchspin col-xs-2">
                                                    </div>
                                                </td>
                                            }
                                            <td> @item.ActualPrice</td>
                                            <td id="ItemAmountTotal_@item.Id"> @((item.ActualQuantity * item.ActualPrice).FormatString()) </td>
                                            <td>@Model.GetStock(item.PurchaseProductSupplier.Id, Model.PurchaseOrder.Project.Id)</td>
                                            <td class="tooltips" data-container="body" data-placement="top" data-original-title="@item.PurchaseProductSupplier.PurchaseProduct.Description">@item.PurchaseProductSupplier.PurchaseProduct.Description.SubString(20, "...")</td>
                                            <td>@item.PurchaseProduct.AssetClass</td>
                                            <td>
                                                @item.Remarks
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="14" style="text-align: center;">暂无商品</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            }

            @if (Model.PurchaseOrderOtherItems.Any())
            {
                <div class="portlet-title margin-top-10">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">其他物品</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table">
                        <table id="productlist" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> 序号 </th>
                                    <th> 采购物品名称 </th>
                                    <th> 供应商名称 </th>
                                    <th> 品牌 </th>
                                    <th> 规格 </th>
                                    <th> 单位 </th>
                                    <th> 预计数量 </th>
                                    @if (Model.PurchaseOrder.Status != OrderStatus.待审批)
                                    {
                                        <th style="width: 120px;"> 实际数量 </th>
                                    }
                                    <th style="width: 160px;"> 实际单价 </th>
                                    <th> 金额 </th>
                                    <th> 资产类别 </th>
                                    <th> 备注及用途 </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PurchaseOrderOtherItems.Count > 0)
                                {
                                    foreach (var item in Model.PurchaseOrderOtherItems)
                                    {
                                        <tr>
                                            <td> @Model.PurchaseOrderOtherItems.RowNumberOf(item)</td>
                                            <td> @item.ProductName</td>
                                            <td> @item.SupplierName</td>
                                            <td> @item.ProductBrand</td>
                                            <td> @item.ProductSpecification</td>
                                            <td> @item.ProductUnit</td>
                                            <td>@item.PurchaseQuantity</td>
                                            @if (Model.PurchaseOrder.Status != OrderStatus.待审批)
                                            {
                                                <td>
                                                    <div class="input-group bootstrap-touchspin input-group-xs">
                                                        <input type="text" old-quantity="@item.PurchaseQuantity" data-id="@item.Id" value="@item.ActualPurchaseQuantity" name="demo_vertical" class="form-control touchspin  Othertouchspin col-xs-2">
                                                    </div>
                                                </td>
                                            }
                                            <td>@item.ActualPurchasePrice</td>

                                            <td id="otherItemAmountTotal_@item.Id"> @((item.ActualPurchaseQuantity * item.ActualPurchasePrice).FormatString()) </td>
                                            <td>@item.ProductAssetClass</td>
                                            <td>@item.Remarks</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="13" style="text-align: center;">暂无商品</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model.PurchaseOrder.OrderType == OrderType.运营紧急采购 || Model.PurchaseOrder.OrderType == OrderType.食材紧急采购)
            {
                <div class="clearfix" style="text-align: right; margin-top: 10px;">
                    <span style="width: 100%; float: right; margin-bottom: 10px;">
                        采购单商品 <span id="totalQuantity">@Model.TotalProductQuantity</span> 件, 采购总金额：￥ <span id="totalAmount">@Model.TotalProductPrice.FormatString()</span> 元.
                    </span>
                </div>
            }

        </div>

        <div class="form-actions">
            <div class="text-center">
                @if (Model.CurrentWorkflowStepUser != null && Model.CurrentWorkflowStepUser == WebAppContext.Current.User && Model.PurchaseOrderAcceptance.Status == AcceptanceStatus.新建)
                {
                    <button id="CheckSubmit" class="btn green btn-sm padding-lf-15 ">提交</button>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal small fade" id="uploadInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>附件上传
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="fileupload" action="@Url.Action("Upload", "OrderAcceptance")" method="POST" enctype="multipart/form-data">
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                            <div class="form-body">
                                                <div class="row">
                                                    <!--/span-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <div class="input-group input-large">
                                                                    <div class="form-control uneditable-input input-fixed input-small" data-trigger="fileinput">
                                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                        <span class="fileinput-filename"> </span>
                                                                    </div>
                                                                    <span class="input-group-addon btn default btn-file">
                                                                        <span class="fileinput-new">选择文件</span>
                                                                        <span class="fileinput-exists">替换</span>
                                                                        <input type="file" name="file">
                                                                    </span>
                                                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">删除</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="text-center">
                                                <button class="btn green btn-sm padding-lf-15">上传</button>
                                                <button type="button" id="dissmissUpload" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">返回</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src=@Url.Content("~/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js") type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#CheckTime").datetimepicker({
            autoclose: true,
            todayBtn: true,
            language: "zh-CN"
        });

        // 附件上传弹出层
        $("#uploadShow").click(function () {
            var uploadInfo = $('#uploadInfo');
            uploadInfo.modal('show');
            clearFormValues("uploadInfo");
        });

        $("#fileupload").submit(function () {
            var $form = $(this);
            var formData = new FormData($form[0]);
            if ($("#fileupload input[type=file]").val() === "") {
                $.bootstrapGrowl("请选择上传文件!", {
                    type: "warning",
                    offset: {
                        from: "top",
                        amount: 150
                    },
                    align: "center"
                });
                return false;
            }
            //$.post($form.attr("action"), formData, function (data) {
            //    console.log(data);
            //});
            var url = $form.attr("action");
            formData.append("OrderAcceptanceId", "@Model.PurchaseOrderAcceptance.Id");
            //postCommand(url, formData, $form);
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                cache: false,
                processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
                contentType: false, // 不设置Content-type请求头
                success: function (data) {
                    var $file = $('#displayFile');
                    $file.attr("href", data.FilePath.substring(1, data.FilePath.length));
                    $file.text(data.FileName);
                    $('#dissmissUpload').click();
                },
                error : function () { }
            })
            return false;
        });
        //CheckSubmit
        $("#CheckSubmit").on("click", function() {
            var url = '@Url.Action("CheckSubmit", "OrderAcceptance")';
            var orderAcceptanceId = @Model.PurchaseOrderAcceptance.Id ;
            var checkTime = $('#CheckTime').val();
            var checkRemarks = $('#CheckRemarks').val();
            var currentWorkflowStepUserId = $('#CurrentWorkflowStepUser_Id').val();
            var command = {
                OrderAcceptanceId: orderAcceptanceId,
                CheckTime: checkTime,
                CheckRemarks: checkRemarks,
                CurrentWorkflowStepUserId: currentWorkflowStepUserId
            };
            postCommand(url, command, $(this));
            return false;
        });

        $(".touchspin").TouchSpin({
            min: 0,
            max: 100000,
            step: 1,
            decimals: 0,
            buttondown_class: "btn btn-xs",
            buttonup_class: "btn btn-xs"
        });


        //其他商品数量修改Othertouchspin
        $(".Othertouchspin").change(function () {
            var orderAcceptanceId = @Model.PurchaseOrderAcceptance.Id;
            var $this = $(this);
            var oldsum = $this.attr("old-quantity");
            var quantity = $this.val();
            if (parseFloat(quantity) < 0 || parseFloat(quantity) > parseFloat(oldsum)) {
                $this.val(parseFloat(oldsum));
                quantity = $this.val();
            }
            var id = $this.attr("data-id");
            $.get("@Url.Action("UpdateOrderOtherItemActualQuantity", "OrderAcceptance")" + "?quantity=" + quantity + "&orderItemId=" + id + "&orderAcceptanceId=" + orderAcceptanceId,

                function (e) {
                    if (e.success) {
                        $("#totalQuantity").html(e.TotalQuantity);
                        $("#totalAmount").html(parseFloat(e.TotalAmount).toFixed(2));
                        var itemTotal = $("#otherItemAmountTotal_" + id);
                        itemTotal.html(e.ItemTotalAmount);
                    }
                });
            return false;
        });

        //修改数量
        $(".newtouchspin").change(function () {
            var orderAcceptanceId = @Model.PurchaseOrderAcceptance.Id;
            var $this = $(this);
            var oldsum = $this.attr("old-quantity");
            var quantity = $this.val();
            if (parseFloat(quantity) < 0 || parseFloat(quantity)>parseFloat(oldsum)) {
                $this.val(parseFloat(oldsum));
                quantity = $this.val();
            }
            var id = $this.attr("data-id");
            $.get("@Url.Action("UpdateOrderItemActualQuantity", "OrderAcceptance")" + "?quantity=" + quantity + "&orderItemId=" + id + "&orderAcceptanceId=" + orderAcceptanceId,

                function (e) {
                    if (e.success) {
                        $("#totalQuantity").html(e.TotalQuantity);
                        $("#totalAmount").html(parseFloat(e.TotalAmount).toFixed(2));
                        var itemTotal = $("#ItemAmountTotal_" + id);
                        itemTotal.html(e.ItemTotalAmount);
                    }
                });
            return false;
        });




    });
</script>
