@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Reports.SalesPersonDailyReport.IndexViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>咨询客户销售日报</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"></h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>咨询客户销售日报 - 查询条件
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="report-search-form" action="@Url.Action("Index", "SalesPersonDailyReport")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">所属项目</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(x => x.Query.ProjectIds, Model.ProjectList, new { multiple = "", @class = "selectpicker" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">时间范围</label>
                                    <div class="col-md-9">
                                        <div class="input-group input-large date-picker input-daterange" data-date="2012-07-01" data-date-format="yyyy-mm-dd">
                                            @Html.InputDate(x => x.Query.StartDate)
                                            <span class="input-group-addon"> 至 </span>
                                            @Html.InputDate(x => x.Query.EndDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-center"><button type="submit" class="btn green btn-sm padding-lf-15 " data-showloading="true">查询</button></div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">咨询客户销售日报</span>
                </div>
                <div class="actions">
                   @if(PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.导出咨询客户销售日报))
                        {
                            <a href="javascript:;" class="btn green export-report"><i class="fa fa-repeat"></i>导出</a>
                        }
                </div>
            </div>
            <div class="portlet-body">
                <div class="table table-scrollable">
                    @if (Model.Query.StartDate.HasValue && Model.Query.EndDate.HasValue)
                    {
                        <table class="table-report table table-bordered" style="margin-bottom: 20px;">
                            <thead>

                                <tr>
                                    <th class="th-50-percent">项目</th>
                                    <th class="th-50-percent">统计项</th>
                                    @for (var current = Model.Query.StartDate.Value.Date; current <= Model.Query.EndDate.Value; current = current.AddDays(1))
                                    {
                                        <th>@current.DateString()</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in Model.Projects)
                                {
                                    <tr>
                                        <td rowspan="7">@(project.Name)</td>
                                        <td>
                                            总来电
                                        </td>
                                        @for (var current = Model.Query.StartDate.Value.Date; current <= Model.Query.EndDate.Value; current = current.AddDays(1))
                                        {
                                            if (Model.GetDaily(project.Id, current) != null)
                                            {
                                                <td>@Model.GetDaily(project.Id, current).IncomingCallCount</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <td>
                                            新增来电
                                        </td>
                                        @for (var current = Model.Query.StartDate.Value.Date; current <= Model.Query.EndDate.Value; current = current.AddDays(1))
                                        {
                                            if (Model.GetDaily(project.Id, current) != null)
                                            {
                                                <td>@Model.GetDaily(project.Id, current).NewAddIncomingCallCount</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <td>
                                            有效来电
                                        </td>
                                        @for (var current = Model.Query.StartDate.Value.Date; current <= Model.Query.EndDate.Value; current = current.AddDays(1))
                                        {
                                            if (Model.GetDaily(project.Id, current) != null)
                                            {
                                                <td>@Model.GetDaily(project.Id, current).ValidIncomingCallCount</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <td>
                                            总来访
                                        </td>
                                        @for (var current = Model.Query.StartDate.Value.Date; current <= Model.Query.EndDate.Value; current = current.AddDays(1))
                                        {
                                            if (Model.GetDaily(project.Id, current) != null)
                                            {
                                                <td>@Model.GetDaily(project.Id, current).VisitCount</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <td>
                                            有效来访
                                        </td>
                                        @for (var current = Model.Query.StartDate.Value.Date; current <= Model.Query.EndDate.Value; current = current.AddDays(1))
                                        {
                                            if (Model.GetDaily(project.Id, current) != null)
                                            {
                                                <td>@Model.GetDaily(project.Id, current).ValidVisitCount</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <td>
                                            电转访
                                        </td>
                                        @for (var current = Model.Query.StartDate.Value.Date; current <= Model.Query.EndDate.Value; current = current.AddDays(1))
                                        {
                                            if (Model.GetDaily(project.Id, current) != null)
                                            {
                                                <td>@Model.GetDaily(project.Id, current).IncomingPhoneToVisitCount</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <td style="width: 115px;">
                                            成交房间数
                                        </td>
                                        @for (var current = Model.Query.StartDate.Value.Date; current <= Model.Query.EndDate.Value; current = current.AddDays(1))
                                        {
                                            if (Model.GetDaily(project.Id, current) != null)
                                            {
                                                <td>@Model.GetDaily(project.Id, current).RoomCount</td>
                                            }
                                        }
                                    </tr>
                                }


                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js") type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/clockface/js/clockface.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/initRoomSelect.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                style: 'btn-xs',
                iconBase: 'fa',
                tickIcon: 'fa-check',
                noneSelectedText: "--未选择--"
            });
            $("select[name='Query.ProjectIds']").val(@Html.Raw(Json.Encode(Model.Query.ProjectIds)));

            $('.selectpicker').selectpicker('refresh');

            $(document).on("click", ".export-report", function () {
                var form = $("#report-search-form");
                var st = $("#Query_StartDate").val();
                var et = $("#Query_EndDate").val();
                var projectIds = form.find("select[name='Query.ProjectIds']").val();
                var command = {
                    StartDate: st,
                    EndDate: et,
                    ProjectIds: projectIds
                };
                App.confirm(function () {
                    form.postCommand('@Url.Action("ExportSalesProjectDailyReport", "SalesPersonDailyReport")', command, {
                        onSuccess: function (result) {
                            window.location = "../" + result.redirect;
                        }
                    });
                });
            });

        });
    </script>
}
