@using PPM.Commands
@using PPM.Web.Common
@model PPM.MVC.Views.Equipment.Info.CreateViewModel

@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>设备分类模板查询
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Create","EquipmentInfo")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">分类名称</label>
                                    <div class="input-group col-md-8">
                                        <input type="text" class="form-control" disabled id="productCategoryText" value="@Model.CategoryText" placeholder="选择分类">
                                        <input id="productCategoryId" type="hidden" name="CategoryId" value="@Model.CategoryId" />
                                        <span id="getCategories" class="input-group-addon" style="padding: 3px 12px;">
                                            <i class="fa fa-bars font-red"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button type="submit" class="btn green">查询模板</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form data-ajax="true" action="@Url.Action("Create", "EquipmentInfo")" method="POST" enctype="multipart/form-data">
                    <div class="portlet" style="margin-top: 10px;">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>新增设备信息
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                @{
                                    if (Model.EquipmentCategory != null)
                                    {
                                        <input type="hidden" name="CategoryId" value="@Model.EquipmentCategory.Id" />
                                        var index = 0;
                                        foreach (var equipmentCategoryColumn in Model.EquipmentCategory.Columns)
                                        {
                                            if (equipmentCategoryColumn.ColumnType == EquipmentCategoryColumnType.文件.ToString())
                                            {
                                                <div class="row margin-top-10">
                                                    <div class="col-md-6 col-md-offset-2">
                                                        <div class="form-group">
                                                            <label class="text-right col-md-3">@equipmentCategoryColumn.ColumnName (@equipmentCategoryColumn.ColumnType)</label>
                                                            <div class="col-md-9">

                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <div class="input-group input-large">
                                                                        <div class="form-control uneditable-input input-fixed input-small" data-trigger="fileinput">
                                                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                            <span class="fileinput-filename"></span>
                                                                        </div>
                                                                        <span class="input-group-addon btn default btn-file">
                                                                            <span class="fileinput-new">选择文件</span>
                                                                            <span class="fileinput-exists">替换</span>
                                                                            <input type="file" name="file">
                                                                        </span>
                                                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">删除</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (equipmentCategoryColumn.ColumnType == EquipmentCategoryColumnType.日期.ToString())
                                            {
                                                <div class="row">
                                                    <div class="col-md-6 col-md-offset-2">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">@equipmentCategoryColumn.ColumnName (@equipmentCategoryColumn.ColumnType)</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control dateTypeField" name="Values[@index]" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-6 col-md-offset-2">
                                                        <div class="form-group">
                                                            <label class="text-right col-md-3">@equipmentCategoryColumn.ColumnName  (@equipmentCategoryColumn.ColumnType)</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" name="Values[@index]" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            index++;
                                        }
                                    }
                                }
                                <div class="errors alert alert-danger fade in" style="display: none;"></div>
                                <!--/row-->
                                <div class="row text-center" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-sm green">保存</button>
                                        <button type="button" class="btn yellow btn-sm padding-lf-15" onclick="javascript: history.back(-1);">返回上一页</button>
                                    </div>
                                </div>
                                <!-- END FORM-->
                            </div>
                            <!-- END FORM-->
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>


<div class="modal small fade" id="productCategories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>商品分类
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <div id="tree_1" class="tree-demo">
                            @Html.Raw(Model.ProductCategoryTreeView.GetSubTreeNodes(Model.ProductCategoryTreeView.Trees))
                        </div>
                        <div id="category-noselect-error" class="alert alert-danger hidden">
                            <strong>未选择商品分类!</strong>
                        </div>
                        <div class="row">
                            <br />
                            <p>
                                <div class="text-center">
                                    <button id="select-product-category" class="btn green btn-sm padding-lf-15">确定</button>
                                    <button id="cancel-select-product-category" type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">取消</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal small fade" id="productCategories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>商品分类
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <div id="tree_1" class="tree-demo">
                            @Html.Raw(Model.ProductCategoryTreeView.GetSubTreeNodes(Model.ProductCategoryTreeView.Trees))
                        </div>
                        <div id="category-noselect-error" class="alert alert-danger hidden">
                            <strong>未选择商品分类!</strong>
                        </div>
                        <div class="row">
                            <br />
                            <p>
                                <div class="text-center">
                                    <button id="select-product-category" class="btn green btn-sm padding-lf-15">确定</button>
                                    <button id="cancel-select-product-category" type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">取消</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.dateTypeField').datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN",
                format: 'yyyy-mm-dd',
                minView: 2,
                todayHighlight: true,
            });

            $('#getCategories').on('click',
                function () {
                    var productCategories = $('#productCategories');
                    productCategories.modal('show');
                });

            $('#select-product-category').on('click',
                function () {
                    var checkedCategory = $('.jstree-clicked');
                    var categoryId = checkedCategory.attr('data-id');
                    var categoryText = checkedCategory.attr('data-text');
                    var error = $('#category-noselect-error');
                    if (categoryId || categoryText) {
                        error.addClass('hidden');
                        $('#productCategoryId').val(categoryId);
                        $('#productCategoryText').val(categoryText);

                        $('#cancel-select-product-category').click();
                    } else {
                        error.removeClass('hidden');
                    }
                });
        });
    </script>
}