@using System.Web.UI.WebControls
@using PPM.Commands
@using PPM.Entities
@using PPM.Shared
@using PPM.Web.Common
@model PPM.MVC.Views.Equipment.Info.IndexViewModel
<!-- BEGIN PAGE BAR -->
<!-- END PAGE BAR -->
@section Styles{
    <style>
        .input-group[class*=col-] {
            float: left !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>设备信息查询
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="query" action="@Url.Action("Index","EquipmentInfo",new {page = Model.Items.Page,pageSize = Model.Items.PageSize})" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">产品大类</label>
                                    <div class="input-group col-md-9" id="getCategories">
                                        <input type="text" class="form-control" disabled id="productCategoryText" value="@Model.CategoryText" placeholder="选择分类">
                                        <input id="productCategoryId" type="hidden" name="Query.CategoryId" value="@Model.Query.CategoryId" />
                                        <span class="input-group-addon" style="padding: 3px 12px;">
                                            <i class="fa fa-chevron-down font-red"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">产品小类</label>
                                    <div class="input-group col-md-9" id="getCategories1">
                                        <input type="text" class="form-control" disabled id="productCategoryText1" value="@Model.CategoryText1" placeholder="选择分类">
                                        <input id="productCategoryId1" type="hidden" name="Query.CategoryId1" value="@Model.Query.CategoryId1" />
                                        <span class="input-group-addon" style="padding: 3px 12px;">
                                            <i class="fa fa-chevron-down font-red"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-body">
                            <div class="row">

                            </div>
                        </div>*@
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">产品名称</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Query.Name" value="@Model.Query.Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">产品编号</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Query.IdentifierNo" value="@Model.Query.IdentifierNo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-body">
                            <div class="row">

                            </div>
                        </div>*@
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">批次</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Query.BatchNum" value="@Model.Query.BatchNum" onkeyup="if(! /^[0-9]\d*$/.test(this.value)){this.value = ''}" onafterpaste="if(! /^[0-9]\d*$/.test(this.value)){this.value = '');}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">出厂日期</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control dateTypeField" name="Query.OutDateTime" value="@Model.Query.OutDateTime" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-body">
                            <div class="row">

                            </div>
                        </div>*@
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button type="submit" class="btn green">查询</button>
                                        @*<input type="button" onclick="{$('#productCategoryId').val(0);$('#productCategoryText').val('');$('#productCategoryId1').val(0);$('#productCategoryText1').val('');document.getElementById('query').reset();}" class="btn yellow" value="重置">*@
                                        <a role="button" href="@Url.Action("Index", "EquipmentInfo")" class="btn yellow">重置</a>
                                        @*<a role="button" href="javascript:;" onclick="reset()" class="btn yellow">重置</a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<div class="portlet" style="margin-top: 10px; min-height: 500px;">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase">设备信息</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Create", "EquipmentInfo")" class="btn green">
                <i class="fa fa-plus" aria-hidden="true"></i>
                新增
            </a>

            @*@if (WebAppContext.Current.User.RoleTypeIs(RoleType.超级管理员))
                {*@
            <a href="javascript:;" class="btn green equipments-import">
                <i class="fa fa-rotate-left" aria-hidden="true"></i>
                导入
            </a>
            @*}*@
        </div>
    </div>
    <div class="portlet-body">
        <div class="table">
            <table id="productlist" class="table table-bordered">
                @if (Model.Items.Any())
                {
                    <thead>
                        <tr>
                            <th>设备ID</th>
                            <th>生产厂商</th>
                            <th>批次</th>
                            <th>产品大类</th>
                            <th>产品小类</th>
                            <th>产品名称</th>
                            <th>产品编码</th>
                            <th>规格型号</th>
                            <th>材质</th>
                            <th>技术人员</th>
                            <th>物资人员</th>
                            <th>领料人</th>
                            <th>出厂日期</th>
                            <th>检测人员</th>
                            <th>检测结果</th>
                            <th>产品执行标准</th>
                            <th>安装位置</th>
                            @*@{
                                    var equipmentCategoryColumns = Model.Items.FirstOrDefault()?.EquipmentCategory?.Columns.Where(x => x.ColumnType != EquipmentCategoryColumnType.文件.ToString());
                                }
                                @if (equipmentCategoryColumns != null)
                                {
                                    foreach (var header in equipmentCategoryColumns)
                                    {
                                        <th>@header.ColumnName</th>
                                    }
                                }*@
                            <th>产品图片</th>
                            <th>二维码</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Id</td>
                                @*@{ var index = 0; }
                                    @foreach (var cell in item.EquipmentInfoColumnValues)
                                    {
                                        if (item.EquipmentCategory.Columns[index].ColumnType != EquipmentCategoryColumnType.文件.ToString())
                                        {
                                            <td>@cell.Value</td>
                                        }
                                        index++;
                                    }*@
                                <td>@item.Manufacturer</td>
                                <td>@item.BatchNum</td>
                                <td>@(item.EquipmentCategory?.Name)</td>
                                <td>@(item.EquipmentCategory1?.Name)</td>
                                <td>@item.Name</td>
                                <td>@item.IdentifierNo</td>
                                <td>@item.Specification</td>
                                <td>@item.Meterial</td>
                                <td>@item.Technician</td>
                                <td>@item.Supplier</td>
                                <td>@item.Picker</td>
                                <td>@item.OutDateTime</td>
                                <td>@item.Checker</td>
                                <td>@item.CheckResult</td>
                                <td>@item.ExecuteStandard</td>
                                <td>@item.SetupLocation</td>
                                <td><img src="@(string.IsNullOrEmpty(item.ImageUrl) ? "" : Url.Content(item.ImageUrl))" style="width: 100px; height: 100px;" alt="产品图片" /></td>
                                <td><img src="@Url.Content(item.QrCodeImage)" style="width: 100px; height: 100px;" alt="设备二维码" /></td>
                                <td>
                                    <a href="@Url.Action("Edit", "EquipmentInfo", new {id = item.Id})" class="btn default btn-xs yellow-stripe">编辑</a>
                                    <a href="javascript:;" data-command1="@Model.DeleteCommand(item.Id).ToJavascript()" onclick="deleteCategory(this)" class="btn default btn-xs red-stripe">
                                        删除
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            @Html.Partial("_Pagination", Model.Items)
        </div>
    </div>
</div>


<div class="modal small fade" id="productCategories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>产品大类
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <div id="tree_1" class="tree-demo">
                            @Html.Raw(Model.ProductCategoryTreeView.GetSubTreeNodes(Model.ProductCategoryTreeView.Trees))
                        </div>
                        <div id="category-noselect-error" class="alert alert-danger hidden">
                            <strong>未选择商品分类!</strong>
                        </div>
                        <div class="row">
                            <br />
                            <p>
                                <div class="text-center">
                                    <button id="select-product-category" class="btn green btn-sm padding-lf-15">确定</button>
                                    <button id="cancel-select-product-category" type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">取消</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal small fade" id="productCategories1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>产品小类
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <div id="tree_11" class="tree-demo">
                            @Html.Raw(Model.ProductCategoryTreeView.GetSubTreeNodes(Model.ProductCategoryTreeView.Trees))
                        </div>
                        <div id="category-noselect-error1" class="alert alert-danger hidden">
                            <strong>未选择商品分类!</strong>
                        </div>
                        <div class="row">
                            <br />
                            <p>
                                <div class="text-center">
                                    <button id="select-product-category1" class="btn green btn-sm padding-lf-15">确定</button>
                                    <button id="cancel-select-product-category1" type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">取消</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dateTypeField').datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh",
                format: 'yyyy-mm-dd',
                minView: 2,
                todayHighlight: true,
            });

            $('#getCategories').on('click',
                function() {
                    var productCategories = $('#productCategories');
                    productCategories.modal('show');
                });

            $('#getCategories1').on('click',
                function() {
                    var productCategories = $('#productCategories1');
                    productCategories.modal('show');
                });

            $('.jstree-clicked').on('click',
                function() {
                    var checkedCategory = $('.jstree-clicked').first();
                    var categoryId = checkedCategory.attr('data-id');
                    var categoryText = checkedCategory.attr('data-text');
                    var error = $('#category-noselect-error');
                    if (categoryId || categoryText) {
                        error.addClass('hidden');
                        $('#productCategoryId').val(categoryId);
                        $('#productCategoryText').val(categoryText);

                        $('#cancel-select-product-category').click();
                    } else {
                        error.removeClass('hidden');
                    }
                });

            $('#select-product-category1').on('click',
                function() {
                    var checkedCategory = $('.jstree-clicked').last();
                    var categoryId = checkedCategory.attr('data-id');
                    var categoryText = checkedCategory.attr('data-text');
                    var error = $('#category-noselect-error1');
                    if (categoryId || categoryText) {
                        error.addClass('hidden');
                        $('#productCategoryId1').val(categoryId);
                        $('#productCategoryText1').val(categoryText);

                        $('#cancel-select-product-category1').click();
                    } else {
                        error.removeClass('hidden');
                    }
                });
        });

        $(document)
            .on("click",
                ".equipments-import",
                function() {
                    App.dialogMultipart('#Product-import-form', '@Url.Action("BatchImport", "EquipmentInfo")');
                });

        var deleteCategory = function deleteCategory(obj) {
            var $confirm = $(obj);
            var message = $confirm.attr('data-confirmation-message');
            App.confirm(function () {
                    $.bootstrapGrowl("操作成功!",
                        {
                            type: "success",
                            offset: {
                                from: "top",
                                amount: 150
                            },
                            align: "center",
                            delay: 3000
                        });
                    postCommand($confirm.data("command1").Url, $confirm.data("command1").Command, $confirm);
                },
                function() {

                },
                message);
        }

        var reset = function reset() {
            $('#productCategoryId').val(0);
            $('#productCategoryText').val("");
            $('#productCategoryId1').val(0);
            $('#productCategoryText1').val("");
            document.getElementById("query").reset();
        }
    </script>
}
