@using PPM.Commands
@model PPM.MVC.Views.Equipment.Info.ViewInWechatViewModel
@{
    Layout = "";
    var equipmentInfo = Model.EquipmentInfo;
    var category = equipmentInfo.EquipmentCategory;
    var categoryColumns = category.Columns;
    var columnValues = equipmentInfo.EquipmentInfoColumnValues;
    var empty = "暂无";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设备详情</title>
    <!-- head 中 -->
    <link href=@Url.Content("~/assets/weui/weui.css") rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <style>
        body, html {
            height: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        .demos-title {
            text-align: center;
            font-size: 34px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }

        .demos-sub-title {
            text-align: center;
            color: #888;
            font-size: 14px;
        }

        .demos-header {
            padding: 35px 0;
        }

        .demos-content-padded {
            padding: 15px;
        }

        .demos-second-title {
            text-align: center;
            font-size: 24px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }

        footer {
            text-align: center;
            font-size: 14px;
            padding: 20px;
        }

            footer a {
                color: #999;
                text-decoration: none;
            }
            p {
                color: #999999;
            }
    </style>
</head>
<body>
    <header class='demos-header'>
        <h4 class="demos-title">设备分类: @category.Name</h4>
    </header>

    <div class="bd">
        <div class="weui-cells__title">设备参数</div>
        @{
            var index = 0;
        }
        <div class="weui-cells">
            <div class="weui-cell">
                @*<div class="weui-cell__bd">
                <p>安装位置</p>
            </div>
            <div class="weui-cell__ft">@(equipmentInfo.SetupLocation)</div>*@
                <img src="@Url.Content(equipmentInfo.ImageUrl)" style="max-width: 348px; margin-right: 10px;" alt="产品图片" />
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>产品Id</p>
                </div>
                <div class="weui-cell__ft">@equipmentInfo.Id</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>产品名称</p>
                </div>
                <div class="weui-cell__ft">@equipmentInfo.Name</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>生产厂家</p>
                </div>
                <div class="weui-cell__ft">@equipmentInfo.Manufacturer</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>批次</p>
                </div>
                <div class="weui-cell__ft">@equipmentInfo.BatchNum</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>产品小类</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.EquipmentCategory1?.Name ?? empty)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>产品编码</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.IdentifierNo)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>规格型号</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.Specification)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>材质</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.Meterial)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>技术人员</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.Technician)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>物资人员</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.Supplier)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>领料人</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.Picker)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>出厂日期</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.OutDateTime?.ToShortDateString())</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>检测人员</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.Checker)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>检测结果</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.CheckResult)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>产品执行标准</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.ExecuteStandard)</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>安装位置</p>
                </div>
                <div class="weui-cell__ft">@(equipmentInfo.SetupLocation)</div>
            </div>

            @foreach (var categoryColumn in categoryColumns)
            {
                if (categoryColumn.ColumnType != EquipmentCategoryColumnType.文件.ToString())
                {
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>@categoryColumn.ColumnName</p>
                        </div>
                        <div class="weui-cell__ft">@columnValues[index].Value</div>
                    </div>
                }
                index++;
            }
        </div>
        <div class="weui-cells">
            @{
                var j = 0;
            }
            @foreach (var categoryColumn in categoryColumns)
            {
                if (categoryColumn.ColumnType == EquipmentCategoryColumnType.文件.ToString())
                {
                    <a class="weui-cell weui-cell_access" href="@(columnValues[j].Value.IndexOf("Attachments", StringComparison.Ordinal) != -1 ? columnValues[j].Value : "javascript:;")">
                        <div class="weui-cell__bd">
                            <div>@categoryColumn.ColumnName</div>
                        </div>
                        <div class="weui-cell__ft">@(columnValues[j].Value.IndexOf("Attachments", StringComparison.Ordinal) != -1 ? "" : "未上传")</div>
                    </a>
                }
                j++;
            }
        </div>
    </div>
    <br />
    <div class="weui-footer">
        <p class="weui-footer__text">Copyright © @DateTime.Now.Year 惠齐电力</p>
    </div>
    <!-- body 最后 -->
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
</body>
</html>
