@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.Product.EditViewModel

<style>
    .center {
        text-align: center !important;
    }
</style>
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Purchase")">采购管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Product")">商品管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>编辑</span>
            </li>
        </ul>
    </div>
}
<div class="full-height-content full-height-content-scrollable">

    <form data-ajax="true" action="@Url.Action("Edit", "Product")" method="POST" enctype="multipart/form-data">
        <div class="portlet" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>商品信息
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2 bodered">
                            <div class="form-group">
                                <label class="text-right col-md-3">
                                    商品名称
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-9">
                                    @Html.InputText(m => m.Name, new { @class = "form-control" })
                                    <input type="hidden" name="Id" value="@Model.Id" />
                                    @Html.HiddenFor(m => m.BackUrl)
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2 bodered">
                            <div class="form-group">
                                <label class="text-right col-md-3">
                                    商品编码
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-9">
                                    @Model.Code
                                    @Html.HiddenFor(x => x.Code)
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">
                                    分类名称
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" disabled id="productCategoryText" value="@Model.CategoryText" placeholder="选择分类">
                                        <input id="productCategoryId" type="hidden" name="ProductCategoryId" value="@Model.ProductCategoryId" />
                                        <span id="getCategories" class="input-group-addon" style="padding: 3px 12px;">
                                            <i class="fa fa-bars font-red"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">是否启用</label>
                                <div class="col-md-9">
                                    @Html.BooleanRadioButtonFor(x => x.Published)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">封面图片</label>
                                <div class="col-md-9">

                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="input-group input-large">
                                            <div class="form-control uneditable-input input-fixed input-small" data-trigger="fileinput">
                                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                <span class="fileinput-filename">@Model.Path </span>
                                            </div>
                                            <span class="input-group-addon btn default btn-file">
                                                <span class="fileinput-new">选择文件</span>
                                                <span class="fileinput-exists">替换</span>
                                                <input type="file" name="file">
                                            </span>
                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">品牌</label>
                                <div class="col-md-9">
                                    @Html.InputText(m => m.Brand, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">
                                    规格
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-9">
                                    @Html.InputText(m => m.Specification, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">
                                    单位
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-9">
                                    @Html.InputText(m => m.Unit)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">检索词</label>
                                <div class="col-md-9">
                                    @Html.InputText(m => m.QueryCode)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">资产类别</label>
                                <div class="col-md-9">
                                    @Html.InputText(m => m.AssetClass)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">是否物料</label>
                                <div class="col-md-9">
                                    @if (Model.IsMateriel)
                                    {
                                        <span>是</span>
                                    }
                                    else
                                    {
                                        <span>否</span>
                                    }
                                    @Html.HiddenFor(x => x.IsMateriel)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-3">描述</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" style="min-height: 120px;" name="Description">@Model.Description</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="errors alert alert-danger fade in" style="display: none;"></div>
                    <!--/row-->
                    <div class="row margin-top-10 text-center">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm green">保存</button>
                            <a class="btn yellow btn-sm padding-lf-15" href="@Url.Action("Index")">返回上一页</a>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
                <!-- END FORM-->
                <div class="table-responsive">

                </div>
            </div>
        </div>
    </form>

    <br />
    <div class="portlet light bordered" style="margin-top: 10px;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-social-dribbble font-green"></i>
                <span class="caption-subject font-green bold uppercase">供应商价格列表</span>

            </div>
            <div class="actions">
                @if (WebAppContext.Current.User.HasPermission(ModuleType.供应商价格管理, Permission.新增))
                {
                    <a id="addTrack" href="javascript:;" onclick="addPrice();" class="btn green" role="button">
                        <i class="fa fa-plus"></i>新增
                    </a>
                }
            </div>
        </div>
        <div class="portlet-body">
            <div class="table">
                <table id="items" class="table table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>供应商</th>
                            <th>城市</th>
                            @if (Model.IsMateriel)
                            {
                                <th>开始区间</th>
                                <th>结束区间</th>
                            }
                            <th>价格</th>
                            <th>价格编码</th>
                            <th>是否启用</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PriceItems)
                        {
                            <tr>
                                <td>@Model.PriceItems.RowNumberOf(item)</td>
                                <td>@(item.PurchaseSupplier.Name)</td>
                                <td>@item.Area.Name</td>
                                @if (item.PurchaseProduct.IsMateriel)
                                {
                                    <td>@item.Min</td>
                                    <td>@item.Max</td>
                                }
                                <td>@(item.Price)元</td>
                                <td>@(item.Code)</td>
                                <td>@(item.IsValid ? "有效" : "失效") </td>
                                <td>
                                    <div class="btn-group">
                                        @if (WebAppContext.Current.User.HasPermission(ModuleType.供应商价格管理, Permission.编辑))
                                        {
                                            <a href="javascript:;" onclick="editPrice(@item.Id)" class="btn default btn-xs yellow-stripe">
                                                编辑
                                            </a>
                                        }
                                        @if (WebAppContext.Current.User.HasPermission(ModuleType.供应商价格管理, Permission.删除))
                                        {
                                            <a href="javascript:;" data-refresh="#items" data-command="@Model.DeleteCommand(item.Id, Request.Url.ToString()).ToJavascript()" class="btn default btn-xs red-stripe">
                                                删除
                                            </a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal small fade" id="priceInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:400px;">
                <form data-ajax="true" action="#" method="POST" class="form-horizontal" data-refresh="#items">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>供应商价格信息
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 center">供应商</label>
                                                    <div class="col-md-10">
                                                        <select id="select-supplier" name="PurchaseSupplierId" class="form-control input-xs">
                                                            <option value="">--未选择--</option>
                                                            @foreach (var supplier in Model.Suppliers)
                                                            {
                                                                <option value="@supplier.Value" @(supplier.Value == Model.PurchaseSupplierId.ToString() ? "selected" : "")>@supplier.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 center">城市</label>
                                                    <div class="col-md-10">
                                                        <select name="AreaId" multiple="" class="form-control input-xs select-area"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @{
                                            if (Model.IsMateriel)
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                <a id="materielBtn" href="javascript:;" class="btn green" role="button">
                                                                    <i class="fa fa-plus"></i>添加数量区间
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="MaterielList" data-index="0">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-2 center">数量</label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control items" name="Items[0].Min" data-index="0" style="resize: none;" onkeyup="this.value = this.value.replace(/[^\d]/g, '')" onafterpaste="this.value = this.value.replace(/[^\d]/g, '')" />
                                                                </div>
                                                                <label class="control-label col-md-2 center">——</label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control items" name="Items[0].Max" data-index="0" style="resize: none;" onkeyup="this.value = this.value.replace(/[^\d]/g, '')" onafterpaste="this.value = this.value.replace(/[^\d]/g, '')" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-2 center">价格</label>
                                                                <div class="col-md-10">
                                                                    <input type="text" class="form-control items" name="Items[0].Price" data-index="0" style="resize: none;" onkeyup="this.value = this.value.replace(/[^\d.]/g, '')" onafterpaste="this.value = this.value.replace(/[^\d]/g, '')" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-2 center">价格</label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" name="Price" style="resize: none;" onkeyup="this.value = this.value.replace(/[^\d.]/g, '')" onafterpaste="this.value = this.value.replace(/[^\d.]/g, '')" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="errors alert alert-danger fade in" style="display: none;"></div>
                                        <div class="row">
                                            <p>
                                                <div class="text-center">
                                                    @*@Html.HiddenFor(m => m.Id, new { @Id = "price-id" })*@
                                                    <input type="hidden" id="priceUrl" value="@(Model.IsMateriel?Url.Action("CreateMaterielPrice", "ProductSupplier"):Url.Action("Create", "ProductSupplier"))" />
                                                    <input type="hidden" name="PurchaseProductId" value="@Model.Id" />

                                                    <button class="btn green btn-sm padding-lf-15">保存</button>
                                                    <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">返回</button>
                                                </div>
                                            </p>
                                        </div>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal small fade" id="editPriceInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:400px;">
                <form data-ajax="true" action="#" method="POST" class="form-horizontal" data-refresh="#items">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>供应商价格信息
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 center">供应商</label>
                                                    <div class="col-md-9">
                                                        <select id="select-supplier" name="PurchaseSupplierId" class="form-control input-xs">
                                                            <option value="">--未选择--</option>
                                                            @foreach (var supplier in Model.Suppliers)
                                                            {
                                                                <option value="@supplier.Value" @(supplier.Value == Model.PurchaseSupplierId.ToString() ? "selected" : "")>@supplier.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 center">城市</label>
                                                    <div class="col-md-9">
                                                        <select name="AreaId" class="form-control input-xs select-area"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.IsMateriel)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 center">是否启用</label>
                                                        <div class="col-md-9">
                                                            <input type="radio" name="valid" id="valid" />是
                                                            <input type="radio" name="valid" id="notValid" />否
                                                            <input type="hidden" name="IsValid" id="IsValid" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 center">开始区间</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" name="Min" style="resize: none;" onkeyup="this.value = this.value.replace(/[^\d.]/g, '')" onafterpaste="this.value = this.value.replace(/[^\d.]/g, '')" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 center">结束区间</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" name="Max" style="resize: none;" onkeyup="this.value = this.value.replace(/[^\d.]/g, '')" onafterpaste="this.value = this.value.replace(/[^\d.]/g, '')" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 center">价格</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="Price" style="resize: none;" onkeyup="this.value = this.value.replace(/[^\d.]/g, '')" onafterpaste="this.value = this.value.replace(/[^\d.]/g, '')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="errors alert alert-danger fade in" style="display: none;"></div>
                                        <div class="row">
                                            <p>
                                                <div class="text-center">
                                                    @Html.HiddenFor(m => m.Id, new { Id = "price-id" })
                                                    <input type="hidden" id="priceUrl" value="@(Model.IsMateriel?Url.Action("CreateMaterielPrice", "ProductSupplier"):Url.Action("Create", "ProductSupplier"))" />
                                                    <input type="hidden" name="PurchaseProductId" value="@Model.Id" />

                                                    <button class="btn green btn-sm padding-lf-15">保存</button>
                                                    <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">返回</button>
                                                </div>
                                            </p>
                                        </div>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal small fade" id="productCategories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:600px;">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>商品分类
                                </div>
                            </div>
                            <div class="portlet-body">
                                <!-- BEGIN FORM-->
                                <div id="tree_1" class="tree-demo">
                                    @Html.Raw(Model.ProductCategoryTreeView.GetSubTreeNodes(Model.ProductCategoryTreeView.Trees))
                                </div>
                                <div id="category-noselect-error" class="alert alert-danger hidden">
                                    <strong>未选择商品分类!</strong>
                                </div>
                                <div class="row">
                                    <br />
                                    <p>
                                        <div class="text-center">
                                            <button id="select-product-category" class="btn green btn-sm padding-lf-15">确定</button>
                                            <button id="cancel-select-product-category" type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">取消</button>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script type="text/javascript">
        function addPrice() {
            var priceInfo = $('#priceInfo');
            priceInfo.modal('show');
            var url = $('#priceUrl').val();
            priceInfo.find("form").attr("action", url);
            clearFormValues("priceInfo");
        }

        var getAreas = function(supplierId, priceId,multiple) {
            var url = "@Url.Action("GetAreasJson", "Product")" + "?id=" + supplierId;
            if (priceId) {
                url += "&priceId=" + priceId;
            }
            $.get(url,
                function(result) {
                    $('.select-area').html("");
                    if (!multiple) {
                        $('.select-area').append("<option value=''>--未选择--</option>");
                    }
                    for (var i = 0; i < result.length; i++) {
                        var selected = result[i].Selected ? "selected" : "";
                        var option = '<option value="' +
                            result[i].Value +
                            '"' +
                            selected +
                            '>' +
                            result[i].Text +
                            '</option>';
                        $('.select-area').append(option);
                    }
                });
        }

        function editPrice(id) {
            var price = $('#editPriceInfo');
            $.get("@Url.Action("Edit", "ProductSupplier")" + "/" + id,
                function(result) {
                    price.modal('show');
                    price.find("form").attr("action", "@Url.Action("Edit", "ProductSupplier")");
                    setFormValues(result);
                    var supplierId = $('#select-supplier').val();
                    if (supplierId) {
                        getAreas(supplierId, id);
                    }
                    setRadioForIsValid(result.IsValid);
                });
        }

        function setRadioForIsValid(isValid) {
            if (isValid === "1") {
                $("#valid").parent().addClass('checked');
                $("#IsValid").val("1");
            } else {
                $("#notValid").parent().addClass('checked');
                $("#IsValid").val("0");
            }
        }

        $(document).ready(function() {
            $("#valid").on('click',
                function() {
                    $("#IsValid").val("1");
                });
            $("#notValid").on('click',
                function () {
                    $("#IsValid").val("0");
                });

            $('#getCategories').on('click',
                function() {
                    var productCategories = $('#productCategories');
                    productCategories.modal('show');
                });

            $('#select-product-category').on('click',
                function() {
                    var checkedCategory = $('.jstree-clicked');
                    var categoryId = checkedCategory.attr('data-id');
                    var categoryText = checkedCategory.attr('data-text');
                    var error = $('#category-noselect-error');
                    if (categoryId || categoryText) {
                        error.addClass('hidden');
                        $('#productCategoryId').val(categoryId);
                        $('#productCategoryText').val(categoryText);

                        $('#cancel-select-product-category').click();
                    } else {
                        error.removeClass('hidden');
                    }
                });

            $('#select-supplier').on('change',
                function() {
                    var supplierId = $(this).val();
                    var priceId = $('#price-id').val();
                    var multiple = true;
                    getAreas(supplierId, priceId, multiple);
                    @*var url = "@Url.Action("GetAreasJson", "Product")" + "?id=" + supplierId;
                if (areaId) {
                    url += "&area=" + areaId;
                }
                $.get(url, function (result) {
                    areaSelect.html("");
                    areaSelect.append("<option>--未选择--</option>");
                    for (var i = 0; i < result.length; i++) {
                        var option = $("<option value=\"" + result[i].Value + "\" selected=\"" + result[i].Selected + "\">" + result[i].Text + "</option>");
                        areaSelect.append(option);
                    }
                });*@
                });

            $('#materielBtn').on('click',
                function() {
                    var list = $("#MaterielList").clone(true);

                    var index = parseInt($("#MaterielList").data('index'));
                    $("#MaterielList").data('index', index + 1);

                    var rows = $(list).children();
                    var newRows = [];
                    for (var i = 0; i < 2; i++) {
                        var row = $(rows[i]);
                        var items = $(row).find('.items');
                        for (var j = 0; j < items.length; j++) {
                            items[j].name = items[j].name.replace('0', index + 1);
                        }
                        newRows.push(row);
                    }
                    $('#MaterielList').append(newRows);
                });
        });
    </script>
}
