@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@{ Layout = null;}
@model PensionInsurance.Web.Views.Purchase.PurchaseConfirm.DetailViewModel

<style>
    body {
        font-family: "Arial",sans-serif;
        font-size: 12px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .col-md-12 {
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    .margin-top-10 {
        margin-top: 10px !important;
    }

    .row {
        width: 100%;
        margin-left: -15px;
        margin-right: -15px;
    }

    .portlet {
        margin-top: 0;
        margin-bottom: 25px;
        padding: 0;
        border-radius: 4px;
    }

        .portlet.light.bordered {
            border: 1px solid #e7ecf1 !important;
        }

        .portlet.light {
            padding: 12px 20px 5px;
            background-color: #fff;
        }

    #productlist td {
        text-align: center;
        padding-top: 4px;
    }

    #productlist th {
        text-align: center;
        padding-top: 4px;
    }

    .portlet.light.bordered .portlet-title {
        background-color: #fff;
    }

    .portlet.light.bordered .portlet-title {
        border-bottom: 1px solid #eef1f5;
    }

    .portlet.light .portlet-title {
        min-height: 32px;
    }

    .portlet.light .portlet-title {
        padding: 0;
        min-height: 48px;
    }

    .portlet.bordered .portlet-title {
        border-bottom: 0;
    }

    .portlet .portlet-title {
        min-height: 25px;
    }

    .portlet .portlet-title {
        border-bottom: 1px solid #eee;
        padding: 0;
        margin-bottom: 10px;
        min-height: 41px;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -ms-border-radius: 4px 4px 0 0;
        -o-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

    a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    *, :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .portlet.light .portlet-title.caption {
        padding: 5px 0;
    }

    .portlet.light .portlet-title.caption {
        color: #666;
        padding: 10px 0;
    }

    .portlet .portlet-title .caption {
        font-size: 14px;
        color: #fff;
        padding: 6px 0;
    }

    .portlet .portlet-title .caption {
        float: left;
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        padding: 10px 0;
    }

    .margin-top-20 {
        margin-top: 20px !important;
    }

    .col-md-4 {
        width: 33.33333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-8 {
        width: 66.66667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .font-green {
        color: #fdb363 !important;
    }

    .table {
        background-color: #fff;
    }

    .table {
        margin-bottom: 1px;
    }

    .table-bordered, .table-bordered tbody tr td, .table-bordered tbody tr th, .table-bordered tfoot tr td, .table-bordered tfoot tr th, .table-bordered thead tr td, .table-bordered thead tr th {
        border: 1px solid #e7ecf1;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    .table td, .table th {
        font-size: 12px;
    }

    .control-label {
        margin-top: 1px;
        font-weight: 400;
    }

    .portlet.light.bordered.portlet-title {
        background-color: #fff;
    }

    .portlet.light.bordered.portlet-title {
        border-bottom: 1px solid #eef1f5;
    }

    .portlet.light.portlet-title {
        min-height: 32px;
    }

    .font-green-sharp {
        color: #fdb363 !important;
    }

    .portlet.light .form .form-body, .portlet.light .portlet-form .form-body {
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }

    .form-group {
        margin-bottom: 5px;
        display: block;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
</style>

<!-- END PAGE BAR -->
<div class="row margin-top-10">
	<div class="col-md-12">
		<div id="div_print" class="portlet light bordered" style="height: auto;">
			<div id="printTitle" class="row text-center"><h1>采购确认单</h1></div>
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-social-dribbble font-green"></i>
					<span class="caption-subject font-green bold uppercase">采购信息</span>
				</div>
			</div>
			<div class="form-body margin-top-20">
				<table class="table">
					<tr>
						<td width="30%">项目：</td>
						<td width="70%">@Model.PurchaseConfirm.Project.Name</td>
						<td width="30%">采购类型：</td>
						<td width="70%">@Model.PurchaseConfirm.OrderType</td>
						<td width="30%">开始时间：</td>
						<td width="70%">@Model.PurchaseConfirm.StartDate.ToString("yyyy-MM-dd")</td>
						<td width="30%">结束时间：</td>
						<td width="70%">@Model.PurchaseConfirm.EndDate.ToString("yyyy-MM-dd")</td>
					</tr>
				</table>
			</div>
			<div class="portlet-title margin-top-10">
				<div class="caption">
					<i class="icon-social-dribbble font-green"></i>
					<span class="caption-subject font-green bold uppercase">采购列表</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table">
					<table id="productlist" class="table table-bordered">
						<thead>
						<tr>
							<th width="100px"> 序号 </th>
							<th width="300px"> 采购时间 </th>
							<th width="200px"> 采购金额 </th>
						</tr>
						</thead>
						<tbody>
						@if (Model.PurchaseOrderAcceptances.Any())
						{
						    foreach (var item in Model.PurchaseOrderAcceptances)
						    {
						        <tr>
						            <td>@Model.PurchaseOrderAcceptances.RowNumberOf(item) </td>
						            <td> @item.PurchaseOrder.OrderDate.ToString("yyyy-MM-dd")</td>
						            <td> @item.PurchaseSupplier.Name</td>
						            <td> @item.PurchaseOrder.User.RealName</td>
						            <td style="text-align: center;" class="print-hide">
						                <a href="Javascript:;" data-orderAcceptanceId="@(item.Id)" data-supplier="@(item.PurchaseOrder.OrderDate.ToString("yyyy-MM-dd")+item.PurchaseSupplier.Name)" class="btn default btn-xs red-stripe showDialog">查看明细</a>
						            </td>
						        </tr>
						    }
						}
						else
						{
						    <tr><td colspan="5" style="text-align: center;">暂无订单</td></tr>
						}
						<tr>
							<td></td>
							<td></td>
							<td style="font-size: 18px;">合计：￥ @Model.TotalAmount.FormatString() 元.</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			@if (Model.TrackingResult.WorkflowHistoryTrackingResults.Any())
			{
				<div class="portlet-title title-style">
					<div class="caption">
						<i class="icon-bubble font-green-sharp"></i>
						<span class="caption-subject font-green-sharp sbold">审批流程</span>
					</div>
				</div>
				<div class="portlet-body form">
					<div class="form-body">
						@foreach (var item in Model.TrackingResult.WorkflowHistoryTrackingResults)
						{
							<div class="row margin-top-10" style="border-bottom: 1px solid #eef1f5;">
								<table class="table" style="margin-left: 20px;">
									<tr>
										<td width="200px;">@item.GetTitle()</td>
										<td width="15%">@item.User.RealName</td>
										<td width="20%">结果：@item.Result</td>
										<td width="20%">完成时间：@item.CreatedOn</td>
										<td width="30%">备注：@item.Description</td>
									</tr>
								</table>
							</div>
						}
					</div>
				</div>
			}
		</div>
	</div>
</div>
