@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.PurchaseConfirm.DetailViewModel
<!-- BEGIN PAGE BAR -->
<style>
    #productlist td {
        line-height: 45px;
    }
</style>
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Purchase" )">采购管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>订单详细</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div id="div_print" class="portlet light bordered" style="height: auto;">

            <div class="row text-center"><h1>采购确认单</h1></div>
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">采购信息</span>
                </div>
            </div>
            <div class="form-body margin-top-20">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">项目：@Model.PurchaseConfirm.Project.Name</label>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">采购类型：@Model.PurchaseConfirm.OrderType</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">开始时间：@Model.PurchaseConfirm.StartDate.ToString("yyyy-MM-dd")</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">结束时间：@Model.PurchaseConfirm.EndDate.ToString("yyyy-MM-dd")</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-title margin-top-10">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">采购列表</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table id="productlist" class="table table-hover table-scrollable">
                        <thead>
                            <tr>
                                <th> 序号 </th>
                                <th> 采购时间 </th>
                                <th> 采购金额 </th>

                            </tr>
                        </thead>
                        <tbody>
                        @if (Model.PurchaseOrderAcceptances.Any())
                        {
                            foreach (var item in Model.PurchaseOrderAcceptances)
                            {
                                <tr>
                                    <td>@Model.PurchaseOrderAcceptances.RowNumberOf(item) </td>
                                    <td> @item.PurchaseOrder.OrderDate.ToString("yyyy-MM-dd")</td>
                                    <td> @item.PurchaseSupplier.Name</td>
                                    <td> @item.PurchaseOrder.User.RealName</td>
                                    <td style="text-align: center;" class="print-hide">
                                        <a href="Javascript:;" data-orderAcceptanceId="@(item.Id)" data-supplier="@(item.PurchaseOrder.OrderDate.ToString("yyyy-MM-dd")+item.PurchaseSupplier.Name)" class="btn default btn-xs red-stripe showDialog">查看明细</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="5" style="text-align: center;">暂无订单</td></tr>
                        }
                            <tr><td colspan="4">合计：￥ @Model.TotalAmount.FormatString() 元.</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @Html.Partial("~/Views/TrackingResult/_TrackingResults.cshtml", Model.TrackingResult)

        </div>

        <div class="form-actions">
            <div class="text-center">

                @if (Model.PurchaseConfirm.Status == ComfirmStatus.已完成 && WebAppContext.Current.User.HasPermission(ModuleType.采购管理, Permission.打印))
                {
                    <a href="javascript:;" id="PrintPurchaseOrder" class="btn green btn-sm padding-lf-15">打印</a>
                }
                <a href="javascript:history.back(-1)" class="btn yellow btn-sm padding-lf-15">返回</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $("#PrintPurchaseOrder").on("click", function() {
                var url = '@Url.Action("print", "PurchaseConfirm")';
                var confirmId = @Model.PurchaseConfirm.Id ;
                var command = {
                    ConfirmId: confirmId
                };
                postCommand(url, command, $(this));
                printdiv('div_print');
                return false;
            });
        });

        function printdiv(printpage)
        {
            var headstr = "<html><head><title></title></head><body>";
            var footstr = "</body>";
            var newstr = document.all.item(printpage).innerHTML;
            var oldstr = document.body.innerHTML;
            document.body.innerHTML = headstr+newstr+footstr;
            window.print();
            document.body.innerHTML = oldstr;
            return false;
        }
    </script>
}