@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.InvestmentProject.EditViewModel

@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="javascript:;">项目信息</a>
            </li>
            <li>
                <span>编辑</span>
            </li>
        </ul>
    </div>
}

<!-- END PAGE BAR -->
<div>
    <form data-ajax="true" action="@Url.Action("Edit", "InvestmentProject")" method="POST" class="form-horizontal" enctype="multipart/form-data">
        <div class="portlet box green" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>项目信息
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-4">项目名称</label>
                                <div class="col-md-8">
                                    @Html.InputText(x => x.Name)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-right col-md-4">获取方式</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(x => x.ObtainMethod, typeof(InvestmentProjectObtainMethod))
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-4">城市</label>
                                <div class="col-md-8">
                                    @Html.InputDropDown(x => x.AreaId, Model.Cities, true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-right col-md-4">建设用地面积</label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m=>m.BuildingLandAcreage)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-4">地址</label>
                                <div class="col-md-8">
                                    @Html.InputText(x => x.Address)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-right col-md-4">建筑面积</label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m => m.BuildingAcreage)
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-4">项目所属法人公司</label>
                                <div class="col-md-8">
                                    @Html.InputText(x => x.IncorporatedCompany)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-right col-md-4">地上建筑面积</label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m => m.BuildingAcreageGround)
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-4">项目类型</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(x => x.InvestmentProjectType, typeof(ProjectType), true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-right col-md-4">地下建筑面积</label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m => m.BuildingAcreageUnderGround)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-4">项目状态</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(x => x.Status, typeof(InvestmentProjectStatus))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-right col-md-4">经度</label>
                                <div class="col-md-8">
                                    @Html.InputText(x => x.Longitude)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-4">项目商业模式</label>
                                <div class="col-md-8">
                                    @Html.EnumTextDropDownListFor(x => x.BusinessPattern, typeof(InvestmentProjectBusinessPattern))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-right col-md-4">纬度</label>
                                <div class="col-md-8">
                                    @Html.InputText(x => x.Latitude)
                                    <a target="_blank" href="http://api.map.baidu.com/lbsapi/getpoint/index.html">点击查询经纬度坐标</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-4">关联项目</label>
                                <div class="col-md-8">
                                    @Html.InputDropDown(x => x.ProjectId, Model.Projects, true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-4">房间数</label>
                                <div class="col-md-8">
                                    @Html.InputText(x => x.RoomAmount)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-right col-md-4">床位数</label>
                                <div class="col-md-8">
                                    @Html.InputText(x => x.BedAmount)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label class="text-right col-md-2">KMZ文件</label>
                                <div class="col-md-10 fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group ">
                                        <div class="form-control uneditable-input input-fixed input-small" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                            <span class="fileinput-filename"> </span>
                                        </div>
                                        <span class="input-group-addon btn default btn-file">
                                            <span class="fileinput-new">选择文件</span>
                                            <span class="fileinput-exists">替换</span>
                                            <input type="file" name="file">
                                        </span>
                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="errors alert alert-danger fade in" style="display: none;"></div>
                    <!--/row-->
                    <div class="row text-center">
                        <div class="col-md-12">
                            @Html.HiddenFor(x=>x.InvestmentProjectId)
                            <button type="submit" class="btn btn-sm green">保存</button>
                            <button type="button" class="btn yellow btn-sm padding-lf-15" onclick="javascript: history.back(-1);">返回上一页</button>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
                <!-- END FORM-->
            </div>
        </div>
    </form>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">地块列表</span>
                </div>
                <div class="actions">
                    <a href="javascript:void(0);" id="AddNewInvestmentProjectLand" class="btn green">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        新增
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <table id="InvestmentProjectLandTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>地块名称</th>
                                <th>分期</th>
                                <th>用地性质</th>
                                <th>建设用地面积</th>
                                <th>建筑面积</th>
                                <th>地上建筑面积</th>
                                <th>地下建筑面积</th>
                                <th>容积率</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.InvestmentProjectLands)
                            {
                                <tr>
                                    <td>@Model.InvestmentProjectLands.RowNumberOf(item)</td>
                                    <td>@item.LandName</td>
                                    <td>@item.Period</td>
                                    <td>@item.LandCharacteristics.ToString()</td>
                                    <td>@item.BuildingLandAcreage.FormatString()</td>
                                    <td>@item.BuildingAcreage.FormatString()</td>
                                    <td>@item.BuildingAcreageGround.FormatString()</td>
                                    <td>@item.BuildingAcreageUnderGround.FormatString()</td>
                                    <td>@item.Plotratio.FormatString()</td>
                                    <td>
                                        <a href="javascript:void(0);" onclick="editInvestmentProjectLand(@item.Id)" class="btn default btn-xs yellow-stripe">编辑</a>
                                        <a href="javascript:;" data-command="@Model.DeleteCommand(item.Id, Request.Url.ToString()).ToJavascript()" class="btn default btn-xs red-stripe">删除</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal small fade" id="AddInvestmentProjectLand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:400px;">
        <form data-ajax="true" action="@Url.Action("Create", "InvestmentProjectLand")" method="POST" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>新增地块信息
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <input type="hidden" name="InvestmentProjectId" value="@Model.InvestmentProjectId" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">地块名称</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.LandName)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">分期</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.Period)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">用地性质</label>
                                            <div class="col-md-8">
                                                @Html.InputDropDownEnum(m => m.LandCharacteristics, typeof(InvestmentProjectLandCharacteristics))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">建设用地面积</label>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" name="BuildingLandAcreage" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">建筑面积</label>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" disabled="disabled" name="BuildingAcreage" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">地上建筑面积</label>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" name="BuildingAcreageGround" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">地下建筑面积</label>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" name="BuildingAcreageUnderGround" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">容积率</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.Plotratio)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="errors alert alert-danger fade in" style="display: none;"></div>
                                <div class="row">
                                    <p>
                                        <div class="text-center">
                                            <button class="btn green btn-sm padding-lf-15">生成</button>
                                            <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">返回</button>
                                        </div>
                                    </p>
                                </div>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal small fade" id="EditInvestmentProjectLand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:400px;">
        <form data-ajax="true" action="@Url.Action("Edit", "InvestmentProjectLand")" method="POST" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>新增地块信息
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <input type="hidden" name="InvestmentProjectId" value="@Model.InvestmentProjectId" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">地块名称</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.LandName)
                                            </div>
                                            <input type="hidden" id="EditInvestmentProjectLandId" name="Id" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">分期</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.Period)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">用地性质</label>
                                            <div class="col-md-8">
                                                @Html.InputDropDownEnum(m => m.LandCharacteristics, typeof(InvestmentProjectLandCharacteristics))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">建设用地面积</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.BuildingLandAcreage)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">建筑面积</label>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" disabled="disabled" name="BuildingAcreage" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">地上建筑面积</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.BuildingAcreageGround)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">地下建筑面积</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.BuildingAcreageUnderGround)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">容积率</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.Plotratio)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="errors alert alert-danger fade in" style="display: none;"></div>
                                <div class="row">
                                    <p>
                                        <div class="text-center">
                                            <button class="btn green btn-sm padding-lf-15">生成</button>
                                            <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">返回</button>
                                        </div>
                                    </p>
                                </div>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#AddNewInvestmentProjectLand").on("click",
                function() {
                    var addInvestmentProjectLand = $('#AddInvestmentProjectLand');
                    addInvestmentProjectLand.modal('show');
                    clearFormValues("AddInvestmentProjectLand");
                    addInvestmentProjectLand.find("form").attr("action",
                        "@Url.Action("Create", "InvestmentProjectLand", new {returnUrl = Request.Url})");
                });


            $("#ProjectId").on("change",
                function() {
                    if ($("#ProjectId").val()) {
                        $.get("@Url.Action("GetProjectBedAndRoomAmount", "InvestmentProject")" + "/" + $("#ProjectId").val(),
                            function(result) {
                                $("#RoomAmount").val(result.RoomAmount);
                                $("#BedAmount").val(result.BedAmount);
                            });
                    }
                });
        });

        // 编辑床位信息
        function editInvestmentProjectLand(id) {
            $("#EditInvestmentProjectLandId").val(id);
            var editModal = $('#EditInvestmentProjectLand');
            $.get("@Url.Action("GetInvestmentProjectLands", "InvestmentProjectLand")" + "/" + id,
                function(result) {
                    editModal.modal('show');
                    editModal.find("form").attr("action",
                        "@Url.Action("Edit", "InvestmentProjectLand", new {returnUrl = Request.Url})");
                    setFormValues(result);
                });
        }
    </script>
}