@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common;
@model PensionInsurance.Web.Views.Sales.OperatorConsulting.IndexViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">销售管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>
                    座席接电管理
                </span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>咨询人信息录入
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Create", "OperatorConsulting")" id="OperatorConsulting-form" data-ajax="true" method="post" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">咨询类型</label>
                                    <div class="col-md-8">
                                        @Html.EnumTextDropDownListFor(m => m.VisitorType, typeof(VisitorType), false)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">客户类型</label>
                                    <div class="col-md-8" disabled>
                                        @Html.EnumTextDropDownListFor(m => m.Type, typeof(OperatorConsultingType), false)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        与客户关系
                                    </label>
                                    <div class="col-md-8">
                                        @Html.EnumTextDropDownListFor(m => m.Relationship, typeof(Relationship), true)

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4 ">客户级别</label>
                                    <div class="col-md-8">
                                        @Html.EnumTextDropDownListFor(m => m.Level, typeof(Level), false)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        获知渠道<span class="required"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Source, SettingType.获知渠道, true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        咨询人姓名
                                    </label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.VisitorName)
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">咨询人性别</label>
                                    <div class="col-md-8">
                                        @Html.EnumTextDropDownListFor(m => m.VisitorSex, typeof(Sex), true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">咨询人联系电话</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.VisitorPhone)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">意向项目<span class="required"> * </span></label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.ProjectId, Model.ProjectList, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        客户姓名<span class="required"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.ConsultingName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">客户联系电话<span class="required"> * </span></label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.Phone)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">客户年龄<span class="required"> * </span></label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.Age)
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <!--/span-->
                        </div>
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">客户性别<span class="required"> * </span></label>
                                    <div class="col-md-8">
                                        @Html.EnumTextDropDownListFor(m => m.Sex, typeof(Sex), true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">身体状况<span class="required"> * </span></label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.HealthStatus, SettingType.身体状况, true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        意向户型<span class="required"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.EnumTextDropDownListFor(m => m.HouseType, typeof(OperatorConsultingHouseType), true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        未转交原因
                                    </label>
                                    <div class="col-md-8">
                                        @Html.EnumTextDropDownListFor(m => m.Nottransferred, typeof(Nottransferred), true)
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        咨询时间
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-inline" id="AnswerTheCall" name="AnswerTheCall" data-date-format="yyyy-mm-dd hh:ii">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        本次咨询项目
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.CurrentConsultingProjectId, Model.ProjectList, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        备注<span class="required"> * </span>
                                    </label>
                                    <div class="col-md-10">
                                        @Html.InputText(m => m.Remark)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-center">
                            <input type="hidden" id="isTransmit" name="isTransmit" value="1" />
                            <button type="button" id="submit" class="btn green btn-sm padding-lf-15 hidden " data-showloading="true">保存</button>
                            <a id="transmit" data-toggle="modal" href="#transmitModal" class="btn green  batch-button">
                                <i class="fa fa-random" aria-hidden="true"></i>
                                客户转交
                            </a>
                        </div>

                    </div>
                </form>
                <!-- END FORM-->
            </div>
            <div class="errors alert alert-danger fade in alert1" style="display:none"></div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">咨询人列表</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="report-search-form" action="@Url.Action("Index", "OperatorConsulting")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-3">类型</label>
                                    <div class="col-md-9">
                                        <select class="form-control input-small" name="Query.Type">
                                            <option value="">--未选择--</option>
                                            <option>已转交</option>
                                            <option>无效</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">咨询人电话</label>
                                    <div class="col-md-8">
                                        @Html.InputText(x => x.Query.VisitorPhone)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-3">时间范围</label>
                                    <div class="col-md-9">
                                        <div class="input-group input-large date-picker input-daterange" data-date="2012-07-01" data-date-format="yyyy-mm-dd">
                                            @Html.InputDate(x => x.Query.StartDate)
                                            <span class="input-group-addon"> 至 </span>
                                            @Html.InputDate(x => x.Query.EndDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="text-align: right;">
                                <button type="submit" class="btn green  btn-sm padding-lf-15  " data-showloading="true">搜索</button>
                                <a class="btn blue  btn-sm padding-lf-15" href="@(Url.Action("Index", "OperatorConsulting"))">取消搜索</a>
                                <a href="javascript:;" class="btn green export-report"><i class="fa fa-repeat"></i>导出</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-center">

                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
            <div class="portlet-body">
                <div class="table table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> 序号 </th>
                                <th>客户编号</th>
                                <th> 客户姓名 </th>
                                @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.座席接电管理, Permission.座席接电管理详细))
                                {
                                    <th> 客户电话 </th>

                                }
                                <th> 咨询人姓名 </th>
                                @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.座席接电管理, Permission.座席接电管理详细))
                                {

                                    <th> 咨询人电话 </th>

                                }
                                <th> 客户级别 </th>
                                <th>话务员姓名</th>
                                <th> 销售人员 </th>
                                <th>转交项目</th>
                                <th> 转交状态 </th>
                                @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.座席接电管理, Permission.座席接电管理详细))
                                {
                                    <th> 备注 </th>
                                }
                                <th>录入时间</th>
                                <th>跟踪时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                @*<tr class="@((item.User..HasValue && item.FavoriteFolderUserId.HasValue && item.FavoriteFolderUserId == PensionInsurance.Shared.WebAppContext.Current.User.Id) ? "danger" : "")">*@
                                <tr class="">
                                    @*<td>
                                            <input type="checkbox" class="checkboxes" value="@item.ConsultingId" />
                                        </td>*@
                                    <td> @item.RowNumber </td>
                                    <td> @item.ConsultingNo </td>
                                    <td> @item.ConsultingName</td>
                                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.座席接电管理, Permission.座席接电管理详细))
                                    {
                                        <th>  @item.Phone </th>
                                    }
                                    <td> @(item.VisitorName) </td>

                                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.座席接电管理, Permission.座席接电管理详细))
                                    {
                                        <th>  @item.VisitorPhone </th>
                                    }
                                    <td> @item.Level </td>
                                    <td>@item.OperatorUserName</td>
                                    <td> @item.SaleName </td>
                                    <td>@item.TransmitProjectName</td>
                                    <td> @item.Nottransferred </td>
                                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.座席接电管理, Permission.座席接电管理详细))
                                    {
                                        <td class="tooltips" data-container="body" data-placement="top" data-original-title="@item.Remark">@item.Remark.SubString(10, "...")</td>
                                    }
                                    <td> @item.ConsultingTime </td>
                                    <td> @item.TrackTime.DateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                @Html.Partial("_Pagination", Model.Items)
            </div>
        </div>
    </div>
</div>
<div id="transmitModal" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">客户转交</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">项目</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.ProjectSaleId, Model.ProjectList, true)
                                @*<select id="salePersonId" name="SalesPersonId">
                                        @foreach (var item in Model.Sales)
                                        {
                                            <option value="@item.Id">@item.RealName</option>
                                        }
                                    </select>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">转交给</label>
                            <div class="col-md-10">
                                <select id="salePersonId" class="form-control input-small" name="SalesPersonId">
                                    @*@foreach (var item in Model.Sales)
                                        {
                                            <option value="@item.Id">@item.RealName</option>
                                        }*@
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">转交原因</label>
                            <div class="col-md-10">
                                <input class="form-control" id="reason" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="errors alert alert-danger fade in alert2" style="display:none"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">取消</button>
                <button id="submit-transmit" type="submit" class="btn green">保存</button>
            </div>
        </div>
    </div>
</div>


<div id="PhoneModal" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">历史记录选择</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">
                    <div class="alert alert-warning" id="remarks"></div>
                    <div class="table table">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>  </th>
                                    <th> 咨询人姓名 </th>
                                    <th> 咨询人电话 </th>
                                    <th>客户姓名</th>
                                    <th> 客户电话 </th>
                                    <th>客户级别</th>
                                    <th> 销售人员 </th>
                                    <th> 转交状态 </th>
                                    <th>来源</th>

                                </tr>
                            </thead>
                            <tbody id="tbody"></tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="modal-footer">

                <button type="button" data-dismiss="modal" class="btn default">取消</button>
                <button id="submit-PhoneModal" type="submit" class="btn green">快速选择</button>
            </div>
        </div>
    </div>
</div>

@{
    string salesdata = "";
    salesdata += "[";

    for (int i = 0; i < Model.Sales.Count; i++)
    {
        var item = Model.Sales[i];

        var prjids = "";
        foreach (var prjitem in item.Projects)
        {
            prjids += prjitem.Id + "|";
        }
        if (i + 1 >= Model.Sales.Count)
        {
            salesdata += "{ \"value\":\"" + item.Id + "\" , \"text\":\"" + item.RealName + "\",\"prjid\":\"" + prjids + "\" }";
        }
        else
        {
            salesdata += "{ \"value\":\"" + item.Id + "\" , \"text\":\"" + item.RealName + "\",\"prjid\":\"" + prjids + "\" },";
        }
    }

    salesdata += "]";

}


@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/clockface/js/clockface.js") type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->

    <script type="text/javascript">
        var funcs = {
            getConsultingIds: function () {
                var ids = [];
                var checkboxes = $(".checkboxes");
                $.each(checkboxes, function (i, item) {
                    var chk = $(item);
                    if (chk.is(":checked")) {
                        var id = chk.val();
                        ids.push(id);
                    }
                });

                return ids;
            },
            updateButtons: function () {
                var checked = $(".checkboxes:checked").length > 0;
                var buttons = $(".batch-button");
                buttons.prop("disabled", !checked);
                if (checked) {
                    buttons.removeClass("disabled");
                } else {
                    buttons.addClass("disabled");
                }
            }
        };

        function loadselect(prjid) {
            var selectdata = [];
            var arr =@(Html.Raw(salesdata));
            var newArr = [];
            $("#salePersonId").find("option").remove();
            if (prjid != "") {

                arr.forEach(function (item, index) {
                    if (item.prjid.indexOf(prjid) > -1) {
                        $("<option></option>").val(item.value).text(item.text).appendTo($("#salePersonId"));
                    }
                })
            }
            else {
                arr.forEach(function (item, index) {
                        $("<option></option>").val(item.value).text(item.text).appendTo($("#salePersonId"));
                })

            }

        }

        function getFormData() {

            var obj = new Object;
            obj.Age = $("#Age").val();
            obj.ConsultingName = $("#ConsultingName").val();
            obj.HealthStatus = $("#HealthStatus").val();
            obj.HouseType = $("#HouseType").val();
            obj.Level = $("#Level").val();
            obj.Nottransferred = $("#Nottransferred").val();
            obj.Phone = $("#Phone").val();
            obj.ProjectId = $("#ProjectId").val();
            obj.Relationship = $("#Relationship").val();
            obj.Remark = $("#Remark").val();
            obj.Sex = $("#Sex").val();
            obj.Type = $("#Type").val();
            obj.VisitorName = $("#VisitorName").val();
            obj.VisitorPhone = $("#VisitorPhone").val();
            obj.VisitorType = $("#VisitorType").val();
            obj.isTransmit = $("#isTransmit").val();

            obj.VisitorSex = $("#VisitorSex").val();
            obj.Source = $("#Source").val();
            obj.AnswerTheCall = $("#AnswerTheCall").val();
            obj.CurrentConsultingProjectId = $("#CurrentConsultingProjectId").val();
            return obj;
        }
        function getselect(indx) {
            $(".slectcheckbox").each(function () {
                var a = $(this);
                if (a.data("index") != indx) {
                    a.removeAttr("checked");
                    a.parent().removeClass("checked");
                }
                else {

                    if (a.parent().attr("class").indexOf("checked") > -1) {
                        a.removeAttr("checked");
                        a.parent().removeClass("checked");
                    }
                    else {
                    a.parent().addClass("checked");
                    a.attr("checked", "checked");
                    }
                }

            })

        }
        function ChangeDateFormat(val) {
            if (val != null) {
                var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
                //月份为0-11，所以+1，月份小于10时补个0
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return date.getFullYear() + "-" + month + "-" + currentDate + " " + date.getHours() + ":" + date.getMinutes();
            }
            return "";
        }
        function ReplacenNull(val) {
            if (val == null) { return "";}
            return val;
        }

        $(document).ready(function () {

            $("#AnswerTheCall").datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN"
            });

            $(document).on("click", ".export-report", function () {
                var form = $("#report-search-form");
                var st = $("#Query_StartDate").val();
                var et = $("#Query_EndDate").val();
                var visitorPhone = $("#Query_VisitorPhone").val();
                var type = form.find("select[name='Query.Type']").val();
                var command = {
                    StartDate: st,
                    EndDate: et,
                    Type: type,
                    VisitorPhone: visitorPhone
                };
                App.confirm(function () {
                    form.postCommand('@Url.Action("Export", "OperatorConsulting")',command, {
                        onSuccess: function (result) {
                            window.location = "../" + result.redirect;
                        }
                    });
                });
            });


            loadselect("");
            $("#Type").attr("disabled", "disabled");
            $("#Nottransferred").attr("disabled", "disabled");
            $('#transmitModal').on('show.bs.modal', function () {
                $(".alert1").attr("style", "display:none");
                $(".alert2").attr("style", "display:none");
            })
            $("#ProjectSaleId").change(function () {
                var select = $(this);
                loadselect(select.val());
            });
            $("#submit-PhoneModal").click(function () {
                var selectitem = null;
                $(".slectcheckbox").each(function () {
                    var a = $(this);
                    if (a.parent().attr("class").indexOf("checked") > -1) {
                        selectitem = selectdata[a.data("index")];
                        $("#VisitorName").val(selectitem.VisitorName);
                        $("#VisitorName").attr("disabled", "disabled");

                        $("#VisitorPhone").val(selectitem.VisitorPhone);
                        $("#VisitorPhone").attr("disabled", "disabled");

                        $("#ConsultingName").val(selectitem.ConsultingName);
                        $("#ConsultingName").attr("disabled", "disabled");

                        $("#Phone").val(selectitem.Phone);
                        $("#Phone").attr("disabled", "disabled");

                        $("#ProjectId").val(selectitem.ProjectId);
                        $("#ProjectId").attr("disabled", "disabled");

                        $("#VisitorType").val(selectitem.VisitorType);
                        $("#VisitorType").attr("disabled", "disabled");

                        $("#Age").val(selectitem.Age);
                        $("#Age").attr("disabled", "disabled");

                        $("#Sex").val(selectitem.Sex);
                        $("#Sex").attr("disabled", "disabled");

                        $("#HouseType").val(selectitem.HouseType);
                        $("#HouseType").attr("disabled", "disabled");

                        $("#Relationship").val(selectitem.Relationship);
                        $("#Relationship").attr("disabled", "disabled");

                        $("#HealthStatus").val(selectitem.HealthStatus);
                        $("#HealthStatus").attr("disabled", "disabled");


                        $("#VisitorSex").val(selectitem.VisitorSex);
                        $("#VisitorSex").attr("disabled", "disabled");



                        $("#Source").val(selectitem.Source);
                        $("#Source").attr("disabled", "disabled");

                        //客户级别赋值，并改变保存和转交按钮状态
                        if (selectitem.Level == "无效") {
                            $("#Level").val("无效");
                        }
                        else { $("#Level").val("已来电客户"); }
                        $("#Level").attr("disabled", "disabled");

                        $("#Level").trigger("change");
                        $('#PhoneModal').modal('hide');
                    }
                })

                if (selectitem == null) {
                    alert("请选择");
                }
            });

            $(".group-checkable").change(function () {
                var checkAll = $(this);
                var checked = checkAll.is(":checked");
                checkAll.closest(".table").find(".checkboxes").prop("checked", checked).uniform("refresh");
                funcs.updateButtons();
            });

            function loadphoneList(phone,type) {
                $.ajax({
                    url: "@Url.Action("CheckMoblie", "OperatorConsulting")",
                    type: 'POST',
                    data:{Mobile: phone, Type: type},
                    success: function (result) {
                        if (result) {
                            if (result.length > 0) {
                                $("#tbody").html("");
                                selectdata = result;
                                for (var i = 0; i < result.length; i++) {
                                    var checkbox = '<div class="checker"><span class=""><input type="checkbox"  data-index=' + i + ' class="checkboxes slectcheckbox" disable ></span></div>'
                                    var item = ' <tr class="" onclick=getselect(' + i + ')> <td>' + checkbox + '</td> <td> ' + ReplacenNull(selectdata[i].VisitorName) + '</td> <td>  ' + ReplacenNull(selectdata[i].VisitorPhone) + ' </td><td> ' + ReplacenNull(selectdata[i].ConsultingName) + ' </td><td>  ' + ReplacenNull(selectdata[i].Phone) + '  </td><td> ' + ReplacenNull(selectdata[i].Level) + ' </td> <td>' + ReplacenNull(selectdata[i].SaleName) + '  </td><td> ' + ReplacenNull(selectdata[i].Nottransferred) + '  </td><td>  ' + ReplacenNull(selectdata[i].Source) + ' </td></tr>';
                                    $("#tbody").append(item);
                                }
                                var remark = "咨询电话" + phone + "已咨询了" + result.length + "次";
                                $("#remarks").html(remark);
                                $('#PhoneModal').modal('show');
                            }
                        }
                    }
                });
            }
            $("#VisitorPhone").keyup(function () {
                var phone = $(this).val();
                var telRegular = /^\d{11}$/;
                if (telRegular.test(phone))
                {
                    loadphoneList(phone, 0);
                }

            });
            $("#Phone").keyup(function () {
                var phone = $(this).val();
                var telRegular = /^\d{11}$/;
                if ( telRegular.test(phone)) {
                    loadphoneList(phone, 1);
                }

            });

            $(".checkboxes").change(function () {
                funcs.updateButtons();
            });

            $("#submit").click(function () {
                var command = getFormData();
                var url = '@Url.Action("Create", "OperatorConsulting")';
                command.SalesPersonId = $("#salePersonId").val();
                command.FromId = "@PensionInsurance.Shared.WebAppContext.Current.User.Id";
                command.Reason = $("#reason").val();
                command.isTransmit = $("#isTransmit").val();
                postCommandSave(url, command, $("#transmitModal"));
                return false;
            });
            $("#submit-transmit").click(function () {
                var command = getFormData();
                    //$("#OperatorConsulting-form").serializeObject();
                var url = '@Url.Action("Create", "OperatorConsulting")';
                command.Nottransferred = "已转交";
                command.SalesPersonId = $("#salePersonId").val();
                command.FromId = "@PensionInsurance.Shared.WebAppContext.Current.User.Id";
                command.Reason = $("#reason").val();
                command.isTransmit = $("#isTransmit").val();
                postCommandSave(url, command, $("#transmitModal"));
                return false;
            });

            (function ($) {
                $.fn.extend({
                    serializeObject: function () {
                        if (this.length > 1) {
                            return false;
                        }
                        var arr = this.serializeArray();
                        var obj = new Object;
                        $.each(arr, function (k, v) {
                            if (v.value == "") {
                                obj[v.name] = null;
                            }
                            else {
                                obj[v.name] = v.value;
                            }
                        });
                        return obj;
                    }
                });
            })(jQuery);

            $('.selectpicker').selectpicker({
                style: 'btn-xs',
                iconBase: 'fa',
                tickIcon: 'fa-check',
                noneSelectedText: "--未选择--"
            });
            $("select[name='Level']").on("change", function () {
                var value = $(this).val();
                if (value == "无效" || value == "已来电客户") {
                    $("#submit").removeClass("hidden");
                    $("#transmit").addClass("hidden");
                    $("#isTransmit").val(0);

                }
                else {
                    $("#transmit").removeClass("hidden");
                    $("#submit").addClass("hidden");

                }

                if (value == "无效") { $("#Nottransferred").removeAttr("disabled"); } else { $("#Nottransferred").attr("disabled", "disabled"); }

            }

                    );

        });


        var postCommandSave = function (url, data, element) {

            var errors;
            if (element) {
                errors = element.find(".errors");
                errors.find("p").remove();
                errors.hide();
            }

            var actionButton;
            if (element && element[0].tagName === "A") {
                if (!element.attr("data-command")) {
                    actionButton = element;
                    actionButton.attr("disabled", "disabled");
                }
            }

            var success = function (result) {
                if (result.success) {
                    $.bootstrapGrowl("操作成功!", {
                        type: "success",
                        offset: {
                            from: "top",
                            amount: 150
                        },
                        align: "center"
                    });

                    //刷新列表或页面
                    if (element && element.attr("data-refresh")) {
                        $(element.attr("data-refresh")).autoRefresh();
                        if (element.attr("data-refresh-tab")) {
                            $(element.attr("data-refresh-tab")).autoRefresh();
                        }
                        if (actionButton) {
                            actionButton.removeAttr("disabled");
                        }
                    }
                    else if (element && element.attr("data-no-refresh")) {
                        if (actionButton) {
                            actionButton.removeAttr("disabled");
                        }
                    }
                    else {
                        if (result.redirect) {
                            if (element && element.attr("target") && element.attr("target") === "_blank") {
                                window.open(result.redirect);
                                return;
                            }
                            if (window.location.href.indexOf("#") > 0) {
                                window.location.href = result.redirect;
                                window.location.reload();
                            } else {
                                window.location.href = result.redirect;
                            }
                        } else {
                            // 临时解决方案
                            window.location.reload();
                        }
                    }

                } else {
                    if (errors && errors.lengt > 0) {
                        $.each(result.errors, function (i, val) {
                            errors.append("<p>" + val + "</p>");
                        });
                        errors.show();
                    } else {
                        var errorMessage = "";
                        $.each(result.errors, function (i, val) {
                            errorMessage += val + "<br/>";
                        });

                        if ($("#transmit").attr("class").indexOf("hidden") >-1) {

                            $(".alert1").html(errorMessage);
                            $(".alert1").removeAttr("style");
                        }

                        else {
                            $(".alert2").html(errorMessage);
                            $(".alert2").removeAttr("style");
                        }
                        if (actionButton) {
                            actionButton.removeAttr("disabled");
                        }
                    }
                }
            };


            $.ajax({
                url: url,
                processData: false,
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data),
                accept: "application/json",

                success: success,
                error: function () {
                    $.bootstrapGrowl("操作失败!", {
                        type: "warning",
                        offset: {
                            from: "top",
                            amount: 150
                        },
                        align: "center"
                    });
                }
            });
        };
    </script>
}