@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@using PensionInsurance.Web.Views.Home
@model PensionInsurance.Web.Views.Home.NavHeaderViewModel
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="@Url.Action("Index", "Home")">
                <img src=@Url.Content("~/assets/layouts/layout/img/logo.png") alt="logo" class="logo-default" />
            </a>
        </div>
        <div class="hor-menu hor-menu-dark hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                @if (!(WebAppContext.Current.User.HasModule(ModuleType.座席接电管理) && !WebAppContext.Current.User.RoleTypeIs(RoleType.超级管理员)))
                {
                    <li class="classic-menu-dropdown">
                        <a href="@Url.Action("Index", "Home")" class="nav-link">
                            首页
                            <span class="selected"></span>
                        </a>
                    </li>
                }
                @if (WebAppContext.Current.User.HasModule(ModuleType.咨询接待管理) || WebAppContext.Current.User.HasModule(ModuleType.渠道管理) || WebAppContext.Current.User.HasModule(ModuleType.客户跟踪管理) || WebAppContext.Current.User.HasModule(ModuleType.销控图)
|| WebAppContext.Current.User.HasModule(ModuleType.座席接电管理))
                {
                    <li class="classic-menu-dropdown">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            销售管理
                        </a>
                        <ul class="dropdown-menu pull-left">
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.座席接电管理))
                            {
                                <li class="@(this.IsAction("Index", "OperatorConsulting") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "OperatorConsulting")">座席接电管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.咨询接待管理))
                            {
                                <li class="@(this.IsAction("Index", "Consulting") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Consulting")">咨询接待管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.渠道管理))
                            {
                                <li class="@(this.IsAction("Index", "SaleChannel") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "SaleChannel")">渠道管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.客户跟踪管理))
                            {
                                <li class="@(this.IsAction("Index", "ConsultingTracking") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "ConsultingTracking")">客户跟踪提醒</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.销控图, Permission.查看))
                            {
                                <li class="@(this.IsAction("Index", "SalesRoomChart") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "SalesRoomChart")">销控图</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.电话管理))
                            {
                                <li class="@(this.IsAction("Index", "IncomingCall") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "IncomingCall")">电话管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.销售预算管理, Permission.查看))
                            {
                                <li class="@(this.IsAction("Index", "SalesBudget") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "SalesBudget")">销售预算管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户餐饮管理, Permission.查看))
                            {
                                <li class="@(this.IsAction("Index", "ConsultingOrderFood") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "ConsultingOrderFood")">客户餐饮管理</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @if (WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.查看))
                {
                    <li class="classic-menu-dropdown">
                        <a data-showloading="true" href="@Url.Action("IndexCheckIn", "Customer")">客户信息</a>
                    </li>
                }
                @if (WebAppContext.Current.User.HasPermission(ModuleType.月账单管理, Permission.查看) || WebAppContext.Current.User.HasModule(ModuleType.客户账户管理) || WebAppContext.Current.User.HasModule(ModuleType.客户现金流水管理) || WebAppContext.Current.User.HasModule(ModuleType.NC凭证管理) || WebAppContext.Current.User.HasModule(ModuleType.现结餐费账单管理) || WebAppContext.Current.User.HasModule(ModuleType.现结餐费流水管理))
                {
                    <li class="classic-menu-dropdown">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            财务管理
                            @*<i class="fa fa-angle-down"></i>*@
                        </a>
                        <ul class="dropdown-menu pull-left">
                            @if (WebAppContext.Current.User.HasPermission(ModuleType.月账单管理, Permission.查看))
                            {
                                <li class="@(this.IsAction("Index", "Bill") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Bill")">客户帐单管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.客户账户管理))
                            {
                                <li class="@(this.IsAction("Index", "CustomerAccount") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "CustomerAccount")">客户账户管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.客户现金流水管理))
                            {
                                <li class="@(this.IsAction("CustomerCashFlow", "CustomerAccount") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("CustomerCashFlow", "CustomerAccount")">客户资金流水管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.现结餐费账单管理))
                            {
                                <li class="@(this.IsAction("Index", "CustomerOrderFood") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "CustomerOrderFood")">现结餐费账单管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.现结餐费流水管理))
                            {
                                <li class="@(this.IsAction("CustomerCashFlow", "CustomerAccount") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "CustomerOrderFoodSerial")">现结餐费流水管理</a>
                                </li>
                            }

                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.NC凭证管理))
                            {
                                <li class="@(this.IsAction("Index", "NCCertificate") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "NCCertificate")">凭证管理</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @if (WebAppContext.Current.User.HasModule(ModuleType.采购预算管理) || WebAppContext.Current.User.HasModule(ModuleType.商品分类管理) || WebAppContext.Current.User.HasModule(ModuleType.商品管理) || WebAppContext.Current.User.HasModule(ModuleType.采购管理))
                {
                    <li class="classic-menu-dropdown">
                        <a href="JavaScript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            采购管理
                            @*<i class="fa fa-angle-down"></i>*@
                        </a>
                        <ul class="dropdown-menu pull-left">
                            @if (WebAppContext.Current.User.HasPermission(ModuleType.采购管理, Permission.采购商品))

                            {
                                <li class="@(this.IsAction("ProductList", "Purchase") ? "active" : "")">
                                    <a id="purchase-select-project" data-showloading="true">采购商品</a>
                                </li>
                            }
                            @if (WebAppContext.Current.User.HasPermission(ModuleType.采购管理, Permission.采购订单))
                            {
                                <li class="@(this.IsAction("Index", "Order") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Order")">采购订单</a>
                                </li>
                                <li class="@(this.IsAction("Index", "OrderAcceptance") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "OrderAcceptance")">采购验收单</a>
                                </li>
                            }
                            @if (WebAppContext.Current.User.HasPermission(ModuleType.采购管理, Permission.确认))
                            {
                                <li class="@(this.IsAction("confirm", "Purchase") ? "active" : "")">
                                    <a id="purchase-confirm" data-showloading="true">确认采购</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.供应商管理))
                            {
                                <li class="@(this.IsAction("Index", "Supplier") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Supplier")">供应商管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.商品分类管理))
                            {
                                <li class="@(this.IsAction("Index", "ProductCategory") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "ProductCategory")">商品分类管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.商品管理))
                            {
                                <li class="@(this.IsAction("Index", "Product") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Product")">商品管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.出库))
                            {
                                <li class="@(this.IsAction("Index", "Collecting") ? "active" : "")">
                                    <a data-showloading="true" id="collecting-select-project">出库</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.采购预算管理))
                            {
                                <li class="@(this.IsAction("Index", "Budget") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Budget")">采购预算管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.采购统计分析))
                            {
                                <li class="@(this.IsAction("Statistics", "newPurchase") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Statistics", "newPurchase")">统计分析</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @*@if (WebAppContext.Current.User.HasModule(ModuleType.人事资料))
                            {
                        <li class="classic-menu-dropdown">
                            <a href="Javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                                人事管理
                            </a>
                            <ul class="dropdown-menu pull-left">
                                @if (WebAppContext.Current.User.HasPermission(ModuleType.人事资料, Permission.查看))
                                {
                        <li class="@(this.IsAction("Index", "Employee") ? "active" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Employee")">人事资料</a>
                        </li>
                                }
                            </ul>
                        </li>
                    }*@

                @if (WebAppContext.Current.User.HasModule(ModuleType.项目信息管理))
                {
                    <li class="classic-menu-dropdown">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            投资拓展管理
                            @*<i class="fa fa-angle-down"></i>*@
                        </a>
                        <ul class="dropdown-menu pull-left">
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.项目信息管理))
                            {
                                <li class="@(this.IsAction("Index", "InvestmentProject") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "InvestmentProject")">项目信息</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @*@if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户医嘱, Permission.查看)|| PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户用药单, Permission.查看))
                                    {
                                <li class="classic-menu-dropdown">
                                    <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                                        客户医嘱
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.客户医嘱))
                                        {
                                <li class="@(this.IsAction("Index", "CustomerMedicalAdvice") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "CustomerMedicalAdvice")">客户医嘱信息</a>
                                </li>
                                        }
                                        @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.客户用药单))
                                        {
                                <li class="@(this.IsAction("Index", "CustomerPrescritpion") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "CustomerPrescription")">客户用药单信息</a>
                                </li>
                                        }
                                    </ul>
                                </li>
                    }*@

                <li class="classic-menu-dropdown" style="display: @(WebAppContext.Current.User.HasModule(ModuleType.座席接电管理) && !WebAppContext.Current.User.RoleTypeIs(RoleType.超级管理员) ? "none" : "")">
                    <a href="@Url.Action("Index", "Reports")" data-hover="megamenu-dropdown" data-close-others="true">
                        统计报表
                    </a>
                </li>

                <li class="classic-menu-dropdown" style="display: @(WebAppContext.Current.User.HasModule(ModuleType.座席接电管理) && !WebAppContext.Current.User.RoleTypeIs(RoleType.超级管理员) ? "none" : "")">
                    <a href="@Url.Action("Index", "Reports")" data-hover="megamenu-dropdown" data-close-others="true">
                        官微管理
                    </a>
                    <ul class="dropdown-menu pull-left">
                        @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.预约访问, Permission.查看))
                        {
                            <li class="@(this.IsAction("VisitList", "WeChatOfficial") ? "active" : "")">
                                <a data-showloading="true" href="@Url.Action("VisitList", "WeChatOfficial")">预约访问</a>
                            </li>
                        }
                        @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.在线客服, Permission.查看))
                        {
                            <li class="@(this.IsAction("OpinionList", "WeChatOfficial") ? "active" : "")">
                                <a data-showloading="true" href="@Url.Action("OpinionList", "WeChatOfficial")">在线客服</a>
                            </li>
                        }
                    </ul>
                </li>

                @if (WebAppContext.Current.User.HasModule(ModuleType.健康管理))
                {
                    <li class="classic-menu-dropdown">
                        <a href="Javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            健康管理
                        </a>
                        <ul class="dropdown-menu pull-left">
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.健康管理,Permission.查看))
                            {
                                <li class="@(this.IsAction("Index", "HealthManagement") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "HealthManagement")">健康体检</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (WebAppContext.Current.User.HasModule(ModuleType.项目管理) || WebAppContext.Current.User.HasModule(ModuleType.服务项目管理)
|| WebAppContext.Current.User.HasModule(ModuleType.数据字典管理) || WebAppContext.Current.User.HasModule(ModuleType.角色管理)
|| WebAppContext.Current.User.HasModule(ModuleType.用户管理))
                {
                    <li class="classic-menu-dropdown">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            系统设置
                            @*<i class="fa fa-angle-down"></i>*@
                        </a>
                        <ul class="dropdown-menu pull-left">
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.项目管理))
                            {
                                <li class="@(this.IsAction("Index", "Project") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Project")">项目管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.服务项目管理))
                            {
                                <li class="@(this.IsAction("Index", "ServicePackCatalog") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "ServicePackCatalog")">服务项目管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.数据字典管理))
                            {
                                <li class="@(this.IsAction("Index", "Setting") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Setting", new SettingQuery { SettingType = SettingType.客户来源 })">数据字典管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.角色管理))
                            {
                                <li class="@(this.IsAction("Index", "Role") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Role")">角色管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.用户管理))
                            {
                                <li class="@(this.IsAction("Index", "User") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "User")">用户管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.部门管理))
                            {
                                <li class="@(this.IsAction("Index", "Department") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "Department")">部门管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.管理区域管理))
                            {
                                <li class="@(this.IsAction("Index", "ManagementRegion") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "ManagementRegion")">管理区域管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.房型管理))
                            {
                                <li class="@(this.IsAction("Index", "RoomType") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "RoomType")">房型管理</a>
                                </li>
                            }
                            @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.房型费用管理))
                            {
                                <li class="@(this.IsAction("Index", "RoomCost") ? "active" : "")">
                                    <a data-showloading="true" href="@Url.Action("Index", "RoomCost")">房型费用管理</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <!-- END MEGA MENU -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-extended dropdown-notification" id="header_service_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-earphones-alt"></i>
                    </a>
                    <ul class="dropdown-menu" style="width: 300px;">
                        <li class="external">
                            <h3><span class="bold">客服</span></h3>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list" style="height: 230px;" data-handle-color="#637283">
                                <li>
                                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=927045666&site=qq&menu=yes">
                                        <span class="details">
                                            <span class="label label-sm label-icon label-warning">
                                                <i class="fa fa-qq"></i>
                                            </span> 927045666
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Javascript:;">
                                        <span class="details">
                                            <span class="label label-sm label-icon label-warning">
                                                <i class="fa fa-wechat"></i>
                                            </span> 927045666
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Javascript:;">
                                        <span class="details">
                                            <span class="label label-sm label-icon label-warning">
                                                <i class="fa fa-phone-square"></i>
                                            </span> 010-59079557
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Javascript:;">
                                        <span class="details">
                                            <span class="label label-sm label-icon label-warning">
                                                <i class="fa fa-phone"></i>
                                            </span> 15116947071
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>

                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        @if (Model.UserBacklogs.Count > 0)
                        {
                            <span class="badge badge-default">@Model.UserBacklogs.Count</span>
                        }
                    </a>

                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>
                                @if (Model.UserBacklogs.Count > 0)
                                {
                                    <span class="bold">您有@(Model.UserBacklogs.Count)个待办理的任务</span>
                                }
                                else
                                {
                                    <span class="bold">您没有待办理的任务</span>
                                }
                            </h3>
                            <a href="@Url.Action("UndoList", "UserBacklog")">查看所有</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 350px;" data-handle-color="#637283">
                                @foreach (var userBacklog in Model.UserBacklogs)
                                {
                                    <li>
                                        <a data-showloading="true" href="@userBacklog.GenarateActionUrl(Url)">
                                            <span class="time">@userBacklog.CreatedOn.DateString()</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-warning">
                                                    <i class="fa @(userBacklog.GenarateActionIcon())"></i>
                                                </span> @userBacklog.Description
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>

                </li>

                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                        <i class="icon-envelope-open"></i>
                        @if (Model.UserNotices.Count > 0)
                        {
                            <span class="badge badge-default">@Model.UserNotices.Count</span>
                        }
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>
                                @if (Model.UserNotices.Count > 0)
                                {
                                    <span class="bold">您有@(Model.UserNotices.Count)条消息需要处理</span>
                                }
                                else
                                {
                                    <span class="bold">您没有需要处理的消息</span>
                                }
                            </h3>
                            <a href="@Url.Action("UnreadList", "UserMessage")">查看所有</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 350px;" data-handle-color="#637283">
                                @foreach (var userNotice in Model.UserNotices)
                                {
                                    <li>
                                        <a data-showloading="true" href="@($"{userNotice.MessageUrl}&noticeId={userNotice.Id}")">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-warning">
                                                </span> @userNotice.Title
                                            </span>
                                            <span class="time">@userNotice.CreatedOn.DateString()</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-user"></i>
                        @*<img alt="" class="img-circle" src=@Url.Content("~/assets/layouts/layout/img/avatar3_small.jpg") />*@
                        <span class="username username-hide-on-mobile"> @PensionInsurance.Shared.WebAppContext.Current.User.RealName </span>
                        @*<i class="fa fa-angle-down"></i>*@
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="@Url.Action("ChangePassword", "User", new {id = PensionInsurance.Shared.WebAppContext.Current.User.Id})">
                                <i class="icon-key"></i>修改密码
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOff", "Account")">
                                <i class="icon-logout"></i>退出登陆
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<script type="text/javascript">
    $(document).ready(function () {

        $(document)
            .on("click", "#purchase-select-project", function () {

                @*var projectCount = '@WebAppContext.Current.User.Projects.Count';
                if (parseInt(projectCount) === 1) {
                    var projectId = @(WebAppContext.Current.User.Projects.FirstOrDefault() != null ? WebAppContext.Current.User.Projects.FirstOrDefault().Id : 0);
                    var url = '@Url.Action("Select", "Purchase", new { ProjectId = 1})';
                    if (projectId !== 0) {
                        postCommand(url, null, null);
                        return false;
                    }
                }*@
                var selectProjectButtons =
                    {
                        confirm: {
                            text: '确认',
                            btnClass: 'btn-warning',
                            action: function () {
                                var js = this;
                                var $form = $('#purchase-select-project-form');
                                var errors = $form.find(".errors");
                                errors.find("p").remove();
                                errors.hide();

                                var json = $form.serialize();
                                var actionUri = $form.attr('action');

                                console.log(json);

                                $.post(actionUri, json, function (result) {
                                    if (result.success) {
                                        //刷新列表或页面
                                        var refreshSelector = $form.attr("data-refresh");
                                        if (refreshSelector) {
                                            $(refreshSelector).autoRefresh();
                                        } else {
                                            if (result.redirect) {
                                                window.location.href = result.redirect;
                                            } else {
                                                window.location.reload();
                                            }
                                        }

                                        $.bootstrapGrowl("操作成功!", {
                                            type: "success",
                                            offset: {
                                                from: "top",
                                                amount: 150
                                            },
                                            align: "center"
                                        });
                                        js.close();
                                    } else {
                                        $.each(result.errors, function (i, val) {
                                            errors.append("<p>" + val + "</p>");
                                        });
                                        errors.show();
                                    }
                                });
                                return false;
                            }
                        },
                        cancel: {
                            text: '取消',
                            btnClass: 'btn-success'
                        }
                    };
                App.dialog('#purchase-select-project-form', '@Url.Action("Select", "NewPurchase")', 'col-md-6 col-md-offset-3', selectProjectButtons);
            })
             .on("click", "#purchase-confirm", function () {
                 App.dialog('#purchase-confirm-form', '@Url.Action("Confirm", "Purchase")', 'col-md-6 col-md-offset-3');
             });

        $('#collecting-select-project')
            .on("click", function () {
                var projectCount = '@WebAppContext.Current.User.Projects.Count';
                var url = '@Url.Action("Index", "Collecting")';
                if (parseInt(projectCount) === 1) {
                    postCommand(url, null, null);
                    return false;
                }
                var selectProjectButtons =
                    {
                        confirm: {
                            text: '确认',
                            btnClass: 'btn-warning',
                            action: function () {
                                var js = this;
                                var $form = $('#collecting-select-project-form');
                                var errors = $form.find(".errors");
                                errors.find("p").remove();
                                errors.hide();

                                var json = $form.serialize();
                                var actionUri = $form.attr('action');

                                console.log(json);

                                $.post(actionUri, json, function (result) {
                                    if (result.success) {
                                        //刷新列表或页面
                                        var refreshSelector = $form.attr("data-refresh");
                                        if (refreshSelector) {
                                            $(refreshSelector).autoRefresh();
                                        } else {
                                            if (result.redirect) {
                                                window.location.href = result.redirect;
                                            } else {
                                                window.location.reload();
                                            }
                                        }

                                        $.bootstrapGrowl("操作成功!", {
                                            type: "success",
                                            offset: {
                                                from: "top",
                                                amount: 150
                                            },
                                            align: "center"
                                        });
                                        js.close();
                                    } else {
                                        $.each(result.errors, function (i, val) {
                                            errors.append("<p>" + val + "</p>");
                                        });
                                        errors.show();
                                    }
                                });
                                return false;
                            }
                        },
                        cancel: {
                            text: '取消',
                            btnClass: 'btn-success'
                        }
                    };

                App.dialog('#collecting-select-project-form', url, 'col-md-6 col-md-offset-3', selectProjectButtons);
                return false;
            });
        $('#checking-select-project')
            .on("click", function () {
                var url = '@Url.Action("Index", "Checking")';
                var selectProjectButtons =
                    {
                        confirm: {
                            text: '确认',
                            btnClass: 'btn-warning',
                            action: function () {
                                var js = this;
                                var $form = $('#checking-select-project-form');
                                var errors = $form.find(".errors");
                                errors.find("p").remove();
                                errors.hide();

                                var json = $form.serialize();
                                var actionUri = $form.attr('action');

                                console.log(json);

                                $.post(actionUri, json, function (result) {
                                    if (result.success) {
                                        //刷新列表或页面
                                        var refreshSelector = $form.attr("data-refresh");
                                        if (refreshSelector) {
                                            $(refreshSelector).autoRefresh();
                                        } else {
                                            if (result.redirect) {
                                                window.location.href = result.redirect;
                                            } else {
                                                window.location.reload();
                                            }
                                        }

                                        $.bootstrapGrowl("操作成功!", {
                                            type: "success",
                                            offset: {
                                                from: "top",
                                                amount: 150
                                            },
                                            align: "center"
                                        });
                                        js.close();
                                    } else {
                                        $.each(result.errors, function (i, val) {
                                            errors.append("<p>" + val + "</p>");
                                        });
                                        errors.show();
                                    }
                                });
                                return false;
                            }
                        },
                        cancel: {
                            text: '取消',
                            btnClass: 'btn-success'
                        }
                    };

                App.dialog('#checking-select-project-form', url, 'col-md-6 col-md-offset-3', selectProjectButtons);
                return false;
            });
    });
</script>