@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@using PensionInsurance.Web.Views.Home
<div class="page-sidebar-wrapper">
    <!-- BEGIN RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
    <ul class="page-sidebar-menu visible-sm visible-xs  page-header-fixed">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <!-- DOC: This is mobile version of the horizontal menu. The desktop version is defined(duplicated) in the header above -->
        <li class="nav-item start @(this.IsAction("Index", "Home") ? "active open" : "")">
            <a href="@Url.Action("Index", "Home")" class="nav-link nav-toggle">
                首页
            </a>
        </li>
        @if (WebAppContext.Current.User.HasModule(ModuleType.咨询接待管理) || WebAppContext.Current.User.HasModule(ModuleType.渠道管理) || WebAppContext.Current.User.HasModule(ModuleType.客户跟踪管理))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    销售管理
                    <span class="arrow"> </span>
                </a>
                <ul class="sub-menu">

                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.咨询接待管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "Consulting") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Consulting")" class="nav-link nav-toggle">
                                咨询接待管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.渠道管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "SaleChannel") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "SaleChannel")" class="nav-link nav-toggle">
                                渠道管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.客户跟踪管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "ConsultingTracking") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "ConsultingTracking")" class="nav-link nav-toggle">
                                客户跟踪提醒
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.销控图))
                {
                        <li class="nav-item @(this.IsAction("Index", "SalesRoomChart") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "SalesRoomChart")" class="nav-link nav-toggle">
                                销控图
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.电话管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "IncomingCall") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "IncomingCall")" class="nav-link nav-toggle">
                                电话管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.销售预算管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "SalesBudget") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "SalesBudget")" class="nav-link nav-toggle">
                                销售预算管理
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.查看))
        {
            <li class="nav-item @(this.IsAction("IndexCheckIn", "Customer") ? "active open" : "")">
                <a data-showloading="true" href="@Url.Action("IndexCheckIn", "Customer")" class="nav-link nav-toggle">
                    客户信息
                </a>
            </li>
        }
        @if (WebAppContext.Current.User.HasPermission(ModuleType.月账单管理, Permission.查看) || WebAppContext.Current.User.HasModule(ModuleType.客户账户管理) || WebAppContext.Current.User.HasModule(ModuleType.客户现金流水管理) || WebAppContext.Current.User.HasModule(ModuleType.NC凭证管理))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    财务管理
                    <span class="arrow"> </span>
                </a>
                <ul class="sub-menu">

                    @if (WebAppContext.Current.User.HasPermission(ModuleType.月账单管理, Permission.查看))
                {
                        <li class="nav-item @(this.IsAction("Index", "Bill") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Bill")" class="nav-link nav-toggle">
                                客户帐单管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.客户账户管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "CustomerAccount") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "CustomerAccount")" class="nav-link nav-toggle">
                                客户账户管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.客户现金流水管理))
                    {
                        <li class="nav-item @(this.IsAction("CustomerCashFlow", "CustomerAccount") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("CustomerCashFlow", "CustomerAccount")" class="nav-link nav-toggle">
                                客户现金流水管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.NC凭证管理))
                    {
                        <li class="nav-item @(this.IsAction("Index", "NCCertificate") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "NCCertificate")" class="nav-link nav-toggle">
                                凭证管理
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if (WebAppContext.Current.User.HasModule(ModuleType.商品分类管理) || WebAppContext.Current.User.HasModule(ModuleType.采购预算管理) || WebAppContext.Current.User.HasModule(ModuleType.供应商管理) || WebAppContext.Current.User.HasModule(ModuleType.商品管理) || WebAppContext.Current.User.HasModule(ModuleType.采购管理))
        {
            <li class="nav-item">
                <a href="JavaScript:;" class="nav-link nav-toggle">
                    采购管理
                    <span class="arrow"> </span>
                </a>
                <ul class="sub-menu">
                    @if (WebAppContext.Current.User.HasPermission(ModuleType.采购管理, Permission.采购商品))
                    {
                        <li class="nav-item @(this.IsAction("ProductList", "Purchase") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("ProductList", "Purchase")" class="nav-link nav-toggle">
                                采购商品
                            </a>
                        </li>
                    }
                    @if (WebAppContext.Current.User.HasModule(ModuleType.供应商管理))
                    {
                        <li class="nav-item @(this.IsAction("Index", "Supplier") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Supplier")" class="nav-link nav-toggle">
                                供应商管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.商品分类管理))
                    {
                        <li class="nav-item @(this.IsAction("Index", "ProductCategory") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "ProductCategory")" class="nav-link nav-toggle">
                                商品分类管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.商品管理))
                    {
                        <li class="nav-item @(this.IsAction("Index", "Product") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Product")" class="nav-link nav-toggle">
                                商品管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.出库))
                    {
                        <li class="nav-item @(this.IsAction("Index", "Collecting") ? "active open" : "")">
                            <a data-showloading="true" class="nav-link nav-toggle">
                                出库
                            </a>
                        </li>
                    }
                    @*@if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.盘点))
                    {
                        <li class="nav-item @(this.IsAction("Index", "Checking") ? "active open" : "")">
                            <a data-showloading="true" class="nav-link nav-toggle">
                                盘点
                            </a>
                        </li>
                    }*@
                    @if (WebAppContext.Current.User.HasPermission(ModuleType.采购预算管理, Permission.查看))
                    {
                        <li class="nav-item @(this.IsAction("Index", "Budget") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Budget")" class="nav-link nav-toggle">
                                采购预算管理
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (WebAppContext.Current.User.HasModule(ModuleType.人事资料))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    人事管理
                    <span class="arrow"> </span>
                </a>
                <ul class="sub-menu">
                    @if (WebAppContext.Current.User.HasPermission(ModuleType.人事资料, Permission.查看))
                    {
                        <li class="nav-item @(this.IsAction("Index", "Employee") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Employee")" class="nav-link nav-toggle">
                                人事资料
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if (WebAppContext.Current.User.HasModule(ModuleType.项目信息管理))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    投资拓展管理
                    <span class="arrow"> </span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item @(this.IsAction("Index", "InvestmentProject") ? "active open" : "")">
                        <a data-showloading="true" href="@Url.Action("Index", "InvestmentProject")" class="nav-link nav-toggle">
                            项目信息
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (WebAppContext.Current.User.HasModule(ModuleType.客户医嘱) || WebAppContext.Current.User.HasModule(ModuleType.客户用药单))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    客户医嘱
                    <span class="arrow"> </span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item @(this.IsAction("Index", "CustomerMedicalAdvice") ? "active open" : "")">
                        <a data-showloading="true" href="@Url.Action("Index", "CustomerMedicalAdvice")" class="nav-link nav-toggle">
                            客户医嘱信息
                        </a>
                    </li>
                    <li class="nav-item @(this.IsAction("Index", "CustomerPrescription") ? "active open" : "")">
                        <a data-showloading="true" href="@Url.Action("Index", "CustomerPrescription")" class="nav-link nav-toggle">
                            客户用药单信息
                        </a>
                    </li>
                </ul>
            </li>
        }

        @if (WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.查看))
        {
            <li class="nav-item start @(this.IsAction("Index", "Reports") ? "active open" : "")">
                <a href="@Url.Action("Index", "Reports")" class="nav-link nav-toggle">
                    统计报表
                </a>
            </li>
        }
        @if (WebAppContext.Current.User.HasModule(ModuleType.项目管理) || WebAppContext.Current.User.HasModule(ModuleType.服务项目管理)
                         || WebAppContext.Current.User.HasModule(ModuleType.数据字典管理) || WebAppContext.Current.User.HasModule(ModuleType.角色管理)
                         || WebAppContext.Current.User.HasModule(ModuleType.用户管理))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    系统设置
                    <span class="arrow"> </span>
                </a>
                <ul class="sub-menu">

                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.项目管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "Project") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Project")" class="nav-link nav-toggle">
                                项目管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.服务项目管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "ServicePackCatalog") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "ServicePackCatalog")" class="nav-link nav-toggle">
                                服务项目管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.数据字典管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "Setting") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Setting", new SettingQuery {SettingType = SettingType.客户来源})" class="nav-link nav-toggle">
                                数据字典管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.角色管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "Role") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Role")" class="nav-link nav-toggle">
                                角色管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.用户管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "Role") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Role")" class="nav-link nav-toggle">
                                用户管理
                            </a>
                        </li>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasModule(ModuleType.部门管理))
                {
                        <li class="nav-item @(this.IsAction("Index", "Department") ? "active open" : "")">
                            <a data-showloading="true" href="@Url.Action("Index", "Department")" class="nav-link nav-toggle">
                                部门管理
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
    <!-- END RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
</div>