@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.SystemSetting.Project.EditConfigureViewModel
<form id="user-Configure-edit-form" data-ajax="true" action="@Url.Action("Configure", "Project")" method="POST" class="form-horizontal" data-refresh="#project-items">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-green-sharp"></i>
                <span class="caption-subject font-green-sharp sbold">@(Model.Category)人员配置</span>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                @Html.HiddenFor(m => m.Category)
                @Html.HiddenFor(m => m.ProjectId)
                @Html.Hidden("SelectedUsers")

                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="control-label col-md-5">中心通知人</label>
                            <div class="col-md-5">
                                @Html.InputDropDown(m => m.Users, Model.Users, true)
                            </div>
                            <div class="col-md-2">
                                <span class="add-workflow"><i class="fa fa-plus"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="control-label col-md-5">已添加中心通知人</label>
                            <div class="col-md-5">
                                <ul class="dd-list">
                                    @foreach (var item in Model.UserSelectListItems)
                                    {
                                        <li class="dd-item" data-id="@item.Value">@item.Text<i class="js-remove fa fa-remove"></i></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="errors alert alert-danger fade in" style="display: none;"></div>
</form>
<script type="text/javascript" src="@Url.Content("~/assets/global/plugins/sortable/Sortable.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var ddList = $(".dd-list");
        if (ddList && ddList[0]) {
            var editableList = Sortable.create(ddList[0], {
                filter: '.js-remove',
                handle: ".dd-item",
                onFilter: function (evt) {
                    var el = editableList.closest(evt.item);
                    el && el.parentNode.removeChild(el);

                    $("#SelectedUsers").val(editableList.toArray());
                },
                onEnd: function () {
                    $("#SelectedUsers").val(editableList.toArray());
                }
            });
            $("#SelectedUsers").val(editableList.toArray());

            $(document).on("click", ".add-workflow i", function () {
                var errors = $(".errors");
                errors.find("p").remove();
                var userId = $('#Users option:selected').val();
                var userName = $('#Users option:selected').text();

                if (userId === '') {
                    errors.append("<p>请选择中心通知人</p>");
                    errors.show();
                    return;
                } else {
                    errors.hide();
                }

                var el = $('<li class="dd-item" data-id="' + userId + '">' + userName + '<i class="js-remove fa fa-remove"></i></li>')[0];
                editableList.el.appendChild(el);

                $("#SelectedUsers").val(editableList.toArray());
            });
        }
    });

</script>