@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.SystemSetting.Project.EditWorkflowContractViewModel
<form id="workflow-employee-edit-form" data-ajax="true" action="@Url.Action("EditWorkflowEmployee", "Project")" method="POST" class="form-horizontal" data-refresh="#project-items">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-green-sharp"></i>
                <span class="caption-subject font-green-sharp sbold">编辑@(Model.WorkflowCategory)审批流程</span>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                @Html.HiddenFor(m => m.WorkflowCategory)
                @Html.HiddenFor(m => m.ProjectId)
                @if (Model.WorkflowCategory == WorkflowCategory.项目新员工入职 || Model.WorkflowCategory == WorkflowCategory.项目经理级新员工入职)
                {
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label col-md-5">公寓总经理审批</label>
                                <div class="col-md-6">
                                    @Html.InputDropDown(m => m.ApartmentGeneralManagerUserId, Model.Users, true)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.WorkflowCategory != WorkflowCategory.大区总监级新员工储备入职 && Model.WorkflowCategory != WorkflowCategory.入职办理)
                {
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label col-md-5">大区总监审批</label>
                                <div class="col-md-6">
                                    @Html.InputDropDown(m => m.DistrictGovernorUserId, Model.Users, true)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.WorkflowCategory != WorkflowCategory.项目新员工入职 && Model.WorkflowCategory != WorkflowCategory.入职办理)
                {
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label col-md-5">中心薪酬经理审批</label>
                                <div class="col-md-6">
                                    @Html.InputDropDown(m => m.CenterSalaryManagerUserId, Model.Users, true)
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label col-md-5">中心人力行政总监审批</label>
                                <div class="col-md-6">
                                    @Html.InputDropDown(m => m.CenterExecutiveUserId, Model.Users, true)
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label col-md-5">公司总经理审批</label>
                                <div class="col-md-6">
                                    @Html.InputDropDown(m => m.GeneralManagerUserId, Model.Users, true)
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.WorkflowCategory == WorkflowCategory.入职办理)
                {
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label col-md-5">审批</label>
                                <div class="col-md-6">
                                    @Html.InputDropDown(m => m.EntryApprovalUserId, Model.Users, true)
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="errors alert alert-danger fade in" style="display: none;"></div>
</form>
<script type="text/javascript" src="@Url.Content("~/assets/global/plugins/sortable/Sortable.js")"></script>