@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.SystemSetting.Project.EditViewModel

@section Styles{
    <style type="text/css">
        .select2-selection__rendered {
            height: 28px !important;
        }
        .select2-container .select2-selection--single {
            height: 22px;
            padding: 0 0 !important;
        }
    </style>
}

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">系统设置管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index","Project")">项目信息管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>项目编辑</span>
            </li>
        </ul>
    </div>
}
<div id="myTabContent" class="tab-content">

    <div class="full-height-content-body">
        <form data-ajax="true" action="@Url.Action("Edit", "Project")" method="POST" class="form-horizontal">
            <div class="portlet box green" style="margin-top: 10px;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>项目信息
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目编号</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="ProjectNo" value="@Model.ProjectNo" readonly />
                                        @Html.HiddenFor(x => Model.ProjectId)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目名称</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.Name)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目地点</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.Address)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">所属城市</label>
                                    <div class="col-md-9">
                                        @Html.InputDropDown(m => m.City, Model.Cities, true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目状态</label>
                                    <div class="col-md-9">
                                        @Html.EnumTextDropDownListFor(m => m.Status, typeof(ProjectStatus), true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目全称</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.ProjectFullName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目类型</label>
                                    <div class="col-md-9">
                                        @Html.EnumTextDropDownListFor(m => m.ProjectType, typeof(ProjectType), true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">管理区域</label>
                                    <div class="col-md-9">
                                        @Html.InputDropDown(m => m.ManagementRegion, Model.ManagementRegions, true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">排序</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.Sort)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">楼栋数</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="BuildingCount" value="@Model.BuildingCount" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">单元数</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="UnitCount" value="@Model.UnitCount" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">楼层数</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="FloorCount" value="@Model.FloorCount" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">刷卡费率</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.PosCardRate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">最大手续费</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.MaxPosCardCost)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">赠送积分额度</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.IntegralLimit)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">单次减免额度</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.SpecialExemptionLimit)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">个人年度减免额度</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.PersonalSpecialExemptionLimitTotal)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">年度减免额度</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.SpecialExemptionLimitTotal)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">一次性安置费</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.RelocationCost)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">短期餐费</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.ShortTermMealsCost)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">短期基础服务费</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.ShortTermServiceCost)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">请假退费</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.RefundCost)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">长期餐费</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.LongTermMealsCost)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">长期基础服务费</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.LongTermServiceCost)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">违约金比例</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.LiquidatedDamagesRatio)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">推荐人奖励积分</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.RecommendPoint)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">被推荐人奖励积分</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.BonusPoint)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">第一人押金</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.FirstDeposit)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">第二人押金</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.SecondDeposit)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">代办提醒日</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.ReminderDateOfDay)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>公司信息
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">公司名称</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.CompanyName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">公司法人</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.CompanyCorporation)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">联系电话</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.CompanyTel)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">账户名称</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.CompanyAccountName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">账户号码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.CompanyAccount)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">开户行</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.CompanyAccountBank)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">邮政编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.PostCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">电子邮箱</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.Email)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-1">公司地址</label>
                                    <div class="col-md-11">
                                        @Html.InputText(m => m.CompanyAddress)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-1">养老服务地点</label>
                                    <div class="col-md-11">
                                        @Html.InputText(m => m.PensionAddress)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>NC信息
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">NC公司编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCCompanyCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">借方月费科目编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCDebitAccountCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">贷方房费科目编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCCreditRoomAccountCode)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">贷方餐费科目编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCCreditMealsAccountCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">贷方护理费科目编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCCreditServiceAccountCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">贷方增值服务费科目编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCCreditIncrementAccountCode)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">贷方基础服务费科目编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCCreditBasicallyAccountCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">制单人</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCEnter)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">借方一次性安置费科目编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCDebitRelocationAccountCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">贷方一次性安置费科目编码</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.NCCreditRelocationAccountCode)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="errors alert alert-danger fade in" style="display: none;"></div>
            <div class="form-actions">
                <div class="text-center">
                    <button type="submit" class="btn green btn-sm padding-lf-15 ">保存</button>
                    <button type="button" class="btn yellow btn-sm padding-lf-15 " onclick="javascript: history.back(-1);">返回上一页</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("select[name='City']").select2({
                theme: "classic",
                width: 'resolve',
                language: "zh-CN",
                //data: ['110100']
                //matcher: matchCustom
            });
        });
    </script>
}
