@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.Checking.CheckingProjectViewModel
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Purchase")">采购管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>盘点记录</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>盘点记录查询
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("CheckingProject","Checking",new {page = Model.Items.Page,pageSize = Model.Items.PageSize})" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目</label>
                                    <div class="col-md-9">
                                        @Model.Query.ProjectName
                                        <input type="hidden" class="form-control" name="Query.ProjectId" value="@Model.Query.ProjectId" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">盘点日期</label>
                                    <div class="col-md-9">
                                        <input type="text" id="checkingDateFrom" class="form-control-inline col-md-5" data-date-format="yyyy-mm-dd" name="Query.CheckingDateFrom" value="@(Model.Query.CheckingDateFrom.HasValue?Model.Query.CheckingDateFrom.Value.ToShortDateString() : "")" />
                                        <span class="col-md-1" style="margin:4px 8px 0 0;">至</span>
                                        <input type="text" id="checkingDateTo" class="form-control-inline col-md-5" data-date-format="yyyy-mm-dd" name="Query.CheckingDateTo" value="@(Model.Query.CheckingDateTo.HasValue?Model.Query.CheckingDateTo.Value.ToShortDateString() : "")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button type="submit" class="btn green">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">盘点记录列表</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table id="checkingProjectList" class="table table-hover table-scrollable">
                        <thead>
                            <tr>
                                <th> 序号 </th>
                                <th> 项目 </th>
                                <th> 盘点日期 </th>
                                <th> 盘点人 </th>
                                <th> 状态 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td> @Model.Items.RowNumberOf(item) </td>
                                    <td> @item.Project.Name </td>
                                    <td> @item.CheckingDate.ToShortDateString() </td>
                                    <td> @item.CheckingPerson.RealName </td>
                                    <td> @item.CheckingStatus </td>
                                    <td>
                                        <a href="@Url.Action("CheckingProjectItem", "Checking", new { ProjectId = item.Project.Id, CheckingProjectId = item.Id })" class="btn default btn-xs red-stripe">查看</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Partial("_Pagination", Model.Items)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#checkingDateFrom').datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN",
                format: 'yyyy-mm-dd',
                minView: 2
            });
            $('#checkingDateTo').datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN",
                format: 'yyyy-mm-dd',
                minView: 2
            });
        });
    </script>
}