@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Query
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.Checking.CheckingProjectItemViewModel
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Purchase")">采购管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>盘点</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>盘点信息
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->

                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="control-label col-md-3">项目</div>
                            <div class="col-md-9">
                                @Model.Query.ProjectName
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-label col-md-3">盘点月份</div>
                            <div class="col-md-9">
                                @Model.OpenDate.ToString("yyyy-MM")
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">库存盘点</span>
                </div>
                <div class="actions pull-right">
                    @if (WebAppContext.Current.User.HasPermission(ModuleType.盘点, Permission.查看))
                    {
                        <a href="@Url.Action("CheckingProject", "Checking", new { Model.Query.ProjectId })" class="btn green">
                            <i class="fa " aria-hidden="true"></i>
                            盘点记录
                        </a>
                    }
                </div>
            </div>
            <div class="portlet-body">
                <form action="@Url.Action("Submit", "Checking")" method="POST" class="form-horizontal">
                    <div class="table">
                        <input type="hidden" name="ProjectId" value="@Model.Query.ProjectId" />
                        <input type="hidden" name="CheckingProjectId" value="@Model.CheckingProject.Id" />
                        <input type="hidden" name="IsResubmit" value="@Model.Query.IsResubmit.ToString()" />
                        <table id="checkingProjectItemList" class="table table-hover table-scrollable">
                            <thead>
                                <tr>
                                    <th> 序号 </th>
                                    <th> 产品编码 </th>
                                    <th> 产品名称 </th>
                                    <th> 产品分类 </th>
                                    <th> 供应商 </th>
                                    <th> 品牌 </th>
                                    <th> 规格 </th>
                                    <th> 单位 </th>
                                    <th> 期初数量 </th>
                                    <th> 本月入库数 </th>
                                    <th> 本月出库数 </th>
                                    <th> 期末库存 </th>
                                    <th> 盘点数量 </th>
                                    <th> 盘点时间 </th>
                                    <th> 盘点人 </th>
                                    <th> 盘点差异 </th>
                                    <th> 备注及用途 </th>
                                </tr>
                            </thead>
                            <tbody>
                            @if (Model.Items != null)
                            {
                                var index = 0;
                                foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <input type="hidden" name="CheckingProjectItems[@index].PurchaseProductStockId" value="@item.PurchaseProductStockId"/>
                                        <input type="hidden" name="CheckingProjectItems[@index].Stock" value="@item.Stock"/>
                                        <input type="hidden" name="CheckingProjectItems[@index].PurchaseProductId" value="@item.PurchaseProductId"/>
                                        <td> @Model.Items.RowNumberOf(item) </td>
                                        <td> @item.ProductCode </td>
                                        <td> @item.PurchaseProductName </td>
                                        <td> @item.PurchaseProductCategory </td>
                                        <td> @item.PurchaseSupplier </td>
                                        <td> @item.Brand </td>
                                        <td> @item.Specification </td>
                                        <td> @item.Unit </td>
                                        <td> @item.LastMonthCheckCount </td>
                                        <td> @item.CurrentMonthStockInCount </td>
                                        <td class="a"> @item.CurrentMonthStockOutCount </td>
                                        <td class="b"> @item.CurrentCheckCount </td>
                                        <td>
                                            @if (Model.CheckingProject != null && Model.CheckingProject.CheckingStatus != CheckingStatus.未完成)
                                            {
                                                @item.CheckingQuantity
                                            }
                                            else
                                            {
                                                <input type="text" class="checkingQuantity" name="CheckingProjectItems[@index].CheckingQuantity" data-currentmonthstockincount="@item.CurrentMonthStockInCount" data-lastmonthcheckcount="@item.LastMonthCheckCount" value="@item.CheckingQuantity" onkeyup="this.value = this.value.replace(/[^\d]/g, '')" onafterpaste="this.value = this.value.replace(/[^\d]/g, '')"/>
                                                <input type="hidden" class="lastMonthCheckCount" name="CheckingProjectItems[@index].LastMonthCheckCount" value="@item.LastMonthCheckCount"/>
                                                <input type="hidden" class="currentMonthStockInCount" name="CheckingProjectItems[@index].CurrentMonthStockInCount" value="@item.CurrentMonthStockInCount"/>
                                                <input type="hidden" class="currentMonthStockOutCount" name="CheckingProjectItems[@index].CurrentMonthStockOutCount" value="@item.CurrentMonthStockOutCount"/>
                                                <input type="hidden" class="currentCheckCount" name="CheckingProjectItems[@index].CurrentCheckCount" value="@item.CurrentCheckCount"/>
                                            }
                                        </td>
                                        <td> @Model.OpenDate.ToShortDateString() </td>
                                        <td> @Model.PersonName </td>
                                        <td> - </td>
                                        <td>
                                            @if (Model.CheckingProject != null && Model.CheckingProject.CheckingStatus != CheckingStatus.未完成)
                                            {
                                                @item.Remarks
                                            }
                                            else
                                            {
                                                <input type="text" name="CheckingProjectItems[@index].Remarks" value="@item.Remarks"/>
                                            }
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                    @if (Model.CheckingProject != null && Model.CheckingProject.CheckingStatus == CheckingStatus.未完成)
                    {
                        <div class="form-actions">
                            <div class="text-center">
                                <input type="submit" class="btn green btn-sm padding-lf-15" disabled id="submit" name="" value="提交" />
                                @*<input type="button" class="btn green btn-sm padding-lf-15" id="cancel" name="" value="作废" />*@
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#DateFrom').datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN",
                format: 'yyyy-mm-dd',
                minView: 2
            });
            $('#DateTo').datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN",
                format: 'yyyy-mm-dd',
                minView: 2
            });
            $('#checkingDate').datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN",
                format: 'yyyy-mm-dd',
                minView: 2
            });

            var checkInvaildQuantity = function () {
                var checkingQuantities = $('.checkingQuantity');
                checkingQuantities.each(function () {
                    if ($(this).val() === '' || $(this).hasClass('alert-danger')) {
                        $('#submit').attr('disabled', 'disabled');
                        return false;
                    } else {
                        $('#submit').removeAttr('disabled');
                    }
                });
            };

            $('#save').click(function () {
                var url = '@Url.Action("Save", "Checking")';
                $('#checkingProject').attr("action", url).submit();

            });

            $('.checkingQuantity').on('blur',
                function () {
                    checkInvaildQuantity();
                });
            $('#cancel').click(function () {
                var url = '@Url.Action("Cancel", "Checking")';
                var command = {
                    CheckingProjectId: $('#checkingProjectId').val(),
                    ProjectId: $('#projectId').val()
                };
                postCommand(url, command, $(this));
                return false;
            });

            $('.checkingQuantity').on('change',
                function () {
                    var checkingQuantity = parseInt($(this).val());
                    var currentMonthStockInCount = $(this).attr('data-currentmonthstockincount');
                    var lastMonthCheckCount = $(this).attr('data-lastmonthcheckcount');
                    var sum = parseInt(currentMonthStockInCount) + parseInt(lastMonthCheckCount);
                    if (isNaN(checkingQuantity) || checkingQuantity === "" || checkingQuantity > sum) {
                        $(this).addClass('alert-danger');
                        return;
                    }

                    var currentMonthStockOutCount = sum - checkingQuantity;
                    $(this).siblings(".currentMonthStockOutCount").val(currentMonthStockOutCount);
                    $(this).siblings(".currentCheckCount").val(checkingQuantity);
                    $(this).parent().siblings(".a").text(currentMonthStockOutCount);
                    $(this).parent().siblings(".b").text(checkingQuantity);
                    $(this).removeClass('alert-danger');
                });
        });
    </script>
}