@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.WeChatOfficial.IndexViewModel

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<span>销售管理</span>
				<i class="fa fa-circle"></i>
			</li>
			<li>
                <span>在线客服</span>
			</li>
		</ul>
	</div>
}

<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">在线客服</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table">
					<table class="table table-hover table-scrollable">
						<thead>
						<tr>
							<th> 姓名 </th>
							<th> 电话 </th>
							<th> 意见 </th>
							<th> 提交时间 </th>
						</tr>
						</thead>
						<tbody>
						@foreach (var item in Model.WeChatOfficialOpinions)
						{
							<tr>
								<td> @item.Name </td>
								<td> @item.Phone </td>
								<td> @(item.Opinion) </td>
								<td> @(item.CreatedOn.DateTimeString())</td>
							</tr>
						}
						</tbody>
					</table>
					@Html.Partial("_Pagination", Model.WeChatOfficialOpinions)
				</div>
			</div>
		</div>
	</div>
</div>