@using PensionInsurance.Entities
@model PensionInsurance.Web.Views.Finance.Bill.DetailViewModel
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("IndexCheckIn", "Customer")">客户信息</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>账单分解</span>
            </li>
        </ul>
    </div>
}
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<style>
    .tdbgcolor {
        background-color: #fcfcfc;
    }
</style>
<div class="portlet-body form">
    <table class="table table-bordered" style="margin-bottom: 20px;margin-top: 10px;">
        <tbody>
            <tr>
                <td class="tdbgcolor"> 账单总金额 </td>
                <td class="tdbgcolor"> 客户姓名 </td>
                <td class="tdbgcolor"> 账单日期 </td>
                <td class="tdbgcolor"> 合同编号 </td>
                <td class="tdbgcolor"> 项目名称 </td>
            </tr>
            <tr>
                <td> @Model.Bill.ActualPaymentCost</td>
                <td> @Model.Bill.Contract.CustomerAccount.Customer.Name</td>
                <td> @Model.Bill.BillDate</td>
                <td> @Model.Bill.Contract.ContractNo</td>
                <td> @Model.Bill.Contract.Project.Name</td>
            </tr>
            <tr>
                <td class="tdbgcolor"> 账单床位费 </td>
                <td class="tdbgcolor"> 账单餐费 </td>
                <td class="tdbgcolor"> 账单基础服务费 </td>
                <td class="tdbgcolor"> 账单打包服务费 </td>
                <td class="tdbgcolor"> 账单增值服务费 </td>
            </tr>
        <tr>
            @if (Model.Bill.EndDate.Date == Model.Bill.Contract.ActualEndTime.Value.Date && Model.Bill.EndDate.Date < Model.Bill.Contract.EndTime.Value.Date)
            {
                if (Model.Bill.Contract.ContractTemplate == ContractTemplate.养老机构服务合同20160101 && Model.Bill.BillType != BillType.减免账单)
                {
                    <td>@(Model.Bill.RoomCost + Model.Bill.RoomChangeCost - Model.PayBackRoomChangeCostTotal + Model.PayBackRoomCostTotal)</td>
                    <td>@(Model.Bill.MealsCost + Model.Bill.MealChangeCost + Model.Bill.RefundCostMeal+ Model.PayBackMealsCostTotal+ Model.PayBackMealChangeCostTotal)</td>
                    <td>@(Model.Bill.ServiceCost+Model.PayBackServiceCostTotal)</td>
                    <td>@(Model.Bill.PackageServiceCost + Model.Bill.RefundCostService+ Model.PayBackPackageServiceCostTotal+Model.PayBackLevaPackageServiceCostTotal)</td>
                }
                else
                {
                    <td>@(Model.Bill.RoomCost + Model.Bill.RoomChangeCost + Model.Bill.LiquidatedDamages)</td>
                    <td>@(Model.Bill.MealsCost + Model.Bill.MealChangeCost + Model.Bill.RefundCostMeal)</td>
                    <td>@(Model.Bill.ServiceCost)</td>
                    <td>@(Model.Bill.PackageServiceCost + Model.Bill.RefundCostService)</td>
                }
            }
            else
            {
                <td>@(Model.Bill.RoomCost + Model.Bill.RoomChangeCost)</td>
                <td>@(Model.Bill.MealsCost + Model.Bill.MealChangeCost + Model.Bill.RefundCostMeal)</td>
                <td>@Model.Bill.ServiceCost</td>
                <td>@(Model.Bill.PackageServiceCost + Model.Bill.RefundCostService)</td>
            }
            
            <td>@(Model.Bill.IncrementCost + Model.Bill.IntegralPunchCost)</td>
        </tr>
            <tr>
                <td class="tdbgcolor"> 床位费 </td>
                <td class="tdbgcolor"> 餐费 </td>
                <td class="tdbgcolor"> 基础服务费 </td>
                <td class="tdbgcolor"> 打包服务费 </td>
                <td class="tdbgcolor"> 增值服务费 </td>
            </tr>
            <tr>
                <td>@Model.Bill.RoomCost</td>
                <td>@Model.Bill.MealsCost</td>
                <td>@Model.Bill.ServiceCost</td>
                <td>@Model.Bill.PackageServiceCost</td>
                <td>@Model.Bill.IncrementCost</td>
            </tr>
            <tr>
                <td class="tdbgcolor"> 费用变更床位费 </td>
                <td class="tdbgcolor"> 费用变更餐费 </td>
                <td class="tdbgcolor"> </td>
                <td class="tdbgcolor"> </td>
                <td class="tdbgcolor"> 积分冲抵 </td>
            </tr>
            <tr>
                <td>@Model.Bill.RoomChangeCost</td>
                <td>@Model.Bill.MealChangeCost</td>
                <td></td>
                <td></td>
                <td>@Model.Bill.IntegralPunchCost</td>
            </tr>
            <tr>
                <td class="tdbgcolor"> </td>
                <td class="tdbgcolor">请假退餐费</td>
                <td class="tdbgcolor"> </td>
                <td class="tdbgcolor">请假退打包服务费</td>
                <td class="tdbgcolor"> </td>
            </tr>
            <tr>
                <td></td>
                <td>@Model.Bill.RefundCostMeal</td>
                <td></td>
                <td>@Model.Bill.RefundCostService</td>
                <td></td>
            </tr>
            @if (Model.Bill.EndDate.Date == Model.Bill.Contract.ActualEndTime.Value.Date && Model.Bill.EndDate.Date < Model.Bill.Contract.EndTime.Value.Date && Model.Bill.Contract.ContractTemplate == ContractTemplate.养老机构服务合同20160101 && Model.Bill.BillType != BillType.减免账单)
            {
                <tr>
                    <td class="tdbgcolor">提前退住补缴床位费 </td>
                    <td class="tdbgcolor">提前退住补缴餐费</td>
                    <td class="tdbgcolor">提前退住补缴基础服务费</td>
                    <td class="tdbgcolor">提前退住补缴打包服务费 </td>
                    <td class="tdbgcolor"> </td>
                </tr>
                <tr>
                    <td>@Model.PayBackRoomCostTotal</td>
                    <td>@Model.PayBackMealsCostTotal</td>
                    <td>@Model.PayBackServiceCostTotal</td>
                    <td>@Model.PayBackPackageServiceCostTotal</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdbgcolor">提前退住补缴变更床位费 </td>
                    <td class="tdbgcolor">提前退住补缴变更餐费</td>
                    <td class="tdbgcolor"></td>
                    <td class="tdbgcolor">提前退住补缴请假打包服务费 </td>
                    <td class="tdbgcolor"> </td>
                </tr>
                <tr>
                    <td>@(-Model.PayBackRoomChangeCostTotal)</td>
                    <td>@(-Model.PayBackMealChangeCostTotal)</td>
                    <td></td>
                    <td>@Model.PayBackLevaPackageServiceCostTotal</td>
                    <td></td>
                </tr>
            }
            else if (Model.Bill.BillType != BillType.减免账单)
            {
                <tr>
                    <td class="tdbgcolor">提前退住补缴床位费 </td>
                    <td class="tdbgcolor"></td>
                    <td class="tdbgcolor"></td>
                    <td class="tdbgcolor"> </td>
                    <td class="tdbgcolor"> </td>
                </tr>
                <tr>
                    <td>@Model.Bill.LiquidatedDamages</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
    </table>
</div>
