<!-- BEGIN PAGE BAR -->
@using System.Web.Mvc.Html
@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Finance.Bill.DetailViewModel
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("IndexCheckIn", "Customer")">客户信息</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>账单详细</span>
            </li>
        </ul>
    </div>
}
<style>
    .table th, .table td {
        text-align: center;
        height: 38px;
    }
</style>
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<style>

</style>

<div class="portlet-body form">
    <table class="table table-striped table-bordered" style="margin-bottom: 20px;">
        <tbody>
            <tr>
                <td class="tt" style="text-align: left;" colspan="6">
                    <i class="fa fa-gift"></i>
                    <span class="caption-subject  sbold">客户信息</span>
                </td>
            </tr>
            <tr>
                <td class="tl"> 客户姓名 </td>
                <td class="tt"> @Model.Bill.Contract.CustomerAccount.Customer.Name </td>
                <td class="tl"> 合同编号 </td>
                <td class="tt"> @Model.Bill.Contract.ContractNo</td>
                <td class="tl"> 项目名称 </td>
                <td class="tt"> @Model.Bill.Contract.Project.ProjectFullName</td>
            </tr>
            <tr>
                <td class="tl"> 楼号 </td>
                <td class="tt"> @Model.Bill.Room.Floor.Unit.Building.Name </td>
                <td class="tl"> 单元 </td>
                <td class="tt"> @Model.Bill.Room.Floor.Unit.Name </td>
                <td class="tl"> 房号 </td>
                <td class="tt"> @Model.Bill.Room.Name</td>
            </tr>
            <tr>
                <td class="tl"> 账户现金余额 </td>
                <td class="tt"> @Model.Bill.Contract.CustomerAccount.Balance</td>
                <td class="tl"> 账户积分余额 </td>
                <td class="tt"> @Model.Bill.Contract.CustomerAccount.Points</td>
            </tr>
            <tr>
                <td class="tt" style="text-align: left;" colspan="6">
                    <i class="fa fa-gift"></i>
                    <span class="caption-subject  sbold">账单信息</span>
                </td>
            </tr>
            <tr>
                <td class="tl"> 账单日期 </td>
                <td class="tt"> @Model.Bill.BillDate </td>
                <td class="tl"> 账单金额 </td>
                <td class="tt"> @Model.Bill.ActualPaymentCost.FormatString()</td>
                <td class="tl"> 账单类型 </td>
                <td class="tt"> @Model.Bill.BillType</td>
            </tr>

            @if (Model.Bill.EndDate.Date == Model.Bill.Contract.ActualEndTime.Value.Date && Model.Bill.EndDate.Date < Model.Bill.Contract.EndTime.Value.Date)
            {

                if (Model.Bill.Contract.ContractTemplate == ContractTemplate.养老机构服务合同20160101 && Model.Bill.BillType != BillType.减免账单)
                 {
                     <tr>
                         <td class="tl">基础月费 </td>
                         <td class="tt">@(Model.Bill.RoomCost + Model.Bill.RoomChangeCost - Model.PayBackRoomChangeCostTotal + Model.PayBackRoomCostTotal + Model.Bill.MealsCost + Model.Bill.MealChangeCost + Model.Bill.RefundCostMeal + Model.PayBackMealsCostTotal + Model.PayBackMealChangeCostTotal) </td>
                         <td class="tl"> 基础服务费 </td>
                         <td class="tt">@(Model.Bill.ServiceCost + Model.PayBackServiceCostTotal)</td>
                         <td class="tl"> 打包服务费 </td>
                         <td class="tt">@(Model.Bill.PackageServiceCost + Model.Bill.RefundCostService + Model.PayBackPackageServiceCostTotal + Model.PayBackLevaPackageServiceCostTotal)</td>
                     </tr>
                 }
                 else
                 {
                     <tr>
                         <td class="tl">基础月费 </td>
                         <td class="tt">@(Model.Bill.RoomCost + Model.Bill.LiquidatedDamages + Model.Bill.RoomChangeCost + Model.Bill.MealsCost + Model.Bill.MealChangeCost + Model.Bill.RefundCostMeal)</td>
                         <td class="tl"> 基础服务费 </td>
                         <td class="tt">@(Model.Bill.ServiceCost)</td>
                         <td class="tl"> 打包服务费 </td>
                         <td class="tt">@(Model.Bill.PackageServiceCost + Model.Bill.RefundCostService)</td>
                     </tr>
                 }
            }
            else
            {
                <tr>
                    <td class="tl">基础月费 </td>
                    <td class="tt">@(Model.Bill.RoomCost + Model.Bill.RoomChangeCost + Model.Bill.MealsCost + Model.Bill.MealChangeCost + Model.Bill.RefundCostMeal) </td>
                    <td class="tl"> 基础服务费 </td>
                    <td class="tt">@(Model.Bill.ServiceCost)</td>
                    <td class="tl"> 打包服务费 </td>
                    <td class="tt">@(Model.Bill.PackageServiceCost + Model.Bill.RefundCostService)</td>
                </tr>
            }

            <tr>
                <td class="tl"> 增值服务费 </td>
                <td class="tt">@(Model.Bill.IncrementCost + Model.Bill.IntegralPunchCost)</td>
            </tr>
            <tr>
                <td class="tl">备注</td>
                <td class="tt" colspan="5" style="text-align: left">@Model.Bill.SpecialDiscountDescription</td>
            </tr>
    </table>
    @if (Model.ServiceRecordsItems.Any() && Model.Bill.BillType == BillType.正式账单)
    {
        <table class="table table-striped table-bordered table-hover table-report @(!Model.ServiceRecordsItems.Any()?"hidden-print":string.Empty)">
            <thead>
                <tr>
                    <th colspan="10">本月点单记录</th>
                </tr>
                <tr>
                    <th>序号</th>
                    <th>服务时间</th>
                    <th>服务项名称</th>
                    <th>服务单价</th>
                    <th>服务次数</th>
                    <th>耗材金额</th>
                    <th>总金额</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ServiceRecordsItems)
                {
                    <tr>
                        <td>@Model.ServiceRecordsItems.RowNumberOf(item) </td>
                        <td style="white-space:nowrap;">@item.ServiceDate.DateString()</td>
                        <td>@item.ServiceItemName</td>
                        <td>@item.UnitPrice.FormatString()</td>
                        <td>@item.ServiceAmount</td>
                        @if ((item.Total - (item.ServiceAmount * item.UnitPrice)) > 0)
                        {
                            <td><a onclick="showItems(@item.ServiceRecordId)" href="javascript:;"> @(item.Total - (item.ServiceAmount * item.UnitPrice)) </a></td>

                        }
                        else
                        {
                            <td>@(item.Total - (item.ServiceAmount * item.UnitPrice))</td>
                        }

                        <td>@item.Total.FormatString()</td>
                        <td>@item.Remark</td>
                    </tr>
                }
                @if (!Model.ServiceRecordsItems.Any())
                {
                    <tr>
                        <td colspan="13"><h4 class="text-success">本月暂无点单记录</h4></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.Items.Any())
    {
        <table class="table table-striped table-bordered table-hover table-report @(!Model.Items.Any()?"hidden-print":string.Empty)">
            <thead>
                <tr>
                    <th colspan="13">历史未结清账单列表</th>
                </tr>
                <tr>
                    <th>账单类型</th>
                    <th>账单日期</th>
                    <th>客户编号</th>
                    <th>客户姓名</th>
                    <th>合同编号</th>
                    <th>项目</th>
                    <th>楼号</th>
                    <th>单元</th>
                    <th>房间号</th>
                    <th>账单状态</th>
                    <th>账单金额</th>
                    <th>已缴金额</th>
                    <th>未缴金额</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.BillType.ToString()</td>
                        <td style="white-space: nowrap;"><a class="btn-link" href="@Url.Action("Detail", "Bill", new {id = item.Id})">@item.BillDate </a> </td>
                        <td style="white-space: nowrap;">@item.Contract.CustomerAccount.Customer.CustomerNo</td>
                        <td style="white-space: nowrap;">@item.Contract.CustomerAccount.Customer.Name</td>
                        <td style="white-space: nowrap;">@item.Contract.ContractNo</td>
                        <td>@item.Contract.Project.Name</td>
                        <td>@item.Contract.ActualRoom.Floor.Unit.Building.Name</td>
                        <td style="white-space: nowrap;">@item.Contract.ActualRoom.Floor.Unit.Name</td>
                        <td>@item.Contract.ActualRoom.Name</td>
                        <td>@item.Status</td>
                        <td>@item.ActualPaymentCost.FormatString()</td>
                        <td>@item.PaidCost.FormatString()</td>
                        <td>@((item.ActualPaymentCost - item.PaidCost).FormatString())</td>
                    </tr>
                }
                @if (!Model.Items.Any())
                {
                    <tr>
                        <td colspan="13"><h4 class="text-success">所有帐单已结清</h4></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div class="form-actions text-center hidden-print">

        @if (Model.Bill.BillType == BillType.减免账单)
        {
            <a href="@Url.Action("Detail", "ReliefBill",new {id = Model.Bill.Id})" class="btn green btn-sm padding-lf-15">审批流程</a>
        }

        <a target="_blank" href="@Url.Action("BreakUpBill", "Bill",new {billId = Model.Bill.Id})" class="btn green btn-sm padding-lf-15">账单分解</a>

        @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.月账单管理, Permission.账单打印) ||
                PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.账单打印))
        {
            <a href="javascript:;" onclick="window.print()" class="btn green btn-sm padding-lf-15">账单打印</a>
        }
    </div>
</div>


<div class="container">
    <div class="modal small fade" id="MaterialItems" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px; height: auto;">
            <div class="modal-content">
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>耗材名称</th>
                                <th>数量</th>
                                <th>单价</th>
                            </tr>
                        </thead>
                        <tbody id="mitems"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/clockface/js/clockface.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js") type="text/javascript"></script>
    <script type="text/javascript">
        function showItems(sId) {
            var infoBody = "";
            $.get("@Url.Action("GetMaterialServices", "CustomerServiceRecord")/" + sId, function (result) {

                if (result.length > 0) {
                    $(result).each(function (index, val) {
                        infoBody += BindItems(val);
                    });
                    // setOption(ageReportAll, '年龄结构', legends, result);
                    $("#mitems").html(infoBody);
                    $("#MaterialItems").modal('show');
                }

            });

        };

        function BindItems(item) {
            var bodyHtml = "";
            bodyHtml += "<tr>";
            bodyHtml += "<td>" + item.Name + "</td>";
            bodyHtml += "<td>" + item.Amount + "</td>";
            bodyHtml += "<td>" + item.Price + "元</td>";
            bodyHtml += " </tr>";
            return bodyHtml;
        }

    </script>
}