@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common;
@model PensionInsurance.Web.Views.Reports.CustomerMonthlyFeeDailyReport.IndexViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
}
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Reports")">统计报表</a>
                <i class="fa fa-circle"></i>
            </li>
            <li><span>客户月费日报表</span></li>
        </ul>
    </div>
}

<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>客户月费日报表 - 查询条件
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="report-search-form" action="@Url.Action("Index", "CustomerMonthlyFeeDailyReport")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">所属项目</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(x => x.Query.ProjectIds, Model.ProjectList, new { multiple = "", @class = "selectpicker" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">账单范围</label>
                                    <div class="col-md-9">
                                        <div class="input-group input-daterange">
                                            @Html.InputDate(m => m.Query.StartTime)
                                            <span class="input-group-addon"> 到 </span>
                                            @Html.InputDate(m => m.Query.EndTime)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-center"><button type="submit" class="btn green btn-sm padding-lf-15 " data-showloading="true">查询</button></div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">客户月费日报表</span>
                </div>
                <div class="actions">
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.统计报表, Permission.导出客户月费日报表))
                    {
                        <a href="javascript:;" class="btn green export-report"><i class="fa fa-repeat"></i>导出</a>
                    }
                </div>
            </div>
            <div class="portlet-body">
                <div class="table table-scrollable">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            @if (Model.Query.StartTime.HasValue && Model.Query.EndTime.HasValue)
                            {
                            <th>客户编号</th>
                            <th>项目</th>
                            <th>姓名</th>
                                for (DateTime i = Model.Query.StartTime.Value; i <= Model.Query.EndTime.Value; i = i.AddDays(1))
                                {
                                    <th>@i.DateString()</th>
                                }
                            }
                        </tr>
                        </thead>
                        <tbody>
                        
                        @foreach (var customerMonthlyFeeDailyReport in Model.CustomerMonthlyFeeDailyReports)
                        {
                            <tr>
                                <td>@customerMonthlyFeeDailyReport.CustomerNo</td>
                                <td>@customerMonthlyFeeDailyReport.ProjectName</td>
                                <td>@customerMonthlyFeeDailyReport.CustomerName</td>
                                @foreach (var report in customerMonthlyFeeDailyReport.CustomerMonthlyFeeDailyReports)
                                {
                                    <td>@report.TotalAmount</td>
                                }
                                @if ((Model.QueryTimeDays - customerMonthlyFeeDailyReport.CustomerMonthlyFeeDailyReports.Count() > 0))
                                {
                                    for (int i = 0; i < Model.QueryTimeDays - customerMonthlyFeeDailyReport.CustomerMonthlyFeeDailyReports.Count(); i++)
                                    {
                                        <td>0.00</td>
                                    }
                                }
                            </tr>
                        }                 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.selectpicker').selectpicker({
                style: 'btn-xs',
                iconBase: 'fa',
                tickIcon: 'fa-check',
                noneSelectedText: "--未选择--"
            });

            $("select[name='Query.ProjectIds']").val(@Html.Raw(Json.Encode(Model.Query.ProjectIds)));
            $('.selectpicker').selectpicker('refresh');

            $("input[name='Query.StartTime']").datepicker({
                startDate: "2017-01-01",
                orientation: "left",
                autoclose: true,
                format: "yyyy-mm-dd"
            });

            $(document).on("click", ".export-report", function () {
                var form = $("#report-search-form");
                var projectIds = form.find("select[name='Query.ProjectIds']").val();
                var st = $("#Query_StartTime").val();
                var et = $("#Query_EndTime").val();
                var command = {
                    ProjectIds: projectIds,
                    StartTime: st,
                    EndTime: et
                };
                App.confirm(function () {
                    form.postCommand('@Url.Action("Export", "ContractLedgerReport")', command, {
                        onSuccess: function (result) {
                            window.location = "../" + result.redirect;
                        }
                    });
                });
            });
        });
    </script>
}  