@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.SystemSetting.ManagementRegion.CreateViewModel

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">系统设置管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index","ManagementRegion")">管理区域管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>管理区域新增</span>
            </li>
        </ul>
    </div>
}
<div class="full-height-content">
    <form data-ajax="true" action="@Url.Action("Create", "ManagementRegion")" method="POST" class="form-horizontal">
        <div class="portlet box green" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>管理区域信息
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="col-md-3 text-right">管理区域名称</label>
                                <div class="col-md-9">
                                    @Html.InputText(m => m.Name)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="col-md-3 text-right">排序</label>
                                <div class="col-md-9">
                                    @Html.InputText(m => m.Sort)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="col-md-3 text-right">城市</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("AreaId", Model.Cities, "--未选择--", new { @class = "form-control input-small" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="form-group">
                                <label class="col-md-3 text-right">区域负责人</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("ManagementUserId", Model.Users, "--未选择--", new { @class = "form-control input-small" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="errors alert alert-danger fade in" style="display: none;"></div>
                    <div class="form-actions">
                        <div class="text-center">
                            <button type="submit" class="btn green btn-sm padding-lf-15 ">保存</button>
                            <button type="button" class="btn yellow btn-sm padding-lf-15 " onclick="javascript: history.back(-1);">返回上一页</button>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </form>
</div>
