@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Contract.EditViewModel

<div class="row">
    <div class="col-md-12">
        <div id="cost-change-items" class="portlet protlet-border">
            <div class="portlet-title title-style">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">费用变更补充协议列表</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="th-25-percent">合同编号</th>
                                <th class="th-10-percent">开始日期</th>
                                <th class="th-10-percent">结束日期</th>
                                <th class="th-10-percent">变更类型</th>
                                <th class="th-10-percent">变更额度</th>
                                <th class="th-10-percent">备注</th>
                                <th class="th-10-percent">状态</th>
                                <th class="th-15-percent">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ContractCostChangeList)
                            {
                                <tr>
                                    <td>@item.ContractCostChangeNo</td>
                                    <td>@item.ChangeDate.DateString()</td>
                                    <td>@item.ChangeEndDate.DateString()</td>
                                    <td>@item.ChangeType</td>
                                    @if (item.ChangeType == ChangeType.比例变更)
                                    {
                                        <td>@item.ChangeRatio</td>
                                    }
                                    else
                                    {
                                        <td>@item.ChangeLimit</td>
                                    }
                                    <td>@item.Description</td>
                                    <td>@item.Status</td>
                                    <td>
                                        @if (item.Status == ContractAddtionalStatus.审批单已确认 || item.Status == ContractAddtionalStatus.已提交 || item.Status == ContractAddtionalStatus.生效 || item.Status == ContractAddtionalStatus.已审批)
                                        {
                                            if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.查看))
                                            {
                                                <a href="@Url.Action("Detail", "ContractCostChange", new {id = item.Id})" class="btn default btn-xs yellow-stripe">查看</a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
