@model PensionInsurance.Entities.Project

<div class="portlet-title title-style">
    <div class="caption">
        <i class="icon-bubble font-green-sharp"></i>
        <span class="caption-subject font-green-sharp sbold">甲方信息（养老服务机构）</span>
    </div>
</div>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <div class="form-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">项目全称</label>
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.ProjectFullName, Model.ProjectFullName ?? string.Empty)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">甲方</label>
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.CompanyName, Model.CompanyName ?? string.Empty)
                        <input type="hidden" id="ProjectId" name="ProjectId" value="@Model.Id"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">法定代表人</label>
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.CompanyCorporation, Model.CompanyCorporation ?? string.Empty)
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">联系电话</label>
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.CompanyTel, Model.CompanyTel ?? string.Empty)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">银行户名</label>
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.CompanyAccountName, Model.CompanyAccountName ?? string.Empty)
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">开户行</label>
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.CompanyAccountBank, Model.CompanyAccountBank ?? string.Empty)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">银行账号</label>
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.CompanyAccount, Model.CompanyAccount ?? string.Empty)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">电子邮箱</label>
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.Email, Model.Email ?? string.Empty)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">邮政编码</label>
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.PostCode, Model.PostCode ?? string.Empty)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-2">地址</label>
                    <div class="col-md-10">
                        @Html.LabelFor(m => m.CompanyAddress, Model.CompanyAddress ?? string.Empty)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>