@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Contract.EditViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("IndexCheckIn", "Customer")">客户信息</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>合同编辑</span>
            </li>
        </ul>
    </div>
}


<div class="tabbable-custom nav-justified">
    <div class="tab-content">
        <div id="tab_1_1_1" class="tab-pane active">
            <div class="full-height-content-body">
                <form id="edit-form" data-ajax="true" action="@Url.Action("Edit", "Contract")" method="POST" class="form-horizontal">
                    <div class="portlet light portlet-fit portlet-form protlet-border">
                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">合同基本信息</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">客户编号</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="CilentNo" value="@Model.Customer.CustomerNo" readonly />
                                                @Html.HiddenFor(m => m.CustomerId)
                                                @Html.HiddenFor(m=>m.PreviousContractId)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">合同编号</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="ContractNo" value="@Model.ContractNo" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">签署类型</label>
                                            <div class="col-md-8">
                                                @Html.InputText(x => x.SignedType, new { @class = "form-control", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.ContractId)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row">
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">合同模板</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="ContractTemplate" value="@Model.ContractTemplate" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">合同开始日期</label>
                                            <div class="col-md-8">
                                                @if (Model.PreviousContractId.HasValue)
                                                {
                                                    <input type="text" class="form-control" value="@Model.StartTime.DateString()" readonly>
                                                    @Html.HiddenFor(x => x.StartTime)
                                                }
                                                else
                                                {
                                                    @Html.InputDate(x => x.StartTime)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">合同截至时间</label>
                                            <div class="col-md-8">
                                                @if (Model.PreviousContractId.HasValue)
                                                {
                                                    <input type="text" class="form-control" value="@Model.EndTime.DateString()" readonly>

                                                    @Html.HiddenFor(x => x.EndTime)
                                                }
                                                else
                                                {
                                                    @Html.InputDate(x => x.EndTime)
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">签约销售</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="UserName" value="@Model.UserName" readonly/>
                                                @Html.HiddenFor(x => x.UserId)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">签约日期</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control form-control-inline date-picker" id="SignedOn" name="SignedOn" value="@Model.SignedOn" data-date-format="yyyy-mm-dd" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                        </div>

                        @Html.Partial("_EditProject", Model.ProjectViewModel)

                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">乙方（入住老年人）</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">乙方姓名</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.BName, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">性别</label>
                                            <div class="col-md-8">
                                                @if (Model.BCredentialType == CredentialType.居民身份证号)
                                                {
                                                    @Html.InputText(m => m.BSex, new { @class = "form-control", @readonly = true })
                                                }
                                                else
                                                {
                                                    @Html.EnumTextDropDownListFor(m => m.BSex, typeof(Sex), true)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">年龄</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.BAge)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" style="margin-top:5px;">
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                @Html.InputText(m => m.BCredentialType, new { @class = "form-control", @readonly = true })
                                            </label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.BIDcard, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">联系电话</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.BPhone)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">电子邮箱</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.BEmail)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">地址</label>
                                            <div class="col-md-10">
                                                @Html.InputText(m => m.BAddress)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">乙方监护人</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">乙方监护人姓名</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CName)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">性别</label>
                                            <div class="col-md-8">
                                                @Html.EnumTextDropDownListFor(m => m.CSex, typeof(Sex), true)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">与乙方关系</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.CRelationship, SettingType.与被送养人关系, true)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">@Html.EnumTextDropDownListFor(m => m.CCredentialType, typeof(CredentialType))</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CIDcard)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">手机号码</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CPhone)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">固定电话</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CTel)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">工作单位</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CCompany)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">电子邮箱</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CEmail)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">通讯地址</label>
                                            <div class="col-md-10">
                                                @Html.InputText(m => m.CAddress)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">邮政编码</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CPostcode)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">经常居住地地址</label>
                                            <div class="col-md-10">
                                                @Html.InputText(m => m.CliveAddress)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">乙方监护人（非自然人）名称</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CLegalPersonCompany)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">法人代表</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CLegalPersonName)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">电子邮箱</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CLegalPersonEmail)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">联系人</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CLegalPersonContactName)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">手机号码</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CLegalPersonPhone)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">固定电话</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CLegalPersonTel)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">公司地址</label>
                                            <div class="col-md-10">
                                                @Html.InputText(m => m.CLegalPersonAddress)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">邮政编码</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.CLegalPersonPostcode)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                        </div>

                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">丙方</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">丙方作为入住老人的</label>
                                            <div class="col-md-4">
                                                @Html.EnumTextDropDownListFor(x => x.CAsTypes, typeof(CAsType), new { multiple = "", @class = "selectpicker" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">丙方姓名</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DName)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">性别</label>
                                            <div class="col-md-8">
                                                @Html.EnumTextDropDownListFor(m => m.DSex, typeof(Sex), true)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">与乙方关系</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.DRelationship, SettingType.与被送养人关系, true)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                @Html.EnumTextDropDownListFor(m => m.DCredentialType, typeof (CredentialType))
                                            </label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DIDcard)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">手机号码</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DPhone)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">固定电话</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DTel)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">工作单位</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DCompany)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">电子邮箱</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DEmail)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">通讯地址</label>
                                            <div class="col-md-10">
                                                @Html.InputText(m => m.DAddress)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">邮政编码</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DPostcode)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">经常居住地地址</label>
                                            <div class="col-md-10">
                                                @Html.InputText(m => m.DliveAddress)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">丙方（非自然人）名称</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DLegalPersonCompany)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">法人代表</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DLegalPersonName)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">电子邮箱</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DLegalPersonEmail)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">联系人</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DLegalPersonContactName)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">手机号码</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DLegalPersonPhone)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">固定电话</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DLegalPersonTel)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">公司地址</label>
                                            <div class="col-md-10">
                                                @Html.InputText(m => m.DLegalPersonAddress)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">邮政编码</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DLegalPersonPostcode)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">房间信息</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row" style="margin-top: 2px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">服务地点</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="ProjectInfo.PensionAddress" value="@Model.ProjectViewModel.Project.PensionAddress" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">是否包房</label>
                                            <div class="col-md-8">
                                                <select id="IsCompartment" name="IsCompartment" class="form-control input-small">
                                                    @if (Model.IsCompartment.HasValue)
                                                    {
                                                        <option value="">--未选择--</option>
                                                        if (Model.IsCompartment.Value)
                                                        {
                                                            <option value="True" selected="selected">包房</option>
                                                            <option value="False">单床</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="True">包房</option>
                                                            <option value="False" selected="selected">单床</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="" selected="selected">--未选择--</option>
                                                        <option value="True">包房</option>
                                                        <option value="False">单床</option>
                                                    }


                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">楼栋</label>
                                            <div class="col-md-8">
                                                <select id="BuildingId" name="BuildingId" class="form-control input-small" data-default-value="@Model.BuildingId">
                                                    <option value="">--未选择--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">所属单元</label>
                                            <div class="col-md-8">
                                                <select id="UnitId" name="UnitId" class="form-control input-small" data-default-value="@Model.UnitId">
                                                    <option value="">--未选择--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">所属楼层</label>
                                            <div class="col-md-8">
                                                <select id="FloorId" name="FloorId" class="form-control input-small" data-default-value="@Model.FloorId">
                                                    <option value="">--未选择--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">房间号</label>
                                            <div class="col-md-8">
                                                <select id="RoomId" name="RoomId" class="form-control input-small" data-default-value="@Model.RoomId">
                                                    <option value="">--未选择--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">床位号</label>
                                            <div class="col-md-8">
                                                <select id="BedId" name="BedId" class="form-control input-small" data-default-value="@Model.BedId">
                                                    <option value="">--未选择--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">房型</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="RoomType" value="@Model.RoomType" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">服务项目</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row" style="margin-top: 2px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">生活能力类型</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.NursingType, SettingType.护理类型, new { @class = "form-control input-small", data_default_value = Model.NursingType }, true)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">服务包级别</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.ServicePackageLevel, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">收费信息</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div>
                                <div class="row" style="margin-top: 2px;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                押金类型
                                            </label>
                                            <div class="col-md-8">
                                                @Html.EnumTextDropDownListFor(m => m.DepositType, typeof(DepositType), new { @class = "form-control", data_default_value=Model.DepositType }, true)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">押金</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.DepositCost, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">一次性安置费</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.RelocationCost, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- BEGIN FORM-->
                            <div>
                                <div class="form-body">
                                    <div class="row" style="margin-top: 2px;">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">收费类型</label>
                                                <div class="col-md-8">
                                                    @*@Html.EnumTextDropDownListFor(m => m.ChargeType, typeof(ChargeType), new { @class = "form-control" })*@
                                                    @Html.InputText(m => m.ChargeType, new { @class = "form-control", @readonly = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8" id="Chargedec">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">非标准收费说明</label>
                                                <div class="col-md-10">
                                                    @Html.InputText(m => m.ChargeDescription)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 5px;">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">床位费</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control changeLd" id="LongTermRoomCost" name="LongTermRoomCost" value="@Model.LongTermRoomCost" data-default-value="@Model.RoomId"/>
                                                    @Html.HiddenFor(x => x.RoomCostDate)
                                                    @Html.HiddenFor(x => x.ServiceCostDate)
                                                    @Html.HiddenFor(x => x.MealsCostDate)
                                                    @Html.HiddenFor(x => x.ServicePackCostDate)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">餐费</label>
                                                <div class="col-md-8">
                                                    @Html.InputText(m => m.LongTermMealsCost, new {@class = "form-control changeLd", @readonly = true})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">基础服务费</label>
                                                <div class="col-md-8">
                                                    @Html.InputText(m => m.LongTermServiceCost, new {@class = "form-control changeLd", @readonly = true})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="row" style="margin-top: 5px;">
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">服务包费用</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control changeLd" id="LongTermServiceMonthlyCost" name="LongTermServiceMonthlyCost" value="@Model.LongTermServiceMonthlyCost.FormatString()" readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">失智服务费</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control changeLd" id="LongTermNursingCost" name="LongTermNursingCost" value="@Model.LongTermNursingCost.FormatString()" readonly=""/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">附加服务费</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control changeLd" id="LongTermAttachCost" name="LongTermAttachCost" value="@Model.LongTermAttachCost.FormatString()"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">请假退费信息</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <!--/span-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">餐费</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.RefundCost, new {@class = "form-control", @readonly = true})
                                                @Html.HiddenFor(m => m.Status)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">违约金信息</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">违约金</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.LiquidatedDamages, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-title title-style">
                            <div class="caption">
                                <i class="icon-bubble font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp sbold">老带新信息</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">推荐人</label>
                                            <div class="col-md-8">
                                                @Html.HiddenFor(m => m.CustomerAccountId)
                                                @if (Model.RecommendCustomerAccount != null)
                                                {
                                                    <input autocomplete="off" type="text" class="form-control" id="ReferralsName" name="ReferralsName" data-provide="typeahead" data-items="5" value="@Model.RecommendCustomerAccount.Customer.Name-@Model.RecommendCustomerAccount.Customer.CustomerNo-@Model.RecommendCustomerAccount.Project.Name" />
                                                }
                                                else
                                                {
                                                    <input autocomplete="off" type="text" class="form-control" id="ReferralsName" name="ReferralsName" data-provide="typeahead" data-items="5" />
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">推荐人奖励积分</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.RecommendPoint, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">被推荐人奖励积分</label>
                                            <div class="col-md-8">
                                                @Html.InputText(m => m.BonusPoint, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @Html.Partial("~/Views/TrackingResult/_TrackingResults.cshtml", Model.TrackingResult)

                    </div>
                    <div class="errors alert alert-danger fade in" style="display: none;"></div>
                    <div class="form-actions">
                        <div class="text-center">
                            @if (Model.Status == ContractStatus.新建)
                            {
                                if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.新增))
                                {
                                    <button type="submit" data-showloading="true" class="btn green btn-sm padding-lf-15">保存</button>
                                }
                                if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.新增))
                                {
                                    <a id="submitContract" href="javascript:;" class="btn green btn-sm padding-lf-15">提交</a>
                                }
                                if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.作废))
                                {
                                    <a href="javascript:;" data-command="@Model.DraftAndDeleteContract(Model.ContractId).ToJavascript()" class="btn red btn-sm padding-lf-15">作废</a>
                                }
                            }
                            <button type="button" class="btn yellow btn-sm padding-lf-15" onclick="javascript: history.back(-1);">返回上一页</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js") type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/clockface/js/clockface.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/initRoomSelect.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-typeahead.js") type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            if ($("#ChargeType").val() == '@ChargeType.标准收费.ToString()') {
                $("#Chargedec").hide();
                $("#LongTermRoomCost").attr("readonly", "readonly");
                //$("#LongTermAttachCost").attr("readonly", "readonly");
            }
            @*$("#ChargeType").on("change",
                function(e) {
                    var $this = $(this);
                    if ($this.val() == '@ChargeType.标准收费.ToString()') {
                        $("#Chargedec").hide();
                        $("#ChargeDescription").val("");
                        $("#LongTermRoomCost").attr("readonly", "readonly");
                        $("#LongTermAttachCost").attr("readonly", "readonly");
                    } else if ($this.val() == '@ChargeType.非标准收费.ToString()') {
                        $("#Chargedec").show();
                        $("#LongTermRoomCost").removeAttr("readonly");
                        $("#LongTermAttachCost").removeAttr("readonly");
                    }
                });*@

            var referralsName = $("#ReferralsName");
            referralsName.blur(function() {
                if (referralsName.val() == null || referralsName.val() == '' || referralsName.val() == undefined) {
                    $("#CustomerAccountId").val(0);
                    $("input[name=RecommendPoint]").val(0);
                    $("input[name=BonusPoint]").val(0);
                }
            });
            referralsName.typeahead({
                ajax: {
                    url: '@Url.Action("GetCustomers", "CustomerAccount")',
                    timeout: 300, // 延时
                    method: 'post',
                    triggerLength: 1, // 输入几个字符之后，开始请求
                    loadingClass: null, // 加载数据时, 元素使用的样式类
                    // preDispatch: null,　　　　　　　　// 发出请求之前，调用的预处理方法
                    //preProcess: null　　　　　　　　　// Ajax 请求完成之后，调用的后处理方法
                    preDispatch: function(query) {
                        var para = { keyword: referralsName.val() };
                        para.query = query;
                        return para;
                    },
                    preProcess: function(result) {
                        return result;
                    }
                },
                display: "Name", // 默认的对象属性名称为 name 属性
                val: "CId", // 默认的标识属性名称为 id 属性
                items: 5, // 最多显示项目数量
                itemSelected: function(item, val, text) { // 当选中一个项目的时候，回调函数
                    //console.info(item);
                    $("#CustomerAccountId").val(val);
                    var projectSelector = $("select[id=ProjectId]");
                    if (projectSelector.val() !== "") {
                        $.get("/Project/Detail/" + projectSelector.val(), function (data) {
                            $("input[name=RecommendPoint]").val(data.RecommendPoint);
                            $("input[name=BonusPoint]").val(data.BonusPoint);
                            });
                        
                    } else {
                        $("input[name=RecommendPoint]").val(0);
                        $("input[name=BonusPoint]").val(0);
                    }
                }
            });
            $('.selectpicker').selectpicker({
                style: 'btn-xs',
                iconBase: 'fa',
                tickIcon: 'fa-check',
                noneSelectedText: "--未选择--"
            });
            $("select[name='CAsTypes']").val(@Html.Raw(Json.Encode(Model.CAsTypes?.Select(x => x.ToString()))));
            $('.selectpicker').selectpicker('refresh');
        });

        var funcs = {
            getIds: function() {
                var ids = [];
                var checkboxes = $(".checkboxes");
                $.each(checkboxes,
                    function(i, item) {
                        var chk = $(item);
                        if (chk.is(":checked")) {
                            var id = chk.val();
                            ids.push(id);
                        }
                    });
                return ids;
            },
            updateButtons: function() {
                var checked = $(".checkboxes:checked").length > 0;
                var buttons = $(".batch-button");
                buttons.prop("disabled", !checked);
                if (checked) {
                    buttons.removeClass("disabled");
                } else {
                    buttons.addClass("disabled");
                }
            }
        };

        //指定时间添加多少月
        function addmulMonth(dtstr, n) {
            var s = dtstr.split("-");
            var yy = parseInt(s[0]);
            var mm = parseInt(s[1]) - 1;
            var dd = parseInt(s[2]) - 1;
            var dt = new Date(yy, mm, dd);
            dt.setMonth(dt.getMonth() + n);
            if ((dt.getYear() * 12 + dt.getMonth()) > (yy * 12 + mm + n)) {
                dt = new Date(dt.getYear(), dt.getMonth(), 0);
            }
            return dt;
        }

        $(document).ready(function() {
            var bCredentialType = $("#BCredentialType").val();
            if (bCredentialType == "@CredentialType.居民身份证号") {
                $("#BAge").attr("readonly", "readonly");
                $("select[name='BSex']").attr("readonly", "readonly");
            }

            $("#CIDcard").blur(function() {
                var idCard = $("#CIDcard").val();
                var cCredentialType = $("select[name='CCredentialType']").val();
                if (cCredentialType == "@CredentialType.居民身份证号" && idCard != "") {
                    $.get("@Url.Action("GetSex", "Contract")" + "?idCard=" + idCard,
                        function(result) {
                            if (result.success) {
                                $("select[name='CSex']").val(result.Sex);
                            }
                        });
                }
            });

            $("#DIDcard").blur(function() {
                var idCard = $("#DIDcard").val();
                var dCredentialType = $("select[name='DCredentialType']").val();
                if (dCredentialType == "@CredentialType.居民身份证号" && idCard != "") {
                    $.get("@Url.Action("GetSex", "Contract")" + "?idCard=" + idCard,
                        function(result) {
                            if (result.success) {
                                $("select[name='DSex']").val(result.Sex);
                            }
                        });
                }
            });
        });

        $(document).ready(function() {

            $("#DepositType").on("change",
                function() {
                    var $this = $(this);
                    var projectSelector = $("select[id=ProjectId]");
                    if (projectSelector.val() !== "") {
                        $.get("/Project/Detail/" + projectSelector.val(), function (data) {
                            if ($this.val() == '@DepositType.第一人押金.ToString()') {
                                $("#DepositCost").val(data.FirstDeposit);
                            } else if ($this.val() == '@DepositType.第二人押金.ToString()') {
                                $("#DepositCost").val(data.SecondDeposit);
                            } else {
                                $("#DepositCost").val(0);
                            }
                        });
                        
                    } else {
                        $("#DepositCost").val(0);
                    }
                });
            //合同类型
            $("#StartTime").datepicker().on("changeDate",
                function(e) {
                    var startTime = $("#StartTime").datepicker('getDate');

                    if (startTime) {
                        var sTime = $("#StartTime").val();
                        var endTime = addmulMonth(sTime, 12);
                        $("#EndTime").datepicker("setDate", endTime);

                        var customerid = $("#CustomerId").val();
                        $.get("@Url.Action("GetSignedType", "Contract")" + "?dt=" + sTime + "&customerId=" + customerid,
                            function(result) {
                                $("#SignedType").val(result.SignedType);
                                var projectSelector = $("select[id=ProjectId]");
                                if (projectSelector.val() !== "") {
                                    $.get("/Project/Detail/" + projectSelector.val(), function (data) {
                                        if (result.SignedType == '@SignedType.续签') {
                                            $("input[name=RelocationCost]").val(0);
                                        }
                                        if (result.SignedType == '@SignedType.新签') {
                                            $("input[name=RelocationCost]").val(data.RelocationCost);
                                        }
                                    });
                                }
                            });
                    }
                    $("#StartTime").datepicker('hide');
                });

            // 选择服务项目
            $("#serviceChoose").click(function() {
                var projectServicePackCatalogSelector = $('#projectServicePackCatalogSelector');
                projectServicePackCatalogSelector.modal('show');
            });

            $(".group-checkable").change(function() {
                var checkAll = $(this);
                var checked = checkAll.is(":checked");
                checkAll.closest(".table").find(".checkboxes").prop("checked", checked).uniform("refresh");
                funcs.updateButtons();
            });

            $(".checkboxes").change(function() {
                funcs.updateButtons();
            });

            $("#submitContract").on("click",
                function() {
                    App.confirm(function() {
                        $("#edit-form").attr("action", '@Url.Action("SubmitContract", "Contract")').submit();
                        $("#edit-form").attr("action", '@Url.Action("Edit")');
                        },
                        function() {

                        });
                });

            // 打印按钮
            $("#printContract").click(function() {
                var contractId = @Model.ContractId;
                var url = '@Url.Action("PrintContract", "Contract")';
                var command = {
                    ContractId: contractId
                };
                postCommand(url, command);
                return false;
            });

            initRoomSelect($("#PreviousContractId").val(),
                "#IsCompartment",
                "#BuildingId",
                "#UnitId",
                "#FloorId",
                "#RoomId",
                "#BedId",
                "#ProjectId",false);
        });
    </script>
}
