@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common;
@model PensionInsurance.Web.Views.Contract.IndexViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" type="text/css" />
}
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>合同管理</span>
            </li>
        </ul>
    </div>
}
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>合同管理 - 查询条件
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Index", "Contract")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户姓名</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.Query.ConsultingName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">签署类型</label>
                                    <div class="col-md-9">
                                        @Html.EnumTextDropDownListFor(m => m.Query.SignedType, typeof (SignedType), true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">合同状态</label>
                                    <div class="col-md-9">
                                        @Html.EnumTextDropDownListFor(x => x.Query.Status, typeof (ContractStatus), new {multiple = "", @class = "selectpicker" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">所属项目</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(x => x.Query.ProjectIds, Model.ProjectList, new {multiple = "", @class = "selectpicker" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">起始时间</label>
                                    <div class="col-md-9">
                                        <div class="input-group date-picker input-daterange" data-date="2016-05-05" data-date-format="yyyy-mm-dd">
                                            @Html.InputText(m => m.Query.FromStartTime)
                                            <span class="input-group-addon"> 到 </span>
                                            @Html.InputText(m => m.Query.ToStartTime)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">终止时间</label>
                                    <div class="col-md-9">
                                        <div class="input-group date-picker input-daterange" data-date="2016-05-05" data-date-format="yyyy-mm-dd">
                                            @Html.InputText(m => m.Query.FromEndTime)
                                            <span class="input-group-addon"> 到 </span>
                                            @Html.InputText(m => m.Query.ToEndTime)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">签约销售</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(x => x.Query.SaleUserIds, Model.SaleUserList, new { multiple = "", @class = "selectpicker" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">附件</label>
                                    <div class="col-md-9">
                                        <select name="Query.IsLockedAttachment" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            <option value="True" @(Model.Query.IsLockedAttachment.HasValue && Model.Query.IsLockedAttachment.Value ? "selected=selected" : "")>已确认</option>
                                            <option value="False" @(Model.Query.IsLockedAttachment.HasValue && !Model.Query.IsLockedAttachment.Value ? "selected=selected" : "")>未确认</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">押金</label>
                                    <div class="col-md-9">
                                        <select name="Query.IsDepositPaid" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            <option value="True" @(Model.Query.IsDepositPaid.HasValue && Model.Query.IsDepositPaid.Value ? "selected=selected" : "")>已付款</option>
                                            <option value="False" @(Model.Query.IsDepositPaid.HasValue && !Model.Query.IsDepositPaid.Value ? "selected=selected" : "")>未付款</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-center"><button type="submit" class="btn green btn-sm padding-lf-15 " data-showloading="true">查询</button></div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">合同信息列表</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            @*@if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.合同账单生成))
                            {
                                <a id="calculateContractBill" href="javascript:;" class="btn green btn-sm">
                                    <i class="fa fa-dollar" aria-hidden="true"></i>
                                    生成账单
                                </a>
                            }*@
                        </div>
                    </div>
                </div>
                <div class="table table-scrollable">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="group-checkable" />
                            </th>
                            <th>序号</th>
                            <th>合同编号</th>
                            <th>客户姓名</th>
                            <th>归属项目</th>
                            <th>起始时间</th>
                            <th>终止时间</th>
                            <th>签约销售</th>
                            <th>附件</th>
                            <th>押金</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Contractlist)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" class="checkboxes" value="@item.ContractId" />
                                </td>
                                <td>@Model.Contractlist.RowNumberOf(item)</td>
                                <td style="white-space: nowrap;">@item.ContractNo</td>
                                <td>@item.CustomerName</td>
                                <td>@item.ProjectName</td>
                                <td style="white-space: nowrap;">@item.StartTime.DateString()</td>
                                <td style="white-space: nowrap;">@item.GetFixedActualEndTime().DateString()</td>
                                <td>@item.SaleUserName</td>
                                <td>@(item.IsLockedAttachment ? "已确认" : "未确认" )</td>
                                @if (item.IsDepositPaid)
                                {
                                    <td>已付款</td>
                                }
                                else
                                {
                                    <td>未付款</td>
                                }
                                <td>@item.ContractStatus</td>
                                <td>
                                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.查看))
                                    {
                                        <a target="_blank" href="@Url.Action("Detail", "Contract", new {id = item.ContractId})" class="btn default btn-xs green-stripe">查看</a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
                @Html.Partial("_Pagination", Model.Contractlist)
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script type="text/javascript">
        var funcs = {
            getContractIds: function () {
                var ids = [];
                var checkboxes = $(".checkboxes");
                $.each(checkboxes, function (i, item) {
                    var chk = $(item);
                    if (chk.is(":checked")) {
                        var id = chk.val();

                        ids.push(id);
                    }
                });

                return ids;
            },
            updateButtons: function () {
                var checked = $(".checkboxes:checked").length > 0;
                var buttons = $(".batch-button");
                buttons.prop("disabled", !checked);
                if (checked) {
                    buttons.removeClass("disabled");
                } else {
                    buttons.addClass("disabled");
                }
            }
        };

        $(document).ready(function () {
            $(".group-checkable").change(function () {
                var checkAll = $(this);
                var checked = checkAll.is(":checked");
                checkAll.closest(".table").find(".checkboxes").prop("checked", checked).uniform("refresh");
                funcs.updateButtons();
            });

            $(".checkboxes").change(function () {
                funcs.updateButtons();
            });

            $(document).on("click", "#calculateContractBill", function () {
                var command = {
                    ContractIds: funcs.getContractIds()
                };
                
                if (command.ContractIds.length == 0) {
                    App.alert({
                        content: "<h3>请先选择合同！</h3>"
                    });
                    return;
                }

                $(this).postCommand('@Url.Action("CalculateContractBill", "Contract")', command, {
                    onSuccess: function (data) {
                        App.alert({
                            content: "<h3>共找到" + data.ContractCount
                                + "个合同<br/>共生成: " + data.BillCount + "个合同账单<br/>共重新计算：" + data.RecalculateBillCount + "个合同账单<br/></h3>",
                            confirm: function() {
                                window.location.reload();
                            }
                        });
                        return false;
                    }
                });
            });

            $(document).on("click", ".check-out", function () {
                $("#check-out-form input[name='Description']").val("");
                $("#CheckOutDate").datepicker("setDate", new Date());

                var data = $(this).data("item");
                $("#check-out-modal").modal("show");
                $("#ContractId").val(data.ContractId);
            });

            $('.selectpicker').selectpicker({
                style: 'btn-xs',
                iconBase: 'fa',
                tickIcon: 'fa-check',
                noneSelectedText: "--未选择--"
            });

            $("select[name='Query.ProjectIds']").val(@Html.Raw(Json.Encode(Model.Query.ProjectIds)));
            $("select[name='Query.SaleUserIds']").val(@Html.Raw(Json.Encode(Model.Query.SaleUserIds)));
            $("select[name='Query.Status']").val(@Html.Raw(Json.Encode(Model.Query.Status?.Select(x=>x.ToString()))));
            $('.selectpicker').selectpicker('refresh');
        });
    </script>
}