@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.InvestmentProjectLand.EditViewModel
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>地块信息</span>
            </li>
        </ul>
    </div>
}
<div class="full-height-content full-height-content-scrollable">
    <div class="full-height-content-body">
        <form data-ajax="true" action="@Url.Action("Edit", "InvestmentProjectLand")" method="POST" class="form-horizontal">
            <div class="portlet box green" style="margin-top: 10px;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>地块编辑
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">地块名称</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.LandName)
                                    </div>
                                    <div class="col-md-3">
                                        <input type="hidden" name="InvestmentProjectId" value="@Model.InvestmentProjectId"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">分期</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.Period)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">用地性质</label>
                                    <div class="col-md-9">
                                        @Html.InputDropDownEnum(m=>m.LandCharacteristics,typeof(InvestmentProjectLandCharacteristics))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">建设用地面积</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.BuildingLandAcreage)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">建筑面积</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.BuildingAcreage)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">地上建筑面积</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.BuildingAcreageGround)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">地下建筑面积</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.BuildingAcreageUnderGround)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">容积率</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.Plotratio)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="errors alert alert-danger fade in" style="display: none;"></div>
                        <div class="form-actions">
                            <div class="text-center">
                                <button type="submit" class="btn green btn-sm padding-lf-15 ">保存</button>
                                <button type="button" class="btn yellow btn-sm padding-lf-15 " onclick="javascript: history.back(-1);">返回上一页</button>
                            </div>
                        </div>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
