@using PensionInsurance.Entities
@using PensionInsurance.Shared
@model PensionInsurance.Web.Views.Sales.SalesRoomChart.IndexViewModel
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>销控图</span>
            </li>
        </ul>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">销控图</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>项目名称</th>
                                <th>房间数</th>
                                <th>床位数</th>
                                <th>空余房间数</th>
                                <th>空余床位数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.SalesRoomChartDetails)
                        {
                            <tr>
                                <td>@item.ProjectName</td>
                                <td>@item.RoomCount</td>
                                <td>@item.BedCount</td>
                                <td>@item.UsableRoomCount</td>
                                <td>@item.UsableBedCount</td>
                                <td>
                                    <a data-showloading="true" href="@Url.Action("Detail", "SalesRoomChart", new { id=item.ProjectId })" class="btn default btn-xs blue-stripe">查看</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>