@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.CustomerAccountCheckOutRefund.EditViewModel
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-green-sharp"></i>
            <span class="caption-subject font-green-sharp sbold">客户信息</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">客户名称</label>
                    <div class="col-md-9">
                        @Model.RefundInfo.CustomerAccount.Customer.Name
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">客户编号</label>
                    <div class="col-md-9">
                        @Model.RefundInfo.CustomerAccount.Customer.CustomerNo
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">现金余额</label>
                    <div class="col-md-9">
                        @Model.RefundInfo.CustomerAccount.Balance
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">所属项目</label>
                    <div class="col-md-9">
                        @Model.RefundInfo.CustomerAccount.Project.Name
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet light bordered">
    <div class="portlet-title title-style">
        <div class="caption">
            <i class="icon-bubble font-green-sharp"></i>
            <span class="caption-subject font-green-sharp sbold">客户退款信息</span>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="form-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">收款人姓名1</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundName</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">收款人姓名2</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundName2</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">收款人姓名3</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundName3</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">收款人卡号1</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundAccountNo</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">收款人卡号2</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundAccountNo2</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">收款人卡号3</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundAccountNo3</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">收款人银行1</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundBank</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">收款人银行2</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundBank2</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">收款人银行3</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundBank3</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">退款金额1</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundMoney</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">退款金额2</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundMoney2</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3">退款金额3</label>
                    <div class="col-md-9">
                        <label>@Model.RefundInfo.RefundMoney3</label>
                    </div>
                </div>
            </div>
            @Html.Hidden("ContractRefundId", Model.ContractRefundId)
        </div>
    </div>
    @if (Model.RefundInfo.RefundStatus == RefundStatus.已审批 || Model.RefundInfo.RefundStatus == RefundStatus.已上传已审批 || Model.RefundInfo.RefundStatus == RefundStatus.已完成 || Model.RefundInfo.RefundStatus == RefundStatus.待退款)
    {
        <div class="portlet-title title-style">
            <div class="caption">
                <i class="icon-bubble font-green-sharp"></i>
                <span class="caption-subject font-green-sharp sbold">证明文件</span>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
                @if (Model.RefundInfo.RefundType == RefundType.转院退款)
                {
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3">转院协议</label>
                            <div class="col-md-9">
                                @if (!string.IsNullOrWhiteSpace(Model.RefundInfo.AgreementFile))
                                {
                                    <div class="col-md-6">
                                        <a href="@Url.Content(Model.RefundInfo.AgreementFile)" target="_blank">@Model.RefundInfo.AgreementFileName</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6">
                                        暂无上传转院协议附件
                                    </div>
                                }
                                @if (Model.CurrentWorkFlowStep != null && Model.CurrentWorkFlowStep.WorkflowStepCategory == WorkflowStepCategory.扫描件上传 && Model.CurrentWorkFlowStep.User == WebAppContext.Current.User)
                                {
                                    <a target="_blank" href="javascript:;" data-command="@Model.PrintAgreement(Model.ContractRefundId).ToJavascript()" class="col-md-3 padding-lf-15">打印</a>
                                    <a id="uploadAgreementShow" href="javascript:;" class="col-md-3 padding-lf-15">上传</a>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label col-md-3">退款确认单</label>
                        <div class="col-md-9">
                            @if (!string.IsNullOrWhiteSpace(Model.RefundInfo.RefundReceiptFile))
                            {
                                <div class="col-md-6">
                                    <a href="@Url.Content(Model.RefundInfo.RefundReceiptFile)" target="_blank">@Model.RefundInfo.RefundReceiptFileName</a>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    暂无上传退款确认单附件
                                </div>
                            }
                            @if (Model.CurrentWorkFlowStep != null && Model.CurrentWorkFlowStep.WorkflowStepCategory == WorkflowStepCategory.扫描件上传 && Model.CurrentWorkFlowStep.User == WebAppContext.Current.User)
                            {
                                <a target="_blank" href="javascript:;" data-command="@Model.PrintRefund(Model.ContractRefundId).ToJavascript()" class="col-md-3 padding-lf-15">打印</a>
                                <a id="uploadShow" href="javascript:;" class="col-md-3 padding-lf-15">上传</a>
                            }
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }
    @if (Model.CurrentWorkFlowStep != null)
    {
        @Html.Partial("_Approval", Model)
    }
    else
    {
        @Html.Partial("~/Views/TrackingResult/_TrackingResults.cshtml", Model.TrackingResult)
    }
    <div class="errors alert alert-danger fade in" style="display: none;"></div>
    <div class="form-actions margin-top-20">
        <div class="text-center">
            @if (Model.RefundInfo.RefundStatus == RefundStatus.待审批 && Model.CurrentWorkFlowStep != null && Model.CurrentWorkFlowStep.User == WebAppContext.Current.User)
            {
                <a href="javascript:;" id="RefundApproval" class="btn green btn-sm padding-lf-15">提交</a>
            }
            @if (Model.RefundInfo.RefundStatus == RefundStatus.已审批 && Model.CurrentWorkFlowStep != null && Model.CurrentWorkFlowStep.WorkflowStepCategory == WorkflowStepCategory.扫描件上传 && Model.CurrentWorkFlowStep.User == WebAppContext.Current.User)
            {
                <a href="javascript:;" id="approvalUpload" class="btn green btn-sm padding-lf-15">提交</a>
            }
            @if (Model.RefundInfo.RefundStatus == RefundStatus.已上传已审批 && Model.CurrentWorkFlowStep != null && Model.CurrentWorkFlowStep.WorkflowStepCategory == WorkflowStepCategory.扫描件确认 && Model.CurrentWorkFlowStep.User == WebAppContext.Current.User)
            {
                <a href="javascript:;" id="LockedAttachmentRefund" class="btn green btn-sm padding-lf-15">提交</a>
            }
            @if (Model.RefundInfo.RefundStatus == RefundStatus.待退款 && Model.CurrentWorkFlowStep != null && Model.CurrentWorkFlowStep.WorkflowStepCategory == WorkflowStepCategory.退款 && Model.CurrentWorkFlowStep.User == WebAppContext.Current.User)
            {
                <a href="javascript:;" id="RefundSave" class="btn green btn-sm padding-lf-15">提交</a>
            }
            <a href="@Url.Action("Detail", "Customer", new {customerAccountId = Model.RefundInfo.CustomerAccount.Id})" class="btn yellow btn-sm padding-lf-15">返回</a>
        </div>
    </div>
</div>

<div class="modal small fade" id="uploadAgreementInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>转院协议附件上传
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="fileuAgreementpload" action="@Url.Action("UploadAgreement", "CustomerAccountCheckOutRefund", new {ContractRefundId = Model.ContractRefundId,CurrentWorkflowStepId=Model.CurrentWorkflowStepId})" method="POST" enctype="multipart/form-data">
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                            <div class="form-body">
                                                <div class="row">
                                                    <!--/span-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <div class="input-group input-large">
                                                                    <div class="form-control uneditable-input input-fixed input-small" data-trigger="fileinput">
                                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                        <span class="fileinput-filename"> </span>
                                                                    </div>
                                                                    <span class="input-group-addon btn default btn-file">
                                                                        <span class="fileinput-new">选择文件</span>
                                                                        <span class="fileinput-exists">替换</span>
                                                                        <input type="file" name="file">
                                                                    </span>
                                                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">删除</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="text-center">
                                                <button class="btn green btn-sm padding-lf-15">上传</button>
                                                <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">返回</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal small fade" id="uploadInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>退款确认单附件上传
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="fileupload" action="@Url.Action("Upload", "CustomerAccountCheckOutRefund", new {ContractRefundId = Model.ContractRefundId,CurrentWorkflowStepId=Model.CurrentWorkflowStepId})" method="POST" enctype="multipart/form-data">
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                            <div class="form-body">
                                                <div class="row">
                                                    <!--/span-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <div class="input-group input-large">
                                                                    <div class="form-control uneditable-input input-fixed input-small" data-trigger="fileinput">
                                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                        <span class="fileinput-filename"> </span>
                                                                    </div>
                                                                    <span class="input-group-addon btn default btn-file">
                                                                        <span class="fileinput-new">选择文件</span>
                                                                        <span class="fileinput-exists">替换</span>
                                                                        <input type="file" name="file">
                                                                    </span>
                                                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">删除</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="text-center">
                                                <button class="btn green btn-sm padding-lf-15">上传</button>
                                                <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">返回</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#approvalUpload").on("click", function() {
            var url = '@Url.Action("ApprovalUpload", "CustomerAccountCheckOutRefund")';
            var contractRefundId=@Model.ContractRefundId;
            var result = $("input[name='Result']:checked").val();
            var description = $('#Description').val();
            var currentWorkflowStepId=@Model.CurrentWorkflowStepId;
            if (typeof  result == "undefined") {
                result = "";
            }
            var command = {
                ContractRefundId:contractRefundId,
                Result:result,
                Description:description,
                CurrentWorkflowStepId:currentWorkflowStepId
            };
            postCommand(url, command, $(this));
            return false;
        });

        //确认保存
        $("#LockedAttachmentRefund").on("click", function () {
            var url = '@Url.Action("LockedAttachment", "CustomerAccountCheckOutRefund")';
            var contractRefundId=@Model.ContractRefundId;
            var result = $("input[name='Result']:checked").val();
            var description = $('#Description').val();
            var currentWorkflowStepId=@Model.CurrentWorkflowStepId;
            if (typeof  result == "undefined") {
                result = "";
            }
            var command = {
                ContractRefundId:contractRefundId,
                Result:result,
                Description:description,
                CurrentWorkflowStepId:currentWorkflowStepId
            };
            postCommand(url, command, $(this));
            return false;
        });
        $("#RefundApproval").on("click", function () {
            var url = '@Url.Action("Approval", "CustomerAccountCheckOutRefund")';
            var contractRefundId=@Model.ContractRefundId;
            var result = $("input[name='Result']:checked").val();
            var description = $('#Description').val();
            var currentWorkflowStepId=@Model.CurrentWorkflowStepId;
            if (typeof  result == "undefined") {
                result = "";
            }
            var command = {
                ContractRefundId:contractRefundId,
                Result:result,
                Description:description,
                CurrentWorkflowStepId:currentWorkflowStepId
            };
            postCommand(url, command, $(this));
            return false;
        });

        //退款保存
        $("#RefundSave").on("click", function () {
            var url = '@Url.Action("DefrayCustomerMoneyManually", "CustomerAccountCheckOutRefund")';
            var contractRefundId=@Model.ContractRefundId;
            var result = $("input[name='Result']:checked").val();
            var description = $('#Description').val();
            var currentWorkflowStepId=@Model.CurrentWorkflowStepId;
            if (typeof result == "undefined") {
                result = "";
            }

            //$("#actual-refund-date-form").modal("show");

            App.confirm(function() {
                var command = {
                    ContractRefundId:contractRefundId,
                    Result:result,
                    Description:description,
                    CurrentWorkflowStepId:currentWorkflowStepId
                };
                postCommand(url, command, $(this));
            },
                function() {

                });
        });
        // 附件上传弹出层
        $("#uploadShow").click(function () {
            var uploadInfo = $('#uploadInfo');
            uploadInfo.modal('show');
            clearFormValues("uploadInfo");
        });
        // 协议上传弹出层
        $("#uploadAgreementShow").click(function () {
            var uploadInfo = $('#uploadAgreementInfo');
            uploadInfo.modal('show');
            clearFormValues("uploadInfo");
        });

    });
</script>