@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common;
@model PensionInsurance.Web.Views.SystemSetting.RoomCost.IndexViewModel
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">系统设置管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>房型费用管理管理</span>
            </li>
        </ul>
    </div>
}
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>房型费用查询
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Index","RoomCost")" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">

                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">房型名称</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.Query.Name)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">项目</label>
                                    <div class="col-md-9">
                                        @Html.InputDropDown(x => Model.Query.ProjectId, Model.Projects, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-center">
                            <button type="submit" class="btn green btn-sm padding-lf-15 ">查询</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">房型费用列表</span>
                </div>
                <div class="actions">
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.房型费用管理, Permission.新增))
                    {
                        <a href="@Url.Action("Create", "RoomCost")" class="btn green">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            新增
                        </a>
                    }
                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>房型名称</th>
                                <th>长期价格</th>
                                <th>短期价格</th>
                                <th>是否可用</th>
                                <th>时间版本</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.RoomCosts)
                            {
                                <tr>
                                    <td>@Model.RoomCosts.RowNumberOf(item)</td>
                                    <td>@item.RoomType.Project.Name - @item.RoomType.Name</td>
                                    <td>@item.LongTermCost</td>
                                    <td>@item.ShortTermCost</td>
                                    <td>
                                        @if (item.IsEnabled)
                                    {
                                        <span>是</span>
                                    }
                                    else
                                    {
                                        <span>否</span>
                                    }
                                </td>
                                <td>@item.EnabledTime</td>
                                <td>
                                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.房型管理, Permission.编辑))
                                    {
                                        <a href="@Url.Action("Edit", "RoomCost", new {id = item.Id})" class="btn default btn-xs yellow-stripe">编辑</a>
                                    }
                                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.房型管理, Permission.删除))
                                    {
                                        <a href="javascript:;" data-command="@Model.DeleteCommand(item.Id).ToJavascript()" class="btn default btn-xs red-stripe">删除</a>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Partial("_Pagination", Model.RoomCosts)
                </div>
            </div>
        </div>
    </div>
</div>