@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Finance.ReliefBill.DetailViewModel
@section Breadcrumb{

}
<div>
    <div class="full-height-content-body">
        <div class="portlet light portlet-fit portlet-form protlet-border">
            <div class="portlet-title title-style">
                <div class="caption">
                    <i class="icon-bubble font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold">账单减免信息</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    <div class="row" style="margin-top: 2px;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">客户姓名</label>
                                <div class="col-md-9">
                                    @Model.CustomerName
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">减免账单</label>
                                <div class="col-md-8">
                                    @Model.PreCustomerBill.BillDate
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2px;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">床位费</label>
                                <div class="col-md-9">
                                    @Model.CustomerBill.RoomCost
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">餐费</label>
                                <div class="col-md-8">
                                    @Model.CustomerBill.MealsCost
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">打包服务费</label>
                                <div class="col-md-8">
                                    @Model.CustomerBill.PackageServiceCost
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 2px;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">增值服务费</label>
                                <div class="col-md-9">
                                    @Model.CustomerBill.IncrementCost
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">合计减免金额</label>
                                <div class="col-md-8">
                                    @(-Model.CustomerBill.ActualPaymentCost)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">不计入减免额度</label>
                                <div class="col-md-8">
                                    @(Model.CustomerBill.IsIncluded ? "是" : "否")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2px;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">客户本年累计减免金额</label>
                                <div class="col-md-9">
                                    @Model.CustomerCurrentYearDiscount
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">项目本年累计减免金额</label>
                                <div class="col-md-8">
                                    @Model.ProjectYearDiscount
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2px;">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label col-md-8">说明</label>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Model.CustomerBill.SpecialDiscountDescription
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.CustomerBill.ReliefFileName))
            {
                <div class="portlet-title title-style">
                    <div class="caption">
                        <i class="icon-bubble font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp sbold">账单减免附件</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-12">
                                <a href="@Url.Content(Model.CustomerBill.ReliefFilePath)" target="_blank">@Model.CustomerBill.ReliefFileName</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if(Model.CurrentWorkFlowStep != null)
            {
                @Html.Partial("~/Views/Finance/ReliefBill/_Approval.cshtml", Model)
            }
            else
            {
                @Html.Partial("~/Views/TrackingResult/_TrackingResults.cshtml", Model.TrackingResult)
            }
        </div>
        <div class="errors alert alert-danger fade in" style="display: none;"></div>
        <div class="form-actions">
            <div class="text-center">
                @if (Model.CustomerBill.Status == BillStatus.待审批 && (Model.CurrentWorkFlowStep != null && Model.CurrentWorkFlowStep.User == WebAppContext.Current.User))
                {
                    <a href="javascript:;" id="ReliefBillApproval" class="btn green btn-sm padding-lf-15">提交</a>
                }
                <a href="@Url.Action("Detail","Customer", new {customerAccountId=Model.CustomerBill.Contract.CustomerAccount.Id})" class="btn yellow btn-sm padding-lf-15">返回</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //审批保存
    $("#ReliefBillApproval").on("click", function() {
        $("#Description").text();
        var url = '@Url.Action("Approval", "ReliefBill")';
        var reliefBillId = @Model.CustomerBill.Id;
        var result = $("input[name='Result']:checked").val();
        var description = $('#Description').val();
        var currentWorkflowStepId = @Model.CurrentWorkflowStepId;
        if (typeof  result == "undefined") {
            result = "";
        }
        var command = {
            ReliefBillId: reliefBillId,
            Result: result,
            Description: description,
            CurrentWorkflowStepId: currentWorkflowStepId
        };
        postCommand(url, command, $(this));
        return false;
    });
</script>