@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Finance.ReliefBill.EditViewModel
@section Breadcrumb{

}
<div class="full-height-content-body">
        <form id="ReliefBillForm"  data-ajax="true" action="@Url.Action("Submit", "ReliefBill")" method="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="portlet light portlet-fit portlet-form protlet-border">
                <div class="portlet-title title-style">
                    <div class="caption">
                        <i class="icon-bubble font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp sbold">账单减免信息</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户姓名</label>
                                    <div class="col-md-9">
                                        @Model.CustomerAccount.Customer.Name
                                        @Html.HiddenFor(m => m.Id)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">选择账单</label>
                                    <div class="col-md-8">
                                        <select name="BillId" class="form-control input-small">
                                            <option value="">未选择</option>
                                            @foreach (var item in Model.CustomerBills)
                                            {
                                                if (item.Id == Model.BillId)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.BillDate</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.BillDate</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@*最大减免金额*@</label>
                                    <div class="col-md-8">
                                        @*@Html.InputText(m => m.MaxReliefCost, new { @class = "form-control", @readonly = true })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">床位费</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.RoomCost, new { @class = "form-control", @onchange = "changeActualPaymentCost();" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">餐费</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.MealsCost, new { @class = "form-control", @onchange = "changeActualPaymentCost();" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">打包服务费</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.PackageServiceCost, new { @class = "form-control", @onchange = "changeActualPaymentCost();" })
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">增值服务费</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.IncrementCost, new { @class = "form-control", @onchange = "changeActualPaymentCost();" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">合计减免金额</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.ActualPaymentCost ,new{ @class = "form-control",  @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <span class=""><input name="IsIncluded" value="true" @(Model.IsIncluded == true ? "checked='checked'" : "") type="checkbox"></span>不计入减免额度
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户本年累计减免金额</label>
                                    <div class="col-md-9">
                                        @Html.InputText(m => m.CustomerCurrentYearDiscount, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">项目本年累计减免金额</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.ProjectYearDiscount, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label col-md-8">附件</label>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group input-group-sm ">
                                        <div class="form-control uneditable-input input-fixed input-sm" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                            <span class="fileinput-filename">@Model.FilePath </span>
                                        </div>
                                        <span class="input-group-addon btn default btn-file">
                                            <span class="fileinput-new"> 选择 </span>
                                            <span class="fileinput-exists"> 替换 </span>
                                            <input type="file" name="file">
                                        </span>
                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> 删除 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label col-md-8">说明</label>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea class="form-control" style="min-height: 75px;" name="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="errors alert alert-danger fade in" style="display: none;"></div>
            <div class="form-actions">
                <div class="text-center">
                    
                    <a href="javascript:;" data-command="@Model.DraftAndDelete(Model.Id).ToJavascript()" class="btn red btn-sm padding-lf-15">作废</a>

                    @*<a id="submitReliefBill" class="btn green btn-sm padding-lf-15 ">提交</a>*@
                    <button type="submit" class="btn green btn-sm padding-lf-15 ">提交</button>
                    <a href="javascript:;" class="btn yellow btn-sm padding-lf-15" onclick="javascript: history.back(-1);">返回</a>
                </div>
            </div>
        </form>
    </div>
<script type="text/javascript">

    function changeActualPaymentCost() {
        var roomCost = $("#RoomCost").val();
        var mealsCost = $("#MealsCost").val();
        var packageServiceCost = $("#PackageServiceCost").val();
        var incrementCost = $("#IncrementCost").val();
        var actualPaymentCost = 0;
        actualPaymentCost = parseFloat(roomCost) + parseFloat(mealsCost) + parseFloat(packageServiceCost) + parseFloat(incrementCost);
        $("#ActualPaymentCost").val(-actualPaymentCost);
    }
    @*$(document).ready(function () {

        var form = $("#ReliefBillForm");

        $("#submitReliefBill").click(function () {

            var id = $("select[name=BillId]").val();
            var actualPaymentCost = $("#ActualPaymentCost").val();
            var maxReliefCost = $("#MaxReliefCost").val();

            $.get("@Url.Action("IsCheckOut", "Bill")?billId=" + id + "&actualPaymentCost=" + actualPaymentCost + "&maxReliefCost=" + maxReliefCost, function (result) {
                if (result.Result) {
                    App.confirm(function () {
                        form.submit();
                    }, function () {
                    }, "实际减免额度大于账单最大减免额度，是否继续执行减免操作？");
                    return;
                }
                form.submit();
            });
        });

        @*$(".customerReliefBills").change(function () {
            var id = $("select[name=BillId]").val();
            if (id !== "") {
                $.get("@Url.Action("GetCustomerBillMaxReliefCost", "Bill")?billId=" + id, function(result) {
                    if (result.success) {
                        if (@Model.BillId == id) {
                            $("#MaxReliefCost").val(parseFloat(result.MaxReliefCost) + parseFloat(@Model.ActualPaymentCost*-1));
                        } else {
                            $("#MaxReliefCost").val(result.MaxReliefCost);
                        }
                        return;
                    }
                });
            } else {
                $("#MaxReliefCost").val(0);
                return;
            }
        });
    });*@
</script>
