@using PensionInsurance.Entities
@using PensionInsurance.Web.Common
@using PensionInsurance.Shared
@model PensionInsurance.Web.Views.ContractServicePackChange.EditViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
}
<div>
    <div class="full-height-content-body">
        <form data-ajax="true" id="contractServicePackChangeForm" action="@Url.Action("Submit", "ContractServicePackChange", new {returnUrl = Url.Action("Detail", "Contract",new {id = Model.ContractId})})" method="POST" class="form-horizontal">
            <div class="portlet light portlet-fit portlet-form protlet-border">
                <div class="portlet-title title-style">
                    <div class="caption">
                        <i class="icon-bubble font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp sbold">协议信息</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">变更日期</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-inline date-picker" name="ChangeDate" data-date-format="yyyy-mm-dd" value="@Model.ChangeDate.DateString()" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">生活能力级别</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.ConcernType, SettingType.护理类型, true)
                                        <input type="hidden" id="ProjectId" name="ProjectId" value="@Model.ProjectId" />
                                        @Html.HiddenFor(m => m.Status)
                                        @Html.HiddenFor(m => m.ContractServicePackChangeId)
                                        @Html.HiddenFor(m => m.ContractServicePackChangeNo)
                                        @Html.HiddenFor(m => m.ContractId)
                                        @Html.HiddenFor(m => m.CustomerName)
                                        @Html.HiddenFor(m => m.ChangeEndDate)
                                        @Html.HiddenFor(m => m.FileName)
                                        @Html.HiddenFor(m => m.FilePath)
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">服务包级别</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.ServiceLevel, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-title title-style">
                    <div class="caption">
                        <i class="icon-bubble font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp sbold">收费信息</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    @if (Model.Contract.ContractTemplate == ContractTemplate.养老机构服务合同20160101)
                    {
                        <label class="caption-subject font-green-sharp sbold">短期</label>
                        <div class="row" style="margin-top: 5px;">
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">服务包费用</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="ShortServiceMonthlyAmount" name="ShortServiceMonthlyAmount" value="@Model.ShortServiceMonthlyAmount.FormatString()" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">失智服务费</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.ShortConcernAmount, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">附加服务费</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.ShortAttachAmount, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <label class="caption-subject font-green-sharp sbold">长期</label>
                    }
                    <div class="form-body">
                        <div class="row" style="margin-top: 5px;">
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">服务包费用</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="LongServiceMonthlyAmount" name="LongServiceMonthlyAmount" value="@Model.LongServiceMonthlyAmount.FormatString()" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">失智服务费</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.LongConcernAmount, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">附加服务费</label>
                                    <div class="col-md-8">
                                        @Html.InputText(m => m.LongAttachAmount, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @if (!string.IsNullOrWhiteSpace(Model.FilePath))
                {
                    <div class="portlet-title title-style">
                        <div class="caption">
                            <i class="icon-bubble font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp sbold">合同附件</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="form-body">
                            <div class="row" style="margin-top: 2px;">
                                <div class="col-md-12">
                                    <a href="@Url.Content(Model.FilePath)" target="_blank">@Model.FileName</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @Html.Partial("~/Views/TrackingResult/_TrackingResults.cshtml", Model.TrackingResult)

            <div class="errors alert alert-danger fade in" style="display: none;"></div>
            <div class="form-actions">
                <div class="text-center">
                    @if (Model.Status == ContractAddtionalStatus.新建)
                    {
                        if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.服务包补充协议, Permission.新增))
                        {
                            <button type="submit" class="btn green btn-sm padding-lf-15">提交</button>
                        }
                        if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.服务包补充协议, Permission.作废))
                        {
                            <a href="javascript:;" data-command="@Model.DraftAndDelete(Model.ContractServicePackChangeId, Model.ContractId).ToJavascript()" class="btn red btn-sm padding-lf-15">作废</a>
                        }
                    }
                    <a href="@Url.Action("Detail", "Customer", new {customerAccountId = Model.CustomerAccountId})" class="btn yellow btn-sm padding-lf-15">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js") type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/clockface/js/clockface.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js") type="text/javascript"></script>
    <script type="text/javascript">
        var funcs = {
            updateButtons: function () {
                var checked = $(".checkboxes:checked").length > 0;
                var buttons = $(".batch-button");
                buttons.prop("disabled", !checked);
                if (checked) {
                    buttons.removeClass("disabled");
                } else {
                    buttons.addClass("disabled");
                }
            }
        };

        $(document).ready(function () {

            // 选择服务项目
            $("#serviceChoose").click(function () {
                $('#serviceInfo').modal('show');
            });

            $(".group-checkable").change(function () {
                var checkAll = $(this);
                var checked = checkAll.is(":checked");
                checkAll.closest(".table").find(".checkboxes").prop("checked", checked).uniform("refresh");
                funcs.updateButtons();
            });

            $(".checkboxes").change(function () {
                funcs.updateButtons();
            });

            cascadeDropdown();
        });

        function cascadeDropdown() {
            var projectId = $("#ProjectId");
            var serviceLevel = $("#ServiceLevel");
            var concernType = $("#ConcernType");

            concernType.change(function () {
                var $this = $(this);
                var nursinglevel = 0;
                var liveLevel = 0;//服务包级别
                if ($this.val() == '@ConcernType.失智照护1级.ToString()') {
                    nursinglevel = 1;
                    liveLevel = 1;
                }
                if ($this.val() == '@ConcernType.失智照护2级.ToString()') {
                    nursinglevel = 2;
                    liveLevel = 2;
                }
                if ($this.val() == '@ConcernType.失智照护3级.ToString()') {
                    nursinglevel = 3;
                    liveLevel = 3;
                }
                if ($this.val() == '@ConcernType.失智照护4级.ToString()') {
                    nursinglevel = 4;
                    liveLevel = 4;
                }
                if ($this.val() == '@ConcernType.生活照料1级.ToString()') {
                    liveLevel = 1;
                }
                if ($this.val() == '@ConcernType.生活照料2级.ToString()') {
                    liveLevel = 2;
                }
                if ($this.val() == '@ConcernType.生活照料3级.ToString()') {
                    liveLevel = 3;
                }
                if ($this.val() == '@ConcernType.生活照料4级.ToString()') {
                    liveLevel = 4;
                }

                if ($this.val() == '@ConcernType.独立型.ToString()') {
                    nursinglevel = 0;
                    liveLevel = 0;
                }
                serviceLevel.val(liveLevel);

                getCost(serviceLevel);

                if (nursinglevel != 0) {
                    $.get("@Url.Action("GetServicePackage", "Contract")" + "?projectId=" + projectId.val() + "&level=" + nursinglevel+ "&contractId=" + @Model.ContractId,
                        function (result) {
                            $("#LongConcernAmount").val(result.MCLongPrice);
                            $("#ShortConcernAmount").val(result.MCShortPrice);
                        });
                } else {
                    $("#LongConcernAmount").val(0);
                    $("#ShortConcernAmount").val(0);
                }

            });
        }

        function getCost(serviceLevel) {
            var projectId = $("#ProjectId");
            if (serviceLevel.val() != "") {
                $.get("@Url.Action("GetServicePackage", "Contract")" + "?projectId=" + projectId.val() + "&level=" + serviceLevel.val()+ "&contractId=" + @Model.ContractId,
                   function (result) {
                       $("#ShortServiceMonthlyAmount").val(result.ShortPrice);
                       $("#LongServiceMonthlyAmount").val(result.LongPrice);
                   });
            }
            else {
                $("#ShortServiceMonthlyAmount").val(0);
                $("#LongServiceMonthlyAmount").val(0);
                $("#ShortMonthlyAmount").val(0);
                $("#LongMonthlyAmount").val(0);
            }
        }
    </script>
}
