@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.ProductSupplier.IndexViewModel
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Purchase")">采购管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>供应商价格管理</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>商品供应商查询
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Index","ProductSupplier",new {page = Model.Items.Page,pageSize = Model.Items.PageSize})" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">商品</label>
                                    <div class="col-md-9">
                                        <select name="Query.PurchaseProductId" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            @foreach (var item in Model.PurchaseProducts)
                                            {
                                                if (item.Value == Model.Query.PurchaseProductId.ToString())
                                                {
                                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">供应商</label>
                                    <div class="col-md-9">
                                        <select name="Query.PurchaseSupplierId" class="form-control input-small">
                                            <option value="">--未选择--</option>
                                            @foreach (var item in Model.PurchaseSuppliers)
                                            {
                                                if (item.Value == Model.Query.PurchaseSupplierId.ToString())
                                                {
                                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button type="submit" class="btn green">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">供应商价格管理列表</span>
                </div>
                <div class="actions">
                    @if (WebAppContext.Current.User.HasPermission(ModuleType.供应商价格管理, Permission.新增))
                    {
                        <a href="@Url.Action("Create", "ProductSupplier")" class="btn green">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            新增
                        </a>
                    }
                </div>
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table id="productlist" class="table table-hover table-scrollable">
                        <thead>
                            <tr>
                                <th> 商品 </th>
                                <th> 供应商 </th>
                                <th> 价格 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td> @item.PurchaseProduct.Name </td>
                                    <td> @item.PurchaseSupplier.Name </td>
                                    <td> @item.Price </td>
                                    <td>
                                        @if (WebAppContext.Current.User.HasPermission(ModuleType.供应商价格管理, Permission.编辑))
                                        {
                                            <a href="@Url.Action("Edit", "ProductSupplier", new {id = item.Id})" class="btn default btn-xs yellow-stripe">编辑</a>
                                        }
                                        @if (WebAppContext.Current.User.HasPermission(ModuleType.供应商价格管理, Permission.删除))
                                        {
                                            <a href="javascript:;" data-command="@Model.DeleteCommand(item.Id, Request.Url.ToString()).ToJavascript()" class="btn default btn-xs red-stripe">删除</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Partial("_Pagination", Model.Items)
                </div>
            </div>
        </div>
    </div>
</div>