@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.Order.AgainEditViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
<style>
    .productlist td {
        text-align: center;
    }

    .productlist th {
        text-align: center;
    }

    .input-group .form-control.touchspin {
        margin-top: 0px;
    }
</style>
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                采购管理<i class="fa fa-circle"></i>
            </li>
            <li>
                <span>订单详细</span>
            </li>
        </ul>
    </div>
}

<!-- END PAGE BAR -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered" style="height: auto;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">采购信息</span>
                </div>
            </div>
            <div class="form-body margin-top-20">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">项目：</label>
                            <div class="control-label col-md-9">
                                @Model.Cart.Project.Name
                                @Html.HiddenFor(x => x.Order.Id)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">采购类型：</label>
                            <div class="control-label col-md-9">
                                @Model.Cart.OrderType
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请人：</label>
                            <div class="control-label col-md-9">
                                @Model.Cart.PurchaseUser.RealName
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请部门：</label>
                            <div class="control-label col-md-9">
                                @Model.Cart.Department.Name
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">申请时间：</label>
                            <div class="control-label col-md-9">
                                @Model.Cart.PurchaseDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">到货时间:<span class="required"> * </span></label>
                            <div class="control-label col-md-6">
                                <input type="text" class="form-control form-control-inline" id="ArrivalTime" name="ArrivalTime" value="@Model.Order.ArrivalTime.Value.ToString("yyyy-MM-dd HH:mm")" data-date-format="yyyy-mm-dd hh:ii">
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Cart.OrderType == OrderType.计划采购单 || Model.Cart.OrderType == OrderType.餐饮部计划采购 || Model.Cart.OrderType == OrderType.营销类计划性采购)
                {
                    <div class="row margin-top-10">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">采购月份:<span class="required"> * </span></label>
                                <div class="control-label col-md-6">
                                    <input type="text" class="input-xs month-picker col-md-12" id="PurchaseMonth" name="PurchaseMonth" value="@Model.Order.PurchaseMonth.Value.ToString("yyyy-MM")" data-date-format="yyyy-MM">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.Cart.OrderType != OrderType.营销类特殊性采购 && Model.Cart.OrderType != OrderType.营销类紧急性采购)
            {
                <div class="portlet-title margin-top-20">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">采购列表</span>
                    </div>
                    <div class="actions">
                        <a href="@Url.Action("ProductList", "NewPurchase", new {cartId = Model.Cart.Id, returnUrl = "/Order/AgainEdit?id=" + Model.Order.Id})" class="btn green cart-add">新增</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table">
                        <table id="productlist" class="table table-bordered productlist">
                            <thead>
                                <tr>
                                    <th> 序号 </th>
                                    <th> 采购物品名称 </th>
                                    <th> 供应商名称 </th>
                                    <th> 品牌 </th>
                                    <th> 规格 </th>
                                    <th> 单位 </th>
                                    <th style="width: 120px;"> 数量 </th>
                                    <th> 单价 </th>
                                    <th> 金额 </th>
                                    <th>描述</th>
                                    @if (Model.Cart.OrderType != OrderType.食材采购单)
                                    {
                                        <th> 库存 </th>
                                    }
                                    <th> 资产类别 </th>
                                    <th> 备注及用途 </th>
                                    <th> 操作 </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Cart.CartItems.Count > 0)
                                {
                                    foreach (var item in Model.Cart.CartItems)
                                    {
                                        <tr id="ItemRow_@item.Id">
                                            <td> @Model.Cart.CartItems.RowNumberOf(item)</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Name</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseSupplier.Name</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Brand</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Specification</td>
                                            <td> @item.PurchaseProductSupplier.PurchaseProduct.Unit</td>
                                            <td>
                                                <div class="input-group bootstrap-touchspin input-group-xs">
                                                    <input type="text" data-id="@item.Id" value="@item.PurchaseQuantity" name="demo_vertical" class="form-control touchspin col-xs-2">
                                                </div>
                                            </td>
                                            <td> @item.PurchaseProductSupplier.Price</td>
                                            <td id="ItemAmountTotal_@item.Id"> @((item.PurchaseQuantity * item.PurchaseProductSupplier.Price).FormatString()) </td>
                                            <td class="tooltips" data-container="body" data-placement="top" data-original-title="@item.PurchaseProductSupplier.PurchaseProduct.Description">@item.PurchaseProductSupplier.PurchaseProduct.Description.SubString(20, "...")</td>
                                            @if (Model.Cart.OrderType != OrderType.食材采购单)
                                            {
                                                <td>@Model.GetStock(item.PurchaseProductSupplier.Id, Model.Cart.Project.Id)</td>
                                            }
                                            <td>@item.PurchaseProductSupplier.PurchaseProduct.AssetClass</td>
                                            <td>
                                                <input value="@item.Remarks" data-id="@item.Id" class="editRemarks" type="text" />
                                            </td>
                                            <td><a data-id="@item.Id" href="javascript:;" class="btn default btn-xs red-stripe deleteItem">删除</a></td>
                                        </tr>
                                    }
                                    <tr><td>合计</td><td colspan="7"></td><td>@(Model.Cart.CartItems.Sum(s => s.PurchaseQuantity * s.PurchaseProductSupplier.Price).FormatString())元</td><td></td><td></td><td></td><td></td><td></td></tr>
                                }
                                else
                                {
                                    <tr><td colspan="13" style="text-align: center;">暂无商品</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model.Cart.OrderType == OrderType.营销类特殊性采购 || Model.Cart.OrderType == OrderType.营销类紧急性采购 || Model.Cart.OrderType == OrderType.运营紧急采购 || Model.Cart.OrderType == OrderType.食材紧急采购)
            {
                <div class="portlet-title margin-top-20">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">其他物品</span>
                    </div>
                    <div class="actions">
                        <a href="javaScript:;" id="AddOtherItem" class="btn green cart-add">新增</a>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="table">
                        <table class="table table-bordered productlist">
                            <thead>
                                <tr>
                                    <th> 序号 </th>
                                    <th> 采购物品名称 </th>
                                    <th> 供应商名称 </th>
                                    <th> 品牌 </th>
                                    <th> 规格 </th>
                                    <th> 单位 </th>
                                    <th style="width: 120px;"> 数量 </th>
                                    <th> 单价 </th>
                                    <th> 金额 </th>
                                    <th> 资产类别 </th>
                                    <th> 备注及用途 </th>
                                    <th> 操作 </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Cart.OtherCartItems.Count > 0)
                                {
                                    foreach (var item in Model.Cart.OtherCartItems)
                                    {
                                        <tr id="OtherItemRow_@item.Id">
                                            <td> @Model.Cart.OtherCartItems.RowNumberOf(item)</td>
                                            <td> @item.ProductName</td>
                                            <td> @item.SupplierName</td>
                                            <td> @item.ProductBrand</td>
                                            <td> @item.ProductSpecification</td>
                                            <td> @item.ProductUnit</td>
                                            <td>@item.PurchaseQuantity</td>
                                            <td> @item.PurchasePrice</td>
                                            <td> @((item.PurchaseQuantity * item.PurchasePrice).FormatString()) </td>
                                            <td>@item.ProductAssetClass</td>
                                            <td>@item.Remarks</td>
                                            <td><a data-id="@item.Id" href="javascript:;" class="btn default btn-xs red-stripe otherdeleteItem">删除</a></td>
                                        </tr>
                                    }
                                    <tr><td>合计</td><td colspan="7"></td><td>@(Model.Cart.OtherCartItems.Sum(s => s.PurchaseQuantity * s.PurchasePrice).FormatString())元</td><td></td><td></td><td></td></tr>
                                }
                                else
                                {
                                    <tr><td colspan="12" style="text-align: center;">暂无商品</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            }
            @if (Model.Cart.OrderType == OrderType.运营紧急采购 || Model.Cart.OrderType == OrderType.食材紧急采购)
            {
                <div class="clearfix" style="text-align: right; margin-top: 10px;">
                    <span style="width: 100%; float: right; margin-bottom: 10px;">
                        采购单商品 <span id="totalQuantity">@Model.TotalQuantity</span> 件, 采购总金额：￥ <span id="totalAmount">@Model.TotalPrice.FormatString()</span> 元.
                    </span>
                </div>
            }
            @Html.Partial("~/Views/TrackingResult/_TrackingResults.cshtml", Model.TrackingResult)
        </div>

        <div class="form-actions">
            <div class="text-center">
                <button id="SubmitShoppingCart" class="btn green btn-sm padding-lf-15 ">提交</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js") type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            $(document)
                .on("click", "#AddOtherItem", function () {
                    App.dialog('#CreateOtherItem-form', '@Url.Action("CreateOtherItem", "PurchaseShoppingCart",new { cartId=Model.Cart.Id})', 'col-md-7 col-md-offset-2');
                });

            $("#ArrivalTime").datetimepicker({
                autoclose: true,
                todayBtn: true,
                language: "zh-CN"
            });

            $(".touchspin").TouchSpin({
                min: 1,
                max: 100000,
                step: 1,
                decimals: 0,
                buttondown_class: "btn btn-xs",
                buttonup_class: "btn btn-xs"
            });

            $(".deleteItem").click(function() {
                var $this = $(this);
                var id = $this.attr("data-id");
                $.get("@Url.Action("Delete", "NewPurchase")" + "?itemId=" + id + "&cartId=" + @Model.Cart.Id,
                    function(e) {
                        if (e.success) {
                            $("#totalQuantity").html(e.TotalQuantity);
                            $("#totalAmount").html(parseFloat(e.TotalAmount).toFixed(2));
                            var itemTotal = $("#ItemRow_" + id);
                            itemTotal.remove();;
                        }
                    });
                return false;
            });

            $(".otherdeleteItem").click(function() {
                var $this = $(this);
                var id = $this.attr("data-id");
                $.get("@Url.Action("DeleteOther", "NewPurchase")" + "?itemId=" + id + "&cartId=" + @Model.Cart.Id,
                    function(e) {
                        if (e.success) {
                            $("#totalQuantity").html(e.TotalQuantity);
                            $("#totalAmount").html(parseFloat(e.TotalAmount).toFixed(2));
                            var itemTotal = $("#OtherItemRow_" + id);
                            itemTotal.remove();;
                        }
                    });
                return false;
            });

            //修改备注
            $(".editRemarks").change(function () {
                var $this = $(this);
                var remarks = $this.val();
                if (remarks == "" || remarks.length == 0) {
                    return false;
                }
                var id = $this.attr("data-id");
                $.post("@Url.Action("UpdateShoppingCartItemRemarks", "NewPurchase")" + "?itemId=" + id + "&remarks=" + remarks);
                return false;
            });
            //修改数量
            $(".touchspin").change(function () {
                var $this = $(this);
                var quantity = $this.val();
                if (parseFloat(quantity) < 0) {
                    $this.val(1);
                    return false;
                }
                var id = $this.attr("data-id");
                $.get("@Url.Action("UpdateShoppingCartItemQuantity", "NewPurchase")" + "?itemId=" + id + "&cartId=" + @Model.Cart.Id + "&quantity=" + quantity,
                    function (e) {
                        if (e.success) {
                            $("#totalQuantity").html(e.TotalQuantity);
                            $("#totalAmount").html(parseFloat(e.TotalAmount).toFixed(2));
                            var itemTotal = $("#ItemAmountTotal_" + id);
                            itemTotal.html(e.ItemTotalAmount);
                        }
                    });
                return false;
            });
            $("#SubmitShoppingCart").on("click", function () {
                var arrivalTime = $('#ArrivalTime').val();
                var purchaseMonth = $('#PurchaseMonth').val();
                var orderId = $("#Order_Id").val();
                var monthBudgetAmount = $('#MonthBudgetAmount').val();
                App.confirm(function () {
                    var url = '@Url.Action("AgainEditSubmit", "Order")';
                    var command = {
                        OrderId: orderId,
                        CartId: '@Model.Cart.Id',
                        ArrivalTime: arrivalTime,
                        PurchaseMonth: purchaseMonth,
                        MonthBudgetAmount: monthBudgetAmount
                    };
                    postCommand(url, command, $(this));
                }, function () {
                }, "确认提交此采购订单");
                return false;
            });
        });
    </script>
}