@using PensionInsurance.Entities
@using PensionInsurance.Query
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.Order.ConfirmOrderViewModel
<!-- BEGIN PAGE BAR -->
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<style>
    .purchase {
        margin-top: -5px;
    }
</style>
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Purchase")">采购管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>@Model.OrderType.ToString()</span>
            </li>
        </ul>
    </div>
}
<!-- END PAGE BAR -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered" style="height: auto;">

            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">采购信息</span>
                </div>
            </div>
            <div class="form-body margin-top-20">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">项目：@Model.Project.Name</label>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">采购类型：@Model.OrderType</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">开始时间：@Model.PurchaseStartDate.ToString("yyyy-MM-dd")</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">结束时间：@Model.PurchaseEndDate.ToString("yyyy-MM-dd")</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-title margin-top-10">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">采购列表</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table">
                    <table id="productlist" class="table table-bordered">
                        <thead>
                            <tr>
                                <th> 序号 </th>
                                <th> 采购时间 </th>
                                <th> 供应商 </th>
                                <th> 采购人 </th>
                                <th style="text-align: center;"> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (Model.PurchaseOrderAcceptances != null)
                        {
                            foreach (var item in Model.PurchaseOrderAcceptances)
                            {
                            <tr>
                                <td>@Model.PurchaseOrderAcceptances.RowNumberOf(item) </td>
                                <td> @item.PurchaseOrder.OrderDate.ToString("yyyy-MM-dd")</td>
                                <td> @item.PurchaseSupplier.Name</td>
                                <td> @item.PurchaseOrder.User.RealName</td>
                                <td style="text-align: center;">
                                    <a href="Javascript:;" data-orderAcceptanceId="@(item.Id)" data-supplier="@(item.PurchaseOrder.OrderDate.ToString("yyyy-MM-dd")+item.PurchaseSupplier.Name)" class="btn default btn-xs red-stripe showDialog">查看明细</a>
                                </td>
                            </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="5" style="text-align: center;">暂无订单</td></tr>
                        }
                        <tr><td colspan="5">合计：￥ @Model.TotalAmount 元.</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <div class="text-center">
                @if (WebAppContext.Current.User.HasPermission(ModuleType.采购管理, Permission.确认) && Model.PurchaseOrderAcceptances!=null)
                {
                    <a href="javascript:;" id="submitFoodPurchaseOrder" class="btn green btn-sm padding-lf-15">提交</a>
                }
                <a href="javascript:history.back(-1)" class="btn yellow btn-sm padding-lf-15">返回</a>
            </div>
        </div>
    </div>
</div>
<div id="dlgModelInfo" class="modal fade">
    <div class="modal-dialog bottom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="bodyTitle"><span></span>采购明细</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> 序号 </th>
                            <th> 商品名 </th>
                            <th> 规格 </th>
                            <th> 单位 </th>
                            <th> 单价（元） </th>
                            <th> 数量 </th>
                            <th> 总价（元） </th>
                        </tr>
                    </thead>
                    <tbody id="orderdetail"></tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $("#submitFoodPurchaseOrder").on("click", function() {
                App.confirm(function() {
                    var url = '@Url.Action("SubmitFoodPurchaseOrder", "Order")';
                    var command = {
                        ProjectId: '@(Model.Project.Id)',
                        OrderType: '@(Model.OrderType)',
                        PurchaseStartDate: '@(Model.PurchaseStartDate)',
                        PurchaseEndDate: '@(Model.PurchaseEndDate)'
                    };
                    postCommand(url, command, $(this));
                }, function() {
                }, "确认提交此采购确认单");
                return false;
            });

            $(document).on("click", ".showDialog", function () {
                var orderId = $(this).attr("data-orderAcceptanceId");
                var supperlier = $(this).attr("data-supplier");
                $("#orderdetail").empty();
                var infoBody = "";
                $.get("@Url.Action("FoodOrderDetail", "Order")" + "?orderAcceptanceId=" + orderId,
               function (e) {
                   if (e.Result) {
                       $.each(e.Data, function (idx, data) {
                           infoBody += getBody(data);
                       });
                       $("#orderdetail").append(infoBody);
                       $("#bodyTitle span").html(supperlier);
                       $("#orderdetail").append("<tr><td colspan='7'>合计：" + e.TotalPrice + "元</td></tr>");
                       $('#dlgModelInfo').modal('show');
                   }
               });

            });
        });

        function getBody(data) {
            var infoBody = "";
            infoBody += "<tr>";
            infoBody += "<td >";
            infoBody += data.No;
            infoBody += "</td>";
            infoBody += "<td>";
            infoBody += data.Name;
            infoBody += "</td>";
            infoBody += "<td>";
            infoBody += data.Specification;
            infoBody += "</td>";
            infoBody += "<td>";
            infoBody += data.Unit;
            infoBody += "</td>";
            infoBody += "<td>";
            infoBody += data.Price;
            infoBody += "</td>";
            infoBody += "<td>";
            infoBody += data.Count;
            infoBody += "</td>";
            infoBody += "<td>";
            infoBody += data.TotalAmount;
            infoBody += "</td>";
            infoBody += "</tr>";
            return infoBody;
        }
    </script>
}