@model PensionInsurance.Web.Views.ConsultingOrderFood.CreateViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/clockface/css/clockface.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/assets/global/plugins/jquery-city-picker/css/city-picker.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>销售点餐新增</span>
            </li>
        </ul>
    </div>
}
<div>
    <div class="full-height-content-body">
        <form id="menuForm" data-ajax="true" action="@Url.Action("Create", "ConsultingOrderFood", new {returnUrl = Url.Action("Index", "Home") })" method="POST" class="form-horizontal">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">点餐信息</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">点餐来源</label>
                                    <div class="col-md-10">
                                        @Html.HiddenFor(m => m.ProjectId)
                                        <input type="text" class="form-control" value="@Model.SourceType" id="SourceType" name="SourceType" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">详细来源</label>
                                    <div class="col-md-10">
                                        <select id="ForeignkeyId" name="ForeignkeyId" class="form-control input-small"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2px;">
                            @Html.HiddenFor(m => m.UnitPrice)
                            @Html.HiddenFor(m => m.ProjectServicePackCatalogId)
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">服务项目</label>
                                    <div class="col-md-10">
                                        <input type="text" id="ProjectServicePackCatalog" class="form-control input-small" />
                                        <input type="hidden" name="ProjectServicePackCatalog" id="ProjectServicePackCatalogValue" value="" />
                                        <input type="hidden" name="ServiceRecordType" value="@Model.ServiceRecordType" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">服务次数</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="ServiceAmount" name="ServiceAmount" value="@Model.ServiceAmount" onchange="changeValue();" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">服务日期</label>
                                    <div class="col-md-10">
                                        <input type="text" id="ServiceDate" class="form-control form-control-inline date-picker" name="ServiceDate" data-date-format="yyyy-mm-dd" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">服务说明</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="ProjectServicePackCatalogRemark" name="ProjectServicePackCatalogRemark" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">服务单价</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="UnitPriceDescription" name="UnitPriceDescription" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">金额合计</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="Total" name="Total" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">备注</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" id="Remark" name="Remark" style="resize: none;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fromErrors" class="errors alert alert-danger fade in" style="display: none;"></div>
            <div class="form-actions">
                <div class="text-center">
                    <button type="submit" class="btn green btn-sm padding-lf-15 ">保存</button>
                    <a href="@Url.Action("Index", "ConsultingOrderFood")" class="btn yellow btn-sm padding-lf-15">返回</a>
                </div>
            </div>
        </form>
    </div>
    <div class="modal small fade" id="consumptiveMaterialInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:600px;height:auto;">
            <div class="modal-content">
                <div class="modal-body">
                    <form data-ajax="true" action="#" method="POST" class="form-horizontal">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="portlet light bordered">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-social-dribbble font-green"></i>
                                                    <span class="caption-subject font-green bold uppercase">耗材信息</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div id="consumptiveErrors" class="errors alert alert-danger fade in" style="display: none;"></div>
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">耗材名称</label>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="KeyValue" name="KeyValue" oninput="getConsumptiveMaterial();" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>&nbsp;</th>
                                                                <th>耗材</th>
                                                                <th>价格</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="bodyInfo"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p>
                                                <div class="text-center">
                                                    <button type="button" class="btn green btn-sm padding-lf-15" onclick="addConsumptiveMaterial();">添加</button>
                                                    <button type="button" class="btn yellow btn-sm padding-lf-15" data-dismiss="modal">返回</button>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal small fade" id="projectServicePackCatalogsModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:1000px;height:auto;">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="portlet box orange">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>选择服务项目
                            </div>
                        </div>
                        <div class="portlet-body" style="display: block;">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">
                                        @{ var index = 0; }
                                        @foreach (var service in Model.ProjectServicePackCatalogsByTypes)
                                        {
                                        <li class="">
                                            <a href="#tab_6_@index" data-toggle="tab" aria-expanded="true"> @service.Key </a>
                                        </li>
                                            index++;
                                        }
                                    </ul>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <div class="tab-content">
                                        @{ var valueIndex = 0; }
                                        @foreach (var service in Model.ProjectServicePackCatalogsByTypes)
                                        {
                                        <div class="tab-pane active in" id="tab_6_@valueIndex">
                                            <div class="city-select-content">
                                                <div class="city-select service-@valueIndex" data-count="city" style="display: block;">
                                                    <dl class="clearfix">
                                                        <dd>
                                                            @foreach (var item in service.Value)
                                                                {
                                                                <a title="@item.Text" class="service-selected" data-value="@item.Value" data-json="@item.Json" data-text="@item.Text">@item.Text</a>
                                                                }
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                            valueIndex++;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js") type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/clockface/js/clockface.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/scripts/app.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/assets/global/plugins/select2/js/i18n/zh-CN.js") type="text/javascript"></script>
    <script type="text/javascript">

        var consumptiveMaterialList = {}; // 耗材信息列表
        var errors = $("#fromErrors");
        var serviceErrors = $("#serviceErrors");
        var consumptiveErrors = $("#consumptiveErrors");

        $(document).ready(function () {
            $('#ServiceDate').datepicker({
                multidate: true
            });
            $(".select2").select2();
            $("#ProjectServicePackCatalog").on("change", function () {
                if ($(this).val()) {
                    var data = JSON.parse($(this).val());
                    $("#UnitPrice").val(data.UnitPrice ? data.UnitPrice : "");
                    $("#ServiceAmount").val(1);
                    var unitString = parseInt(data.UnitPrice).toString();
                    if (data.UnitPriceRemark.indexOf(unitString) === -1) {
                        $("#UnitPriceDescription").val(data.UnitPrice + '/' + data.UnitPriceRemark);
                    } else {
                        $("#UnitPriceDescription").val(data.UnitPriceRemark);
                    }
                    $("#UnitPriceDescription").val(data.UnitPriceRemark);
                    $("#ProjectServicePackCatalogRemark").val(data.Remark);
                    $("#ProjectServicePackCatalogId").val(data.Id);

                    if ($(this).val().indexOf("包月") > 0) {
                        $("#ServiceAmount").prop("readonly", "readonly");
                    } else {
                        $("#ServiceAmount").removeProp("readonly");
                    }
                } else {
                    $("#UnitPrice").val("");
                    $("#UnitPriceDescription").val("");
                    $("#ServiceAmount").val(1);
                    $("#ProjectServicePackCatalogRemark").val("");
                    $("#ProjectServicePackCatalogId").val("");
                }

                getTotal();
            });

        });

        $(document).ready(function () {
            $("#ForeignkeyId").select2({
                ajax: {
                    url: "@Url.Action("GetsourceItems", "ConsultingOrderFood")",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            keyword: params.term,
                            projectId: @Model.ProjectId,
                            sourceType: '@Model.SourceType'
                        };
                    },
                    processResults: function (data, params) {
                        var proceedData = $.map(data, function (result) {
                            result.id = result.CId;
                            result.text = result.Name;
                            return result;
                        });
                        return {
                            results: proceedData
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                language: "zh-CN"
            });
        });

        $(document).ready(function () {

            $('#ProjectServicePackCatalog').click(function () {
                $('#projectServicePackCatalogsModalInfo').modal('show');
            });

            $('.service-selected').click(function () {
                var $this = $(this);
                var value = $this.attr('data-value');
                var text = $this.attr('data-text');
                var json = $this.attr('data-json');
                $('#ProjectServicePackCatalog').val(text);
                $('#ProjectServicePackCatalogValue').val(value);
                $('#projectServicePackCatalogsModalInfo').modal('hide');

                if (json) {
                    var data = JSON.parse(json);
                    $("#UnitPrice").val(data.UnitPrice ? data.UnitPrice : "");
                    $("#ServiceAmount").val(1);
                    var unitString = parseInt(data.UnitPrice).toString();
                    if (data.UnitPriceRemark.indexOf(unitString) === -1) {
                        $("#UnitPriceDescription").val(data.UnitPrice + '/' + data.UnitPriceRemark);
                    } else {
                        $("#UnitPriceDescription").val(data.UnitPriceRemark);
                    }
                    $("#ProjectServicePackCatalogRemark").val(data.Remark);
                    $("#ProjectServicePackCatalogId").val(data.Id);

                    if (json.indexOf("包月") > 0) {
                        $("#ServiceAmount").prop("readonly", "readonly");
                    } else {
                        $("#ServiceAmount").removeProp("readonly");
                    }
                } else {
                    $("#UnitPrice").val("");
                    $("#UnitPriceDescription").val("");
                    $("#ServiceAmount").val(1);
                    $("#ProjectServicePackCatalogRemark").val("");
                    $("#ProjectServicePackCatalogId").val("");
                }

                getTotal();
            });

            $(document).on('click', "tr.materialCheck", function () {
                $this = $(this);
                var checkbox = $this.find('input:checkbox[name="consumptive"]');
                var checked = checkbox.prop('checked');
                if (!checked) {
                    checkbox.prop('checked', true);
                } else {
                    checkbox.removeProp('checked');
                }
            });

        });

        // 服务数量变化时，计算合计
        function changeValue() {
            var serviceAmount = $("#ServiceAmount").val();
            var unitPrice = $("#UnitPrice").val();
            if (unitPrice.length == 0) {
                errors.find("p").remove();
                errors.hide();
                errors.append("<p>请选择一个服务项目</p>");
                errors.show();
            } else {
                if (serviceAmount.length != 0) {
                    if (isNaN(serviceAmount)) {
                        errors.find("p").remove();
                        errors.hide();
                        errors.append("<p>请输入数字</p>");
                        errors.show();
                    } else {
                        if ($("#ProjectServicePackCatalog").val().indexOf("特别点单") <= 0) {
                            if (serviceAmount <= 0) {
                                errors.find("p").remove();
                                errors.hide();
                                errors.append("<p>输入的数字必须大于0</p>");
                                errors.show();
                            } else if (parseInt(serviceAmount) != serviceAmount) {
                                errors.find("p").remove();
                                errors.hide();
                                errors.append("<p>服务次数不能包含小数</p>");
                                errors.show();
                            } else {
                                errors.find("p").remove();
                                errors.hide();
                                if (!isNaN(unitPrice)) {
                                    getTotal();
                                }
                            }
                        } else {
                            if (serviceAmount < 0) {
                                errors.find("p").remove();
                                errors.hide();
                                errors.append("<p>服务次数不能为负数</p>");
                                errors.show();
                            } else {
                                errors.find("p").remove();
                                errors.hide();
                                if (!isNaN(unitPrice)) {
                                    getTotal();
                                }
                            }
                        }
                    }
                }
            }
        }

        // 合计计算
        function getTotal() {
            var unitPrice = $("#UnitPrice").val(); // 单价
            var serviceAmount = $("#ServiceAmount").val(); // 服务次数
            var objTr = $("input[name='consumptiveTotal']");

            var temp = 0;
            $.each(objTr, function (i, item) {
                var obj = $(item);
                temp = parseFloat(temp) + parseFloat(obj.val());
            });

            var total = (parseFloat(unitPrice) * parseFloat(serviceAmount) + parseFloat(temp)).toFixed(2);
            if (total) {
                $("#Total").val(total);
            } else {
                $("#Total").val(0);
            }


            var radio = $('input:radio[name="ServiceRecordType"]:checked').val();

            $("#ConsumptiveMaterialList").val(JSON.stringify(consumptiveMaterialList));
        }

        // 查询耗材信息
        function getConsumptiveMaterial() {
            $("#bodyInfo").empty();
            var infoBody = "";
            $.get("@Url.Action("GetConsumptiveMaterials", "CustomerServiceRecord")" + "?key=" + $("#KeyValue").val(),
                function (result) {
                    $.each(result, function (idx, data) {
                        infoBody += getConsumptiveMaterialBody(data);
                    });
                    $("#bodyInfo").append(infoBody);
                });
        }

        function getConsumptiveMaterialBody(data) {
            var infoBody = "";
            infoBody += "<tr id=" + data.Id + " class='materialCheck'>";
            infoBody += "<td >";
            infoBody += "<input type=\"checkbox\" name=\"consumptive\" class=\"group-checkable\" value=" + data.Id + " />";
            infoBody += "</td>";
            infoBody += "<td>";
            infoBody += data.Name;
            infoBody += "</td>";
            infoBody += "<td>";
            infoBody += data.UnitPrice;
            infoBody += "</td>";
            infoBody += "<td style=\"DISPLAY:none\">";
            infoBody += data.Id;
            infoBody += "</td>";
            infoBody += "</tr>";

            return infoBody;
        }
    </script>
}
