@model PensionInsurance.Web.Views.Payments.UnionPay.POS.DetailViewModel
@section Styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css") rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>支付详细信息</span>
            </li>
        </ul>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">支付信息</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row margin-bottom-20 margin-top-20">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">客户名称：</label>
                            <div class="col-md-7">
                                @Model.CustomerName
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">客户编号：</label>
                            <div class="col-md-7">
                                @Model.CustomerNo
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">订单编号：</label>
                            <div class="col-md-7">
                                @Model.CustomerPaymentOrderNo
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <img width="200" height="200" alt="" src="@Url.Action("QRCode", "POS", new { customerPaymentOrderNo = Model.CustomerPaymentOrderNo })">
                    </div>
                    <div class="col-md-7">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td class="hidden-xs"> @item.PaymentCaption </td>
                                    <td>
                                        @item.PaymentAmount
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="hidden-xs text-right"> 合计 </td>
                                <td class="font-green caption-subject">
                                    @Model.Items.Sum(x=>x.PaymentAmount)
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                @*<div class="form-actions">
                    <div class="text-center">
                        <button type="button" class="btn yellow btn-sm padding-lf-15" onclick="javascript: history.back(-1);">返回上一页</button>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
